Repository serenity-rs/serenity, pull requests merged in 2018-07, with the labels that each got.

#347 Fix dead doc-links and add missing ones
  src/model/event.rs
Labels: docs, fix

#345 Add a message cache API
  src/cache/mod.rs
  src/cache/settings.rs
  src/client/dispatch.rs
  src/lib.rs
  src/model/event.rs
  tests/test_cache.rs
Labels: enhancement

#348 impl Mentionable for GuildChannel
  src/model/misc.rs
Labels: enhancement

#349 Add checks for groups
  examples/05_command_framework/src/main.rs
  src/framework/standard/command.rs
  src/framework/standard/create_command.rs
  src/framework/standard/create_group.rs
  src/framework/standard/mod.rs
Labels: enhancement

#343 Support multiple prefixes for command-groups
  examples/05_command_framework/src/main.rs
  src/framework/standard/command.rs
  src/framework/standard/create_group.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/mod.rs
Labels: enhancement

#350 Do not suggest command if no command is actually related to input
  src/framework/standard/help_commands.rs
Labels: fix

#351 Add default-commands for command-groups
  examples/05_command_framework/src/main.rs
  src/framework/standard/command.rs
  src/framework/standard/create_group.rs
  src/framework/standard/mod.rs
Labels: enhancement

#352 Fix default-commands if dispatch started via a mention of the bot
  src/framework/standard/mod.rs
Labels: fix

#356 Make GuildId::member use the cache when possible
  src/model/guild/guild_id.rs
Labels: enhancement
