Repository serenity-rs/serenity, pull requests merged in 2018-04, with the labels that each got.

#299 Fix NSFW related docs
  src/model/channel/group.rs
  src/model/channel/guild_channel.rs
  src/model/channel/mod.rs
  src/model/channel/private_channel.rs
  src/utils/mod.rs
Labels: docs, fix

#297 Remove user account relations
  migrations/.gitkeep
  src/builder/edit_profile.rs
  src/gateway/mod.rs
  src/http/mod.rs
  src/http/ratelimiting.rs
  src/model/guild/emoji.rs
Labels: enhancement

#303 fix: don't include optional params if left blank in audit logs
  src/http/mod.rs
Labels: fix

#305 fix: make the options in Options optional
  src/model/guild/audit_log.rs
Labels: fix

#307 Fix typo of the word `retrieve`.
  src/utils/mod.rs
Labels: fix

#306 Send silence frames upon connection (Fix #301)
  src/voice/audio.rs
  src/voice/connection.rs
Labels: fix

#310 Fix voice hang on Audio `.stop()`.
  src/voice/streamer.rs
Labels: fix
