Repository serenity-rs/serenity, pull requests merged in 2018-09, with the labels that each got.

#377 Suggest similar commands
  examples/05_command_framework/src/main.rs
  src/framework/standard/command.rs
  src/framework/standard/create_help_command.rs
  src/framework/standard/help_commands.rs
Labels: enhancement

#381 Check if bots are ignored before dispatching `unrecognised_command`
  src/framework/standard/mod.rs
Labels: fix

#384 Fix group-prefix ambiguity in help
  src/framework/standard/help_commands.rs
Labels: fix

#385 Add single group help
  examples/05_command_framework/src/main.rs
  src/framework/standard/command.rs
  src/framework/standard/create_group.rs
  src/framework/standard/help_commands.rs
Labels: enhancement

#386 Add missing usage on plain help
  src/framework/standard/help_commands.rs
Labels: docs, fix

#387 Add tests for help
  src/framework/standard/help_commands.rs
Labels: enhancement

#388 Add `Usage Sample`-field back to help.
  src/framework/standard/help_commands.rs
Labels: fix

#389 Check if a group is empty and exclude them if that's the case.
  src/framework/standard/help_commands.rs
Labels: fix

#393 Fix compiling with 'standard_framework', but without 'cache'
  src/framework/standard/help_commands.rs
Labels: fix

#395 Make `trim` return `&mut self`
  src/framework/standard/args.rs
Labels: enhancement

#397 Remove mildly annoying, inconsistent braces
  src/http/error.rs
Labels: enhancement

#399 Fix dead links in the http::raw module
  src/http/raw.rs
Labels: docs, fix
