Repository serenity-rs/serenity, pull requests merged in 2018-10, with the labels that each got.

#404 A bunch of typo fixes
  src/builder/edit_guild.rs
  src/builder/edit_role.rs
  src/builder/execute_webhook.rs
  src/client/bridge/gateway/shard_runner_message.rs
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/framework/standard/command.rs
  src/framework/standard/configuration.rs
  src/framework/standard/create_command.rs
  src/framework/standard/create_help_command.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/mod.rs
  src/http/ratelimiting.rs
  src/http/raw.rs
  src/model/invite.rs
  src/model/permissions.rs
  src/model/user.rs
  src/voice/threading.rs
Labels: docs, fix

#412 Fix Default Command to inherit Group-Options
  src/framework/standard/create_group.rs
  src/framework/standard/mod.rs
Labels: fix

#415 Add configuration for the write lock the cache is using to update.
  src/cache/mod.rs
  src/cache/settings.rs
  src/client/dispatch.rs
Labels: enhancement

#419 Add Option to disable bypassing Checks for Owners
  src/framework/standard/command.rs
  src/framework/standard/create_command.rs
  src/framework/standard/create_group.rs
  src/framework/standard/mod.rs
Labels: enhancement

#416 Prefix only Command
  examples/05_command_framework/src/main.rs
  src/framework/standard/command.rs
  src/framework/standard/configuration.rs
  src/framework/standard/mod.rs
Labels: enhancement

#418 Fix NSFW Checks
  src/model/channel/channel_category.rs
  src/model/channel/group.rs
  src/model/channel/guild_channel.rs
  src/model/channel/mod.rs
  src/model/channel/private_channel.rs
  src/utils/mod.rs
Labels: fix

#422 Add Guideline about maximum Characters per Line
  CONTRIBUTING.md
Labels: enhancement

#423 Fix of serenity always writing out the deadlock warning even though it got the write lock.
  src/client/dispatch.rs
Labels: fix

#414 Add Function to neutralise Mentions
  examples/05_command_framework/src/main.rs
  src/model/channel/channel_id.rs
  src/model/guild/role.rs
  src/utils/mod.rs
Labels: enhancement
