Repository serenity-rs/serenity, pull requests merged in 2019-08, with the labels that each got.

#675 Tidy up some of the framework code
  src/framework/standard/mod.rs
  src/framework/standard/parse/mod.rs
Labels: enhancement, framework

#677 Add support for store channel.
  src/model/channel/mod.rs
Labels: discord feature, enhancement, model

#678 Avoid searching the cache for the guild id when we already have it
  src/model/channel/channel_category.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/reaction.rs
  src/model/invite.rs
  src/model/utils.rs
Labels: fix, model

#681 Fix content of messages if there is a attachment
  src/builder/create_message.rs
  src/model/channel/channel_id.rs
Labels: fix, model

#685 fix a small typo in examples
  examples/06_voice/src/main.rs
Labels: fix

#682 Improve the command_attr codebase further.
  command_attr/Cargo.toml
  command_attr/src/attributes.rs
  command_attr/src/lib.rs
  command_attr/src/structures.rs
  command_attr/src/util.rs
Labels: command_attr, enhancement

#683 Link to ShardMessenger::chunk_guilds from the Guild.members field
  src/model/guild/mod.rs
Labels: docs, enhancement, gateway, model

#674 Added group removal and non-consuming group adding functions to StandardFramework
  src/framework/standard/mod.rs
Labels: enhancement, framework

#686 Allow delimiters to be set on a per command basis
  command_attr/src/lib.rs
  command_attr/src/structures.rs
  src/framework/standard/mod.rs
  src/framework/standard/structures/mod.rs
Labels: command_attr, enhancement, framework

#688 Move webpki[-roots] dependencies under rustls_backend
  Cargo.toml
Labels: enhancement, fix

#687 Fix plain help suggestions
  src/framework/standard/help_commands.rs
Labels: docs, fix, framework

#680 Play a YouTube Search's first Video
  src/voice/mod.rs
  src/voice/streamer.rs
Labels: enhancement, voice

#689 Add Methods to get Permissions of `Roles` in `GuildChannel`s
  src/framework/standard/mod.rs
  src/framework/standard/parse/mod.rs
  src/model/channel/guild_channel.rs
  src/model/error.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/utils.rs
Labels: enhancement, framework, model

#700 Allow users to create their own messages
  src/utils/custom_message.rs
  src/utils/mod.rs
Labels: enhancement, utils

#705 Update all dependencies.
  Cargo.toml
  src/internal/ws_impl.rs
Labels: breaking change, dependencies, enhancement, fix

#708 readme: Updated related project's hrefs
  README.md
Labels: enhancement

#701 Added support for the `preferred_locale` field Closes #696
  src/cache/mod.rs
  src/model/guild/mod.rs
  src/utils/mod.rs
  tests/resources/guild_-1_role_position.json
  tests/resources/guild_create_1.json
  tests/resources/guild_create_2.json
  tests/resources/guild_create_features.json
  tests/resources/guild_some_application_id.json
  tests/resources/guild_system_channel_id_missing.json
Labels: discord feature, model
