Repository serenity-rs/serenity, pull requests merged in 2019-07, with the labels that each got.

#646 Update module-level example
  src/framework/mod.rs
Labels: docs, enhancement, framework

#649 [Docs] Mistake in `voice::Audio` docs
  src/voice/audio.rs
Labels: docs, fix, voice

#642 Make `MessageBuilder::push_spoiler_*` consistent with the other `push_` functions
  src/utils/message_builder.rs
Labels: builder, fix

#650 Fix comment in the group prefixes example.
  examples/05_command_framework/src/main.rs
Labels: fix

#651 Provide a "raw" alternative to `.iter::<T>()`
  src/framework/standard/args.rs
Labels: enhancement, framework

#653 Fix `Reason`'s doc-link by using `enum` instead of `struct`.
  src/framework/standard/structures/check.rs
Labels: docs, fix

#652 Switched a lot of arguments that take &str to impl AsRef<str> for erg…
  src/client/mod.rs
  src/model/channel/message.rs
  src/utils/mod.rs
Labels: enhancement

#656 Fix private channel deletions making serenity panic.
  src/model/event.rs
Labels: fix, model

#657 Implement `CacheHttp` for `Arc<Http>`
  src/http/mod.rs
Labels: cache, enhancement, http

#660 Fix `create_invite`'s doc-example
  src/model/channel/guild_channel.rs
Labels: cache, docs, fix

#659 Update a module-level example to latest serenity
  src/framework/standard/help_commands.rs
Labels: fix, framework

#662 Try to always ignore bots and webhooks when configured by the user
  src/framework/standard/mod.rs
Labels: enhancement, fix, framework

#661 Commit some modifications to the command_attr codebase
  command_attr/src/attributes.rs
  command_attr/src/lib.rs
  command_attr/src/structures.rs
  command_attr/src/util.rs
Labels: command_attr, enhancement, framework

#664 Remove unnecessary ticks
  src/framework/standard/help_commands.rs
Labels: bug, fix, framework

#666 Allow the help command to be case-insensitive if need be
  src/framework/standard/parse.rs
Labels: enhancement, framework

#668 Rewrite command parsing yet again
  src/framework/standard/mod.rs
  src/framework/standard/parse.rs
  src/framework/standard/parse/map.rs
  src/framework/standard/parse/mod.rs
Labels: enhancement, framework

#671 Add a method to create and iterable of Members in a Guild
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
Labels: enhancement, model

#670 [CI] Add a new step for the CI to build all the examples.
  azure-build-examples.yml
  azure-pipelines.yml
  azure-template-win.yml
  examples/README.md
Labels: enhancement

#672 Add quoting functionality to MessageBuilder
  src/utils/message_builder.rs
Labels: discord feature, enhancement, utils
