Repository serenity-rs/serenity, pull requests merged in 2019-04, with the labels that each got.

#523 Change Functions utilising HTTP/Cache to accept `impl AsRef<Http>`
  src/builder/execute_webhook.rs
  src/client/context.rs
  src/framework/standard/help_commands.rs
  src/http/raw.rs
  src/model/channel/channel_category.rs
  src/model/channel/channel_id.rs
  src/model/channel/group.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/private_channel.rs
  src/model/channel/reaction.rs
  src/model/guild/emoji.rs
  src/model/guild/guild_id.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/guild/role.rs
  src/model/invite.rs
  src/model/user.rs
  src/model/webhook.rs
Labels: client, enhancement, http

#525 Change Functions accepting Cache to accept `impl AsRef<CacheRwLock>`
  examples/10_voice_receive/src/main.rs
  src/cache/mod.rs
  src/client/context.rs
  src/client/dispatch.rs
  src/client/mod.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/mod.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/guild/emoji.rs
  src/model/guild/guild_id.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/role.rs
  src/model/invite.rs
  src/model/user.rs
  src/model/utils.rs
  src/model/webhook.rs
  src/utils/mod.rs
Labels: cache, enhancement

#526 Implement `AsRef` for `Context` instead of `&Context`
  src/client/context.rs
Labels: cache, enhancement, http

#531 Conform to Clippy
  command_attr/src/util.rs
  src/builder/create_embed.rs
  src/client/bridge/gateway/event.rs
  src/client/bridge/gateway/mod.rs
  src/client/bridge/gateway/shard_manager.rs
  src/client/bridge/gateway/shard_messenger.rs
  src/client/bridge/gateway/shard_runner.rs
  src/client/bridge/gateway/shard_runner_message.rs
  src/client/bridge/voice/mod.rs
  src/client/dispatch.rs
  src/client/mod.rs
  src/constants.rs
  src/error.rs
  src/framework/mod.rs
  src/framework/standard/args.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/mod.rs
  src/framework/standard/parse.rs
  src/framework/standard/structures/mod.rs
  src/gateway/mod.rs
  src/gateway/shard.rs
  src/gateway/ws_client_ext.rs
  src/http/error.rs
  src/http/mod.rs
  src/http/ratelimiting.rs
  src/http/raw.rs
  src/http/request.rs
  src/lib.rs
  src/model/channel/channel_category.rs
  src/model/channel/channel_id.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/event.rs
  src/model/gateway.rs
  src/model/guild/audit_log.rs
  src/model/guild/emoji.rs
  src/model/guild/guild_id.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/id.rs
  src/model/invite.rs
  src/model/permissions.rs
  src/model/user.rs
  src/utils/colour.rs
  src/utils/mod.rs
  src/voice/audio.rs
  src/voice/connection.rs
  src/voice/manager.rs
  src/voice/mod.rs
  src/voice/streamer.rs
  src/voice/threading.rs
Labels: enhancement

#533 Unify `say`-Methods
  src/model/channel/channel_id.rs
  src/model/channel/group.rs
  src/model/channel/guild_channel.rs
  src/model/channel/private_channel.rs
Labels: enhancement, model

#534 Fix Command Framework Example
  command_attr/src/structures.rs
  examples/05_command_framework/src/main.rs
  src/framework/standard/mod.rs
Labels: enhancement, fix, framework

#537 Handle Sub-Groups in the Help-System
  command_attr/src/lib.rs
  command_attr/src/structures.rs
  examples/05_command_framework/src/main.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/structures/mod.rs
Labels: enhancement

#538 Update colour.rs
  src/utils/colour.rs
Labels: enhancement, utils

#539 Rename `sub` to `sub_groups`.
  command_attr/src/lib.rs
  command_attr/src/structures.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/parse.rs
  src/framework/standard/structures/mod.rs
Labels: docs, enhancement, framework

#540 Future Proofing Enums
  command_attr/src/structures.rs
  src/client/bridge/gateway/shard_runner.rs
  src/client/dispatch.rs
  src/client/error.rs
  src/constants.rs
  src/error.rs
  src/framework/standard/args.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/mod.rs
  src/framework/standard/parse.rs
  src/framework/standard/structures/check.rs
  src/framework/standard/structures/mod.rs
  src/gateway/error.rs
  src/gateway/mod.rs
  src/http/error.rs
  src/http/mod.rs
  src/http/raw.rs
  src/http/routing.rs
  src/internal/ws_impl.rs
  src/model/channel/channel_id.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/channel/reaction.rs
  src/model/event.rs
  src/model/gateway.rs
  src/model/guild/audit_log.rs
  src/model/guild/mod.rs
  src/model/misc.rs
  src/model/user.rs
  src/model/utils.rs
  src/utils/message_builder.rs
  src/voice/audio.rs
  src/voice/connection.rs
  src/voice/error.rs
Labels: enhancement

#519 Add support for raw events
  src/client/bridge/gateway/shard_manager.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/client/bridge/gateway/shard_runner.rs
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/client/mod.rs
  src/prelude.rs
Labels: client, enhancement

#546 Fix `06_voice`-Example
  examples/06_voice/src/main.rs
Labels: fix, voice

#545 Remove 'static on `HelpOptions` for Help-Functions
  src/framework/standard/help_commands.rs
  src/framework/standard/structures/mod.rs
Labels: enhancement, framework

#547 Fix `FnOnce`s to accept `&mut`
  src/builder/edit_profile.rs
  src/client/context.rs
  src/model/channel/channel_category.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/guild/guild_id.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/guild/role.rs
  src/model/user.rs
Labels: builders, docs, enhancement, fix
