Repository serenity-rs/serenity, pull requests merged in 2019-02, with the labels that each got.

#473 prelude: re-export typemap::sharemap
  examples/05_command_framework/Cargo.toml
  examples/05_command_framework/src/main.rs
  examples/06_voice/Cargo.toml
  examples/06_voice/src/main.rs
  examples/10_voice_receive/Cargo.toml
  examples/10_voice_receive/src/main.rs
  src/client/bridge/gateway/shard_manager.rs
  src/client/mod.rs
  src/prelude.rs
Labels: enhancement

#450 hot-fix for the `has_role` function
  src/model/user.rs
Labels: fix

#475 Add colour to example 11.
  examples/11_create_message_builder/src/main.rs
Labels: enhancement

#479 Add new Check System
  examples/05_command_framework/src/main.rs
  src/framework/standard/check.rs
  src/framework/standard/command.rs
  src/framework/standard/create_command.rs
  src/framework/standard/create_group.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/mod.rs
Labels: enhancement

#480 Check for Ownership in Help System
  examples/05_command_framework/src/main.rs
  src/framework/standard/command.rs
  src/framework/standard/create_help_command.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/mod.rs
Labels: enhancement

#481 Update Code to Rust 2018
  Cargo.toml
  README.md
  benches/bench_args.rs
  examples/07_sample_bot_structure/src/main.rs
  src/builder/create_embed.rs
  src/builder/edit_guild.rs
  src/builder/edit_role.rs
  src/builder/execute_webhook.rs
  src/builder/get_messages.rs
  src/cache/mod.rs
  src/client/bridge/gateway/shard_manager.rs
  src/client/bridge/gateway/shard_manager_monitor.rs
  src/client/bridge/gateway/shard_messenger.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/client/bridge/gateway/shard_runner.rs
  src/client/dispatch.rs
  src/client/mod.rs
  src/framework/standard/args.rs
  src/framework/standard/check.rs
  src/framework/standard/command.rs
  src/framework/standard/create_command.rs
  src/framework/standard/create_group.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/mod.rs
  src/gateway/shard.rs
  src/gateway/ws_client_ext.rs
  src/http/ratelimiting.rs
  src/http/raw.rs
  src/internal/ws_impl.rs
  src/lib.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/channel/reaction.rs
  src/model/gateway.rs
  src/model/guild/emoji.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/permissions.rs
  src/model/user.rs
  src/model/webhook.rs
  src/utils/message_builder.rs
  src/utils/mod.rs
  src/voice/connection.rs
  src/voice/handler.rs
  src/voice/payload.rs
  src/voice/streamer.rs
  src/voice/threading.rs
  tests/test_deser.rs
  tests/test_prelude.rs
Labels: docs, enhancement

#484 client::Client doctest fixes
  src/client/mod.rs
Labels: docs, fix

#485 Improve Help Consistency
  examples/05_command_framework/src/main.rs
  src/framework/standard/command.rs
  src/framework/standard/create_group.rs
  src/framework/standard/create_help_command.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/mod.rs
Labels: docs, enhancement

#486 Lock `cc` and `base64` to specific Versions
  Cargo.toml
  src/client/mod.rs
Labels: fix

#487 Adhere to Rust 2018's Idioms
  src/client/bridge/gateway/mod.rs
  src/client/bridge/gateway/shard_manager.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/client/bridge/gateway/shard_runner.rs
  src/client/dispatch.rs
  src/client/error.rs
  src/client/mod.rs
  src/error.rs
  src/framework/standard/args.rs
  src/framework/standard/buckets.rs
  src/framework/standard/check.rs
  src/framework/standard/command.rs
  src/framework/standard/create_command.rs
  src/framework/standard/create_group.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/mod.rs
  src/gateway/error.rs
  src/gateway/mod.rs
  src/http/error.rs
  src/http/mod.rs
  src/http/ratelimiting.rs
  src/http/raw.rs
  src/http/request.rs
  src/http/routing.rs
  src/internal/macros.rs
  src/model/channel/group.rs
  src/model/channel/guild_channel.rs
  src/model/channel/mod.rs
  src/model/channel/private_channel.rs
  src/model/channel/reaction.rs
  src/model/error.rs
  src/model/event.rs
  src/model/guild/audit_log.rs
  src/model/guild/emoji.rs
  src/model/guild/member.rs
  src/model/guild/role.rs
  src/model/id.rs
  src/model/misc.rs
  src/model/user.rs
  src/model/utils.rs
  src/utils/message_builder.rs
  src/utils/vec_map.rs
Labels: enhancement

#489 Fix building without `cache`-feature
  src/client/bridge/gateway/shard_runner.rs
  src/client/dispatch.rs
  src/client/mod.rs
  src/lib.rs
  src/model/guild/guild_id.rs
  src/model/user.rs
Labels: fix

#491 Mutably borrow EditMessage for all channel types.
  src/model/channel/channel_id.rs
  src/model/channel/group.rs
  src/model/channel/guild_channel.rs
  src/model/channel/private_channel.rs
Labels: fix

#492 Add different `Context::new`s based on Feature-Set
  src/client/context.rs
Labels: fix

#482 Rewrite Args again
  Cargo.toml
  benches/bench_args.rs
  src/framework/standard/args.rs
  src/framework/standard/configuration.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/mod.rs
  src/model/gateway.rs
Labels: enhancement

#391 Add azure-pipelines CI
  azure-pipelines.yml
  azure-template.yml
Labels: enhancement

#483 HTTP: Specify content length as 0
  src/http/request.rs
Labels: fix

#497 Some typo fixes and language improvements
  CONTRIBUTING.md
  README.md
  src/framework/mod.rs
Labels: docs, fix

#496 Fix Tests for Feature Sets
  src/builder/create_embed.rs
  src/builder/create_invite.rs
  src/builder/edit_profile.rs
  src/builder/execute_webhook.rs
  src/client/mod.rs
  src/framework/standard/mod.rs
  src/model/channel/attachment.rs
  src/model/channel/guild_channel.rs
  src/model/gateway.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/user.rs
  src/utils/mod.rs
Labels: docs, fix

#498 Replace Travis with Azure
  .editorconfig
  .travis.yml
  README.md
Labels: enhancement

#457 Rustls support
  Cargo.toml
  src/error.rs
  src/gateway/mod.rs
  src/gateway/shard.rs
  src/http/raw.rs
  src/internal/ws_impl.rs
  src/voice/connection.rs
Labels: enhancement

#452 Update the join messages as of 2018-12-19
  src/constants.rs
Labels: enhancement

#501 Add missing `crate` import prefix
  src/gateway/shard.rs
Labels: fix

#499 Replace Travis with Azure on the `v0.6.x`-Branch
  .editorconfig
  .travis.yml
  README.md
  azure-pipelines.yml
  azure-template-win.yml
  azure-template.yml
Labels: enhancement

#500 Cherry-pick new Discord Welcome Messages (2018-12-19) into `v0.6.x`
  src/constants.rs
Labels: enhancement

#471 Fix connection error being thrown on leaving voice
  src/voice/handler.rs
Labels: fix

#472 Fewer ffprobe calls when playing audio through ffmpeg.
  src/voice/streamer.rs
Labels: enhancement, fix
