Repository serenity-rs/serenity, pull requests merged in 2019-03, with the labels that each got.

#507 Remove `type`-Field from `edit`'s Request Body
  src/model/channel/channel_category.rs
  src/model/channel/guild_channel.rs
Labels: fix

#510 Optional impls and additional events for AudioReceiver
  examples/10_voice_receive/src/main.rs
  src/voice/audio.rs
  src/voice/connection.rs
Labels: enhancement, voice

#511 Correct deserialisation for VoiceHeartbeatAck
  src/model/event.rs
  src/voice/connection.rs
Labels: enhancement, voice

#518 fix the build with features +client -framework
  src/client/dispatch.rs
Labels: client, fix

#512 ClientConnect message handling
  examples/10_voice_receive/src/main.rs
  src/constants.rs
  src/model/event.rs
  src/voice/audio.rs
  src/voice/connection.rs
Labels: enhancement, voice

#516 Update rusttls, sodiumoxide, webpki and webpki-roots
  Cargo.toml
Labels: enhancement

#506 Pass the old voice state to `EventHandler::voice_state_update`
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/model/event.rs
Labels: client, enhancement, model

#505 Make compilation to fail on the master branch
  build.rs
Labels: fix

#520 Add news channel
  examples/05_command_framework/src/main.rs
  src/cache/mod.rs
  src/model/channel/guild_channel.rs
  src/model/channel/mod.rs
  src/model/misc.rs
  src/utils/mod.rs
Labels: enhancement, http

#522 Switch to `audiopus`
  Cargo.toml
  azure-pipelines.yml
  azure-template.yml
  examples/06_voice/Cargo.toml
  src/error.rs
  src/voice/audio.rs
  src/voice/connection.rs
  src/voice/mod.rs
  src/voice/streamer.rs
  src/voice/threading.rs
Labels: enhancement, voice
