Repository serenity-rs/serenity, pull requests merged in 2019-01, with the labels that each got.

#455 Correct query string in Route::guild_ban_optioned
  src/http/routing.rs
Labels: fix

#444 Voice reconnection pathway impl, and disconnection fixes
  src/internal/ws_impl.rs
  src/model/event.rs
  src/voice/connection.rs
  src/voice/payload.rs
  src/voice/threading.rs
Labels: enhancement

#466 Elaborate causes for `guild_member_removal`
  src/client/event_handler.rs
Labels: docs

#467 (branch: futures) Use `Arc` instead of `Rc` in the cache
  src/cache/mod.rs
Labels: enhancement

#456 Remove global HTTP
  examples/01_basic_ping_bot/src/main.rs
  examples/02_transparent_guild_sharding/src/main.rs
  examples/04_message_builder/src/main.rs
  examples/05_command_framework/src/main.rs
  examples/06_voice/src/main.rs
  examples/07_sample_bot_structure/src/commands/math.rs
  examples/07_sample_bot_structure/src/commands/meta.rs
  examples/07_sample_bot_structure/src/main.rs
  examples/10_voice_receive/src/main.rs
  examples/11_create_message_builder/src/main.rs
  src/builder/create_embed.rs
  src/builder/create_invite.rs
  src/builder/create_message.rs
  src/builder/edit_guild.rs
  src/builder/edit_message.rs
  src/builder/edit_role.rs
  src/builder/execute_webhook.rs
  src/builder/get_messages.rs
  src/cache/mod.rs
  src/client/bridge/gateway/shard_manager.rs
  src/client/bridge/gateway/shard_messenger.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/client/context.rs
  src/client/dispatch.rs
  src/client/mod.rs
  src/framework/mod.rs
  src/framework/standard/configuration.rs
  src/framework/standard/create_command.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/mod.rs
  src/gateway/shard.rs
  src/http/mod.rs
  src/http/ratelimiting.rs
  src/http/raw.rs
  src/http/request.rs
  src/lib.rs
  src/model/channel/attachment.rs
  src/model/channel/channel_category.rs
  src/model/channel/channel_id.rs
  src/model/channel/group.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/channel/private_channel.rs
  src/model/channel/reaction.rs
  src/model/error.rs
  src/model/guild/emoji.rs
  src/model/guild/guild_id.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/guild/role.rs
  src/model/invite.rs
  src/model/user.rs
  src/model/webhook.rs
Labels: enhancement

#459 Old message on update v2
  src/cache/mod.rs
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/model/event.rs
Labels: enhancement

#465 Add a position method
  src/model/channel/mod.rs
Labels: enhancement
