Repository serenity-rs/serenity, pull requests merged in 2019-12, with the labels that each got.

#747 Implement Default for CommandOptions and GroupOptions
  src/framework/standard/structures/mod.rs
  src/model/permissions.rs
Labels: enhancement, framework

#751 Fix regression
  src/framework/standard/structures/mod.rs
Labels: fix, framework

#756 Add support for receiving custom statuses.
  src/model/gateway.rs
Labels: discord feature, enhancement, model

#755 Fix Guild::edit_role_position example
  src/model/guild/mod.rs
Labels: docs, examples, fix

#759 Abuse the compiler to do type checking for us
  Cargo.toml
  command_attr/src/lib.rs
  command_attr/src/util.rs
  src/lib.rs
Labels: command_attr, enhancement, framework
