Repository serenity-rs/serenity, pull requests merged in 2020-12, with the labels that each got.

#1099 Fix #1092 - MessageTooLong documentation
  src/model/error.rs
Labels: docs, fix

#1100 Switched from u64 to usize to represent overflow (#1092)
  src/constants.rs
  src/model/channel/message.rs
  src/model/error.rs
Labels: breaking change, enhancement, model

#1097 Add Sub-Command Support to Help
  examples/e05_command_framework/src/main.rs
  src/framework/standard/help_commands.rs
Labels: enhancement, fix, framework

#1098 Replace `CheckResult` with a simple `Result<(), Reason>`
  command_attr/src/lib.rs
  examples/e05_command_framework/src/main.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/mod.rs
  src/framework/standard/structures/check.rs
Labels: enhancement, framework

#1102 Make reason an error type
  src/framework/standard/structures/check.rs
Labels: enhancement, framework

#1105 Added support for displaying sub-commands in plaintext help.
  src/framework/standard/help_commands.rs
Labels: enhancement, framework

#1107 Fix the struct for Voice Regions.
  src/model/voice.rs
Labels: fix, http, model

#1108 The great removal of _nonexhaustive().
  src/builder/create_embed.rs
  src/cache/mod.rs
  src/framework/standard/help_commands.rs
  src/model/application.rs
  src/model/channel/attachment.rs
  src/model/channel/channel_category.rs
  src/model/channel/embed.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/channel/private_channel.rs
  src/model/channel/reaction.rs
  src/model/event.rs
  src/model/gateway.rs
  src/model/guild/audit_log.rs
  src/model/guild/emoji.rs
  src/model/guild/integration.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/guild/role.rs
  src/model/invite.rs
  src/model/misc.rs
  src/model/user.rs
  src/model/voice.rs
  src/model/webhook.rs
  src/utils/custom_message.rs
  src/utils/message_builder.rs
  src/utils/mod.rs
Labels: builder, cache, enhancement, framework, model, utils

#1106 Add Summary as Brief Description for Groups
  command_attr/src/lib.rs
  command_attr/src/structures.rs
  examples/e05_command_framework/src/main.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/structures/mod.rs
Labels: command_attr, enhancement, framework

#1109 Fix clippy warning
  src/framework/standard/help_commands.rs
Labels: enhancement, framework

#1110 Add build jobs for clippy & MSRV
  .github/workflows/ci.yml
Labels: ci, enhancement

#1111 Reverse the message buffer before returning messages from it
  src/model/channel/channel_id.rs
Labels: fix, model

#1112 Remove deserialization tests
  tests/resources/activity_1.json
  tests/resources/activity_2.json
  tests/resources/activity_3.json
  tests/resources/channel_create_1.json
  tests/resources/channel_delete_1.json
  tests/resources/channel_pins_update_1.json
  tests/resources/channel_update_1.json
  tests/resources/emoji_animated.json
  tests/resources/guild_-1_role_position.json
  tests/resources/guild_ban_add_1.json
  tests/resources/guild_ban_remove_1.json
  tests/resources/guild_channel_rest_1.json
  tests/resources/guild_create_1.json
  tests/resources/guild_create_2.json
  tests/resources/guild_create_features.json
  tests/resources/guild_delete_1.json
  tests/resources/guild_emojis_update_1.json
  tests/resources/guild_member_add_1.json
  tests/resources/guild_member_remove_1.json
  tests/resources/guild_member_update_1.json
  tests/resources/guild_role_create_1.json
  tests/resources/guild_role_delete_1.json
  tests/resources/guild_role_update_1.json
  tests/resources/guild_some_application_id.json
  tests/resources/guild_system_channel_id_missing.json
  tests/resources/guild_update_1.json
  tests/resources/message_create_1.json
  tests/resources/message_create_2.json
  tests/resources/message_create_3.json
  tests/resources/message_footer_1.json
  tests/resources/message_footer_2.json
  tests/resources/message_reaction_add_1.json
  tests/resources/message_reaction_add_2.json
  tests/resources/message_reaction_add_3.json
  tests/resources/message_reaction_remove_1.json
  tests/resources/message_reaction_remove_2.json
  tests/resources/message_reaction_remove_3.json
  tests/resources/message_reaction_remove_all_1.json
  tests/resources/message_type_7.json
  tests/resources/message_update_1.json
  tests/resources/ready_1.json
  tests/resources/role_-1_position.json
  tests/resources/typing_start_1.json
  tests/resources/voice_state_update_1.json
  tests/resources/voice_state_update_2.json
  tests/resources/voice_state_update_3.json
  tests/resources/voice_state_update_4.json
  tests/resources/webhooks_update_1.json
  tests/test_deser.rs
  tests/test_prelude.rs
Labels: enhancement

#1113 Remove only one leading space in command descriptions
  command_attr/src/lib.rs
Labels: enhancement, framework

#1114 Support custom colours in the help command attributes
  command_attr/src/lib.rs
  command_attr/src/structures.rs
Labels: command_attr, enhancement, framework

#1116 fix: Percent encode audit log reasons for ban and kick
  Cargo.toml
  src/http/client.rs
Labels: fix, http, model

#1118 Check a sub-command's parent first.
  src/framework/standard/help_commands.rs
Labels: fix, framework

#1119 Check for discrepancies in prefixless groups
  src/framework/standard/parse/mod.rs
Labels: fix, framework

#1124 docs: Clarify framework configuration dynamic_prefix docs
  src/framework/standard/configuration.rs
Labels: docs, framework

#1122 Handle 200 response with member data for modify member on API v8
  src/http/client.rs
  src/model/guild/guild_id.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
Labels: client, discord feature, model

#1123 Rework buckets to offer fine-grained control
  examples/e05_command_framework/src/main.rs
  src/cache/mod.rs
  src/framework/standard/mod.rs
  src/framework/standard/structures/buckets.rs
  src/model/channel/message.rs
Labels: cache, examples, framework

#1078 Add support for stickers
  src/cache/mod.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/channel/sticker.rs
  src/model/id.rs
  src/utils/custom_message.rs
Labels: discord feature, model

#1127 Add Reverting and Awaiting Bucket Rate Limits
  examples/e05_command_framework/src/main.rs
  src/framework/standard/mod.rs
  src/framework/standard/structures/buckets.rs
Labels: enhancement, fix, framework

#1129 Bump to 0.8.9
  CHANGELOG.md
  Cargo.toml
Labels: enhancement

#1128 Check @everyone and user permission overwrites for uncached users
  src/model/guild/mod.rs
Labels: enhancement, model

#1131 Add sync_id and session_id fields to Activity.
  Cargo.toml
  src/model/gateway.rs
Labels: enhancement, model

#1132 Fix rustdoc not parsing docs.rs config attributes.
  .github/workflows/docs.yml
  Cargo.toml
Labels: docs, enhancement

#1133 feat: Add Guild::banner_url() and support animated guild icons via Guild::icon_url()
  src/model/guild/mod.rs
Labels: enhancement, model

#1091 Fix for #1050 (member fetching default limit & validation)
  src/constants.rs
  src/error.rs
  src/http/client.rs
  src/http/routing.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
Labels: docs, enhancement, http

#1141 Remove unused event handlers for groups
  src/client/event_handler.rs
Labels: breaking change, client, discord feature, enhancement

#1140 Edits signatures to require `Cache` and `Http`
  src/model/guild/emoji.rs
Labels: cache, enhancement, http, model

#1139 Add Partial Application object to the Ready Event.
  src/model/application.rs
  src/model/gateway.rs
Labels: discord feature, enhancement, model

#1144 Add Max Delay Limits, Delay Hook, and RateLimitInfo
  examples/e05_command_framework/src/main.rs
  src/framework/standard/mod.rs
  src/framework/standard/structures/buckets.rs
Labels: enhancement, framework

#1143 Improve permission checking
  src/framework/standard/mod.rs
  src/model/channel/guild_channel.rs
  src/model/error.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/utils.rs
Labels: enhancement, model

#1136 Slash command support
  .github/workflows/ci.yml
  Cargo.toml
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/http/client.rs
  src/http/routing.rs
  src/model/channel/message.rs
  src/model/event.rs
  src/model/gateway.rs
  src/model/id.rs
  src/model/interactions.rs
  src/model/mod.rs
  src/model/prelude.rs
Labels: client, discord feature, enhancement, http, model

#1149 Minor spelling/grammar fixes
  examples/README.md
  src/model/guild/guild_id.rs
Labels: docs, examples, fix

#1148 Fix relative path of slash commands
  src/http/routing.rs
Labels: fix, http

#1153 fix(model): Use guild splash hash for splash_url() instead of icon hash
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/invite.rs
Labels: fix, model

#1151 Change Message.author_nick() documentation
  src/model/channel/message.rs
Labels: docs, enhancement, model

#1158 fix(model): use `ApplicationId` instead of `u64` in `MessageApplication`
  src/model/channel/message.rs
Labels: fix, model

#1159 Log unhandled errors when handling gateway events
  src/gateway/shard.rs
Labels: enhancement, gateway

#1156 Fix the stated order in `ChannelId::messages_iter`'s documentation
  src/model/channel/channel_id.rs
Labels: docs, fix, model

#1162 Fix clippy warnings
  command_attr/src/structures.rs
  src/framework/standard/structures/buckets.rs
  src/http/client.rs
  src/model/guild/mod.rs
  src/utils/mod.rs
Labels: command_attr, enhancement, framework, http, model, utils

#1164 Fix deserialization of `Interaction`s
  src/model/interactions.rs
Labels: fix, model

#1147 Describe the `unstable_discord_api` feature
  README.md
Labels: enhancement
