Repository serenity-rs/serenity, pull requests merged in 2020-01, with the labels that each got.

#753 Upgrade to reqwest v0.10.0
  Cargo.toml
  src/http/client.rs
  src/http/error.rs
  src/http/ratelimiting.rs
  src/http/request.rs
  src/model/channel/attachment.rs
Labels: dependencies, enhancement

#761 Remove april fools functions
  src/http/client.rs
Labels: enhancement, http

#765 Fix #763
  src/model/channel/message.rs
  src/model/user.rs
Labels: fix, model, utils

#767 Fix release dates
  CHANGELOG.md
Labels: fix

#769 Display Groups Without Commands In Help
  src/framework/standard/help_commands.rs
Labels: enhancement, framework

#770 Adds guild_id into Reaction
  src/model/channel/reaction.rs
  tests/resources/message_reaction_add_3.json
  tests/resources/message_reaction_remove_3.json
  tests/test_deser.rs
Labels: enhancement, model
