Repository serenity-rs/serenity, pull requests merged in 2020-10, with the labels that each got.

#984 Update owner.rs in sample bot structure
  examples/e07_sample_bot_structure/src/commands/owner.rs
Labels: examples, fix

#986 Update voice cipher.
  Cargo.toml
  src/voice/connection.rs
Labels: dependencies, enhancement, voice

#985 Fixed all clippy warnings
  README.md
  examples/e01_basic_ping_bot/src/main.rs
  examples/e02_transparent_guild_sharding/src/main.rs
  examples/e03_struct_utilities/src/main.rs
  examples/e04_message_builder/src/main.rs
  examples/e05_command_framework/src/main.rs
  examples/e06_voice/src/main.rs
  examples/e07_sample_bot_structure/src/main.rs
  examples/e08_env_logging/src/main.rs
  examples/e09_shard_manager/src/main.rs
  examples/e10_voice_receive/src/main.rs
  examples/e11_create_message_builder/src/main.rs
  examples/e12_collectors/src/main.rs
  examples/e13_gateway_intents/src/main.rs
  src/builder/create_embed.rs
  src/builder/create_invite.rs
  src/cache/mod.rs
  src/client/bridge/gateway/shard_manager.rs
  src/client/bridge/gateway/shard_runner.rs
  src/client/context.rs
  src/client/mod.rs
  src/framework/mod.rs
  src/framework/standard/configuration.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/mod.rs
  src/framework/standard/parse/mod.rs
  src/http/client.rs
  src/internal/ws_impl.rs
  src/lib.rs
  src/model/channel/attachment.rs
  src/model/channel/guild_channel.rs
  src/model/channel/mod.rs
  src/model/error.rs
  src/model/event.rs
  src/model/gateway.rs
  src/model/guild/guild_id.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/user.rs
  src/utils/message_builder.rs
  src/utils/mod.rs
Labels: cache, client, enhancement, examples, framework, model, utils

#983 Update example 05 to specifically get the current bot_id
  examples/e05_command_framework/src/main.rs
Labels: enhancement, examples

#989 Cargo.toml: minor dependencies update
  Cargo.toml
Labels: dependencies, enhancement

#990 Limit `tokio/process` and `tokio/udp` to the voice feature
  Cargo.toml
Labels: dependencies, enhancement

#987 Change order rules of MessagesIter: from new to old
  src/model/channel/channel_id.rs
Labels: breaking change, enhancement, model

#992 http error improvements
  src/http/error.rs
Labels: enhancement, http

#962 Allow setting builders directly
  src/builder/create_embed.rs
  src/builder/create_message.rs
Labels: builder, enhancement

#995 Removed unnecessary Option on Message::channel_mentions
  src/cache/mod.rs
  src/model/channel/message.rs
  src/utils/custom_message.rs
Labels: breaking change, enhancement, model

#996 Added an example for client data.
  Makefile.toml
  azure-build-examples.yml
  examples/Cargo.toml
  examples/README.md
  examples/e14_global_data/Cargo.toml
  examples/e14_global_data/Makefile.toml
  examples/e14_global_data/src/main.rs
Labels: enhancement, examples

#1003 Fix broken links & related doc comments
  src/builder/create_message.rs
  src/cache/mod.rs
  src/client/bridge/gateway/mod.rs
  src/client/bridge/gateway/shard_manager.rs
  src/client/bridge/gateway/shard_manager_monitor.rs
  src/client/bridge/gateway/shard_messenger.rs
  src/client/context.rs
  src/client/extras.rs
  src/client/mod.rs
  src/framework/standard/args.rs
  src/framework/standard/mod.rs
  src/gateway/shard.rs
  src/http/client.rs
  src/http/ratelimiting.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/channel/private_channel.rs
  src/model/error.rs
  src/model/guild/audit_log.rs
  src/model/guild/guild_id.rs
  src/model/guild/partial_guild.rs
  src/model/invite.rs
  src/model/webhook.rs
  src/voice/handler.rs
Labels: builder, cache, client, docs, fix, framework, http, model, voice

#1008 Link the typemap_rev::TypeMap docs directly
  examples/e14_global_data/src/main.rs
Labels: docs, enhancement

#1005 Remove discord token from being logged
  src/gateway/ws_client_ext.rs
  src/http/client.rs
  src/http/ratelimiting.rs
  src/http/request.rs
  src/model/application.rs
  src/model/event.rs
  src/model/voice.rs
  src/model/webhook.rs
  src/voice/connection_info.rs
  src/voice/handler.rs
Labels: enhancement, gateway, http, model, voice

#1004 Add GitHub Actions workflows for CI & publishing api docs
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Labels: ci, enhancement

#1011 Updated to tracing and dotenv
  examples/e07_sample_bot_structure/Cargo.toml
  examples/e07_sample_bot_structure/src/main.rs
Labels: enhancement, examples

#1010 Make super::super.. imports more readable
  src/client/bridge/gateway/shard_manager.rs
  src/client/bridge/gateway/shard_manager_monitor.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/client/bridge/gateway/shard_runner.rs
  src/framework/standard/parse/map.rs
  src/model/channel/attachment.rs
  src/model/channel/message.rs
  src/model/guild/audit_log.rs
  src/model/guild/emoji.rs
  src/model/guild/partial_guild.rs
Labels: client, enhancement, framework, model

#1012 Ignore empty arguments
  src/framework/standard/args.rs
Labels: fix, framework

#1013 Derive `Clone` for `CacheAndHttp`
  src/lib.rs
Labels: enhancement

#1014 Some improvements to example 5
  examples/e05_command_framework/src/main.rs
Labels: enhancement, examples

#1016 Implement `create_invite` on `ChannelId`
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
Labels: enhancement, model

#1019 replace several usages of if let Err with ? in example 5
  examples/e05_command_framework/src/main.rs
Labels: enhancement, examples

#1018 Changes to `GuildMembersChunkEvent` and `ShardMessenger::chunk_guilds`
  src/client/bridge/gateway/shard_messenger.rs
  src/client/bridge/gateway/shard_runner.rs
  src/client/bridge/gateway/shard_runner_message.rs
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/gateway/shard.rs
  src/gateway/ws_client_ext.rs
  src/model/event.rs
Labels: client, enhancement, model

#1020 Correctly update the guild instance in the members chunk event
  src/model/event.rs
Labels: fix, model

#1022 Completely switch to Github Actions
  README.md
  azure-build-examples.yml
  azure-pipelines.yml
  azure-template-unix.yml
  azure-template-win.yml
Labels: ci, enhancement

#1015 Update & reduce dependencies
  Cargo.toml
Labels: dependencies, enhancement

#1026 Update async-tungstenite to 0.9.3
  Cargo.toml
  src/internal/ws_impl.rs
Labels: dependencies, enhancement

#1028 Deserialize the correct data from the `GUILD_DELETE` event
  src/cache/mod.rs
  src/client/event_handler.rs
  src/model/event.rs
  src/model/guild/mod.rs
Labels: breaking change, fix, model

#1029 add shutdown handler to example 7
  examples/e07_sample_bot_structure/Cargo.toml
  examples/e07_sample_bot_structure/src/main.rs
Labels: enhancement, examples

#1030 Fix a small typo in the "e14_global_data" example
  examples/e14_global_data/src/main.rs
Labels: examples, fix

#1034 Bump to 0.9.0-rc.3
  CHANGELOG.md
  Cargo.toml
  README.md
  command_attr/Cargo.toml
  src/lib.rs
Labels: enhancement

#1037 Increase the type length limit
  src/lib.rs
Labels: enhancement

#1039 Bump to 0.9.0-rc.4
  CHANGELOG.md
  Cargo.toml
  README.md
  command_attr/Cargo.toml
  src/lib.rs
Labels: enhancement

#1035 Changed `utils::shard_id` to accept `Into<u64>`
  src/utils/mod.rs
Labels: enhancement, utils

#1041 Add usable prefix to default configuration
  src/framework/standard/configuration.rs
Labels: enhancement, framework

#1042 Change ChunkGuilds into ChunkGuild
  src/cache/mod.rs
  src/client/bridge/gateway/shard_messenger.rs
  src/client/bridge/gateway/shard_runner.rs
  src/client/bridge/gateway/shard_runner_message.rs
  src/gateway/shard.rs
  src/gateway/ws_client_ext.rs
Labels: breaking change, client, enhancement, gateway

#1047 Bump to 0.9.0
  CHANGELOG.md
  Cargo.toml
  README.md
  command_attr/Cargo.toml
  src/lib.rs
Labels: enhancement
