Repository serenity-rs/serenity, pull requests merged in 2020-04, with the labels that each got.

#812 Remove support for Groups
  examples/06_voice/src/main.rs
  examples/10_voice_receive/src/main.rs
  src/cache/mod.rs
  src/client/dispatch.rs
  src/http/client.rs
  src/http/routing.rs
  src/model/channel/channel_id.rs
  src/model/channel/group.rs
  src/model/channel/mod.rs
  src/model/event.rs
  src/model/invite.rs
  src/model/misc.rs
  src/model/utils.rs
  src/voice/handler.rs
  src/voice/manager.rs
Labels: breaking change, discord feature, enhancement, http, model

#790 Adds `guild_id` to Role
  src/model/event.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/guild/role.rs
  src/model/misc.rs
  src/utils/colour.rs
  src/utils/mod.rs
  tests/resources/role_-1_position.json
Labels: enhancement, model

#816 Add Stream permission.
  src/model/guild/mod.rs
  src/model/permissions.rs
Labels: discord feature, enhancement, model

#814 fix broken IP Discovery in voice UDP connection
  src/voice/connection.rs
Labels: fix, voice

#819 Fix 411 when using HTTP-requests with `native_tls_backend`
  src/http/request.rs
Labels: fix, http

#826 Apply the `case_insensitivity` option to dynamic prefixes.
  src/framework/standard/parse/mod.rs
Labels: fix, framework

#827 Fix broken the 10_voice_receive example
  src/voice/connection.rs
Labels: examples, fix, voice

#834 Fix Handling Rebalances
  src/client/bridge/gateway/mod.rs
  src/client/bridge/gateway/shard_manager.rs
  src/client/bridge/gateway/shard_manager_monitor.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/client/bridge/gateway/shard_runner.rs
Labels: fix, gateway

#822 Replace the `typemap` dependency with an in-house alternative.
  Cargo.toml
  examples/05_command_framework/src/main.rs
  examples/06_voice/src/main.rs
  examples/07_sample_bot_structure/src/main.rs
  examples/10_voice_receive/src/main.rs
  src/client/bridge/gateway/shard_manager.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/client/bridge/gateway/shard_runner.rs
  src/client/context.rs
  src/client/dispatch.rs
  src/client/mod.rs
  src/prelude.rs
  src/utils/mod.rs
  src/utils/typemap.rs
Labels: breaking change, client, dependencies, utils

#836 Add Gateway Intents
  examples/13_gateway_intents/Cargo.toml
  examples/13_gateway_intents/src/main.rs
  src/client/bridge/gateway/intents.rs
  src/client/bridge/gateway/mod.rs
  src/client/bridge/gateway/shard_manager.rs
  src/client/bridge/gateway/shard_messenger.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/client/extras.rs
  src/client/mod.rs
  src/gateway/shard.rs
  src/gateway/ws_client_ext.rs
Labels: client, discord feature, enhancement, examples, gateway

#837 Add Gateway Intents Example to Azure Pipelines
  azure-build-examples.yml
Labels: examples, fix

#841 Resume Instead of Reidentify on Reconnect Events
  src/client/bridge/gateway/shard_runner.rs
  src/gateway/shard.rs
Labels: fix, gateway

#844 Support for "Delete All Reactions for Emoji" endpoint
  src/http/client.rs
  src/http/routing.rs
  src/model/channel/channel_id.rs
  src/model/channel/message.rs
  src/model/channel/reaction.rs
Labels: discord feature, enhancement, http, model

#845 Return Instantly When Requesting Restart
  src/client/bridge/gateway/shard_manager.rs
  src/client/bridge/gateway/shard_runner.rs
  src/gateway/shard.rs
Labels: fix, gateway

#849 Replace `&mut Context` with `&Context`
  command_attr/src/util.rs
  examples/05_command_framework/src/main.rs
  examples/06_voice/src/main.rs
  examples/07_sample_bot_structure/src/commands/math.rs
  examples/07_sample_bot_structure/src/commands/meta.rs
  examples/07_sample_bot_structure/src/commands/owner.rs
  examples/10_voice_receive/src/main.rs
  examples/12_timing_and_events/src/main.rs
  src/builder/create_invite.rs
  src/builder/edit_message.rs
  src/cache/mod.rs
  src/client/mod.rs
  src/framework/mod.rs
  src/framework/standard/configuration.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/mod.rs
  src/framework/standard/parse/mod.rs
  src/framework/standard/structures/buckets.rs
  src/framework/standard/structures/check.rs
  src/framework/standard/structures/mod.rs
  src/http/mod.rs
  src/model/channel/reaction.rs
  src/model/gateway.rs
  src/model/guild/emoji.rs
Labels: breaking change, client, command_attr, enhancement, examples, framework
