Repository serenity-rs/serenity, pull requests merged in 2020-08, with the labels that each got.

#930 Update to async-tungstenite v0.8
  Cargo.toml
  src/gateway/mod.rs
Labels: dependencies, enhancement, gateway

#931 Implemented the Allowed Mentions builder
  src/builder/create_allowed_mentions.rs
  src/builder/create_message.rs
  src/builder/mod.rs
Labels: builder, discord feature, enhancement, model

#933 Remove some chrono
  src/internal/timer.rs
Labels: enhancement

#934 Abstract CommandResult type
  src/framework/standard/structures/mod.rs
Labels: enhancement, framework

#935 Goodbye FixedOffset
  examples/e05_command_framework/src/main.rs
  src/cache/mod.rs
  src/framework/standard/mod.rs
  src/framework/standard/structures/buckets.rs
  src/gateway/ws_client_ext.rs
  src/http/ratelimiting.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/private_channel.rs
  src/model/event.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/id.rs
  src/model/invite.rs
  src/model/user.rs
  src/utils/custom_message.rs
  src/utils/mod.rs
Labels: breaking change, dependencies, enhancement, framework, gateway, http, model

#943 don't use : on reply
  src/model/channel/message.rs
Labels: enhancement, model

#942 Add `MessagesIter` and `messages_iter`
  src/model/channel/channel_id.rs
Labels: enhancement, model

#946 Consider `Group` checks when displaying commands in help
  src/framework/standard/help_commands.rs
Labels: enhancement, fix, framework
