Repository serenity-rs/serenity, pull requests merged in 2020-07, with the labels that each got.

#901 Add nonce field to guild members chunk
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/model/event.rs
Labels: discord feature, enhancement, model

#903 Fix check behaviour in the help command
  src/framework/standard/help_commands.rs
Labels: enhancement, fix, framework

#904 Expose CustomisedHelpData fields, improve help strikethrough message attribute.
  command_attr/src/attributes.rs
  command_attr/src/lib.rs
  command_attr/src/structures.rs
  examples/e05_command_framework/src/main.rs
  src/framework/standard/help_commands.rs
Labels: command_attr, enhancement, framework

#906 refixed framework::unrecognised_command not working [867]
  src/framework/standard/parse/mod.rs
Labels: fix, framework

#907 Last fix to unrecognised_command.
  src/framework/standard/parse/mod.rs
Labels: fix, framework

#909 Made Message::reply() take impl Display, to stay consistent with the various say() methods.
  src/model/channel/message.rs
Labels: enhancement, model

#910 Removed U type parameter for partial_guild::edit_member()
  src/model/guild/partial_guild.rs
Labels: enhancement, model

#911 Add mentions_me helper
  src/model/channel/message.rs
Labels: enhancement, model

#913 Added teams support.
  src/model/application.rs
Labels: discord feature, enhancement, model

#912 Replace the in-house typemap with typemap_rev
  Cargo.toml
  src/client/bridge/gateway/shard_manager.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/client/bridge/gateway/shard_runner.rs
  src/client/context.rs
  src/client/dispatch.rs
  src/client/mod.rs
  src/prelude.rs
  src/utils/mod.rs
  src/utils/typemap.rs
Labels: dependencies, enhancement, utils

#916 message.guild_id is a structfield not a method
  src/model/channel/message.rs
Labels: docs, fix, model

#918 Fix `.mute(...)` not causing bot to stop frames.
  src/voice/connection.rs
  src/voice/handler.rs
  src/voice/mod.rs
  src/voice/threading.rs
Labels: fix, voice

#920 Add nick to PartialMember
  src/model/guild/member.rs
Labels: discord feature, enhancement, model

#921 Preserve hostname when escaping invite links
  src/utils/message_builder.rs
Labels: fix, utils

#924 Address some clippy warnings
  src/client/bridge/gateway/shard_runner.rs
  src/framework/standard/parse/mod.rs
  src/model/channel/group.rs
Labels: client, enhancement, framework, model

#926 Fix Linux job
  azure-template-unix.yml
Labels: ci, fix
