Repository serenity-rs/serenity, pull requests merged in 2020-05, with the labels that each got.

#855 Inject the guild id into the roles returned by the http client
  src/http/client.rs
Labels: fix, http

#852 Adjust the ban methods to be consistent with the kick methods
  src/model/error.rs
  src/model/guild/guild_id.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
Labels: breaking change, enhancement, model

#853 Perform an audit on all feature gates in the repository
  src/builder/edit_message.rs
  src/framework/standard/mod.rs
  src/http/client.rs
  src/http/mod.rs
  src/internal/ws_impl.rs
  src/lib.rs
  src/model/channel/channel_category.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/channel/private_channel.rs
  src/model/channel/reaction.rs
  src/model/event.rs
  src/model/gateway.rs
  src/model/guild/emoji.rs
  src/model/guild/guild_id.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/guild/role.rs
  src/model/invite.rs
  src/model/user.rs
  src/model/webhook.rs
  src/utils/mod.rs
Labels: breaking change, enhancement, fix, http, model

#857 Remove usages of `std::mem::replace` where its return value is unused
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/guild/emoji.rs
  src/model/user.rs
  src/model/webhook.rs
Labels: enhancement, model

#862 switch around the docs for permissions_for_role and member
  src/model/channel/guild_channel.rs
Labels: docs, fix, model

#863 Add GuildId::name
  src/model/guild/guild_id.rs
Labels: enhancement, model

#866 Remove the `matches` developmental dependency
  Cargo.toml
Labels: enhancement

#867 Fixed unrecognised_command() not working if the last group added has prefixes.
  src/framework/standard/parse/mod.rs
Labels: fix, framework

#869 Mention projects that extend the functionality of the library instead
  README.md
Labels: enhancement

#860 Add voice channel disconnect
  src/builder/edit_member.rs
  src/model/guild/guild_id.rs
  src/model/guild/member.rs
Labels: enhancement, model, voice

#872 Add with-nickname mention filtering out
  src/model/channel/message.rs
Labels: fix, model

#873 Replace `CommandError` with an alias to `Box<dyn Error>`
  src/framework/standard/structures/mod.rs
Labels: enhancement, framework

#874 create_dm_channel: Check the cache for an existing channel
  src/http/mod.rs
  src/model/user.rs
Labels: cache, enhancement, model
