Repository serenity-rs/serenity, pull requests merged in 2020-02, with the labels that each got.

#777 Fixes a broken link in docs
  command_attr/src/lib.rs
Labels: command_attr, docs

#775 Fixed typo in the message builder example
  examples/04_message_builder/src/main.rs
Labels: fix, utils

#776 Add missing guild_id to various events
  src/model/channel/channel_category.rs
  src/model/event.rs
Labels: discord feature, enhancement, model

#772 Update vm images used for testing
  azure-build-examples.yml
  azure-pipelines.yml
  azure-template-unix.yml
  azure-template-win.yml
Labels: fix

#780 Make member.distinct() show the discriminator as a 4-digit number
  src/model/guild/member.rs
Labels: enhancement, model

#789 Remove deprecated `std::error::Error` functions
  src/client/error.rs
  src/error.rs
  src/gateway/error.rs
  src/http/error.rs
  src/internal/ws_impl.rs
  src/model/error.rs
  src/model/misc.rs
Labels: client, enhancement, gateway, http, model

#779 Add client status support.
  src/model/gateway.rs
Labels: discord feature, enhancement, model

#781 Allows `add_file` to support an image URL
  src/http/client.rs
  src/http/mod.rs
Labels: client, enhancement

#795 &mut self instead of mut self for MessageBuilder methods
  src/utils/message_builder.rs
Labels: breaking change, fix, utils
