Repository serenity-rs/serenity, pull requests merged in 2020-03, with the labels that each got.

#796 http: make error module public
  src/http/mod.rs
Labels: fix, http

#791 Implements `Color` alternative to `Colour`
  src/utils/mod.rs
Labels: command_attr, enhancement, framework

#809 Store command names in lowercase when case-insensitivity is on
  src/framework/standard/mod.rs
  src/framework/standard/parse/map.rs
Labels: fix, framework
