Repository serenity-rs/serenity, pull requests merged in 2021-05, with the labels that each got.

#1317 Fixes nullable errors field
  src/http/error.rs
Labels: fix, http

#1323 Change repo to newer
  README.md
Labels: docs

#1324 Fix clippy warnings
  src/http/client.rs
  src/model/channel/channel_category.rs
  src/model/channel/channel_id.rs
  src/model/channel/embed.rs
  src/model/channel/message.rs
  src/model/error.rs
  src/model/event.rs
  src/model/gateway.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/user.rs
Labels: enhancement, http, model

#1322 Member: use permissions object instead of string
  src/model/guild/member.rs
  src/model/voice.rs
Labels: enhancement, model

#1334 Support `Team::name`
  src/model/application.rs
Labels: discord feature, enhancement, model

#1321 Support command create, update and delete events
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/model/event.rs
  src/model/guild/integration.rs
  src/model/interactions.rs
Labels: client, discord feature, enhancement, model

#1330 Fix webhook creation on news channel
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
Labels: fix, model

#1332 Fix message link when discord does not provide `guild_id`
  src/model/channel/message.rs
Labels: fix, model

#1335 Bump to 0.10.6
  CHANGELOG.md
  Cargo.toml
  command_attr/Cargo.toml
Labels: enhancement

#1336 Fix GuildEmbed removal to avoid breaking change
  src/http/client.rs
  src/model/guild/mod.rs
Labels: fix, http, model

#1338 Bump to 0.10.7
  CHANGELOG.md
  Cargo.toml
Labels: enhancement

#1339 Fix unreachable code warning for framework macros
  command_attr/src/lib.rs
Labels: fix, framework

#1340 Fix warnings for the `deprecated` lint and clippy's lints
  src/cache/mod.rs
  src/model/event.rs
  src/model/guild/mod.rs
  src/utils/mod.rs
  src/utils/parse.rs
Labels: cache, enhancement, model, utils

#1342 Stricter validate_token checks
  src/client/mod.rs
Labels: client, enhancement

#1345 Remove unused structure in the framework
  src/framework/standard/structures/buckets.rs
Labels: enhancement, framework

#1337 Add a few missing methods for (Partial)Guild
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
Labels: enhancement, model

#1353 Username Update
  CHANGELOG.md
  README.md
Labels: docs, fix

#1351 New Discord Certified Moderator Flag Add
  src/model/user.rs
Labels: discord feature, enhancement, model

#1350 GuildId::roles
  src/model/guild/guild_id.rs
Labels: enhancement, model

#1348 Improve documentation of gateway intents
  examples/README.md
  src/client/bridge/gateway/intents.rs
  src/client/mod.rs
  src/gateway/shard.rs
  src/http/client.rs
Labels: docs, enhancement, gateway, model

#1357 Fixes wrong error messages path
  src/http/utils.rs
Labels: fix, http

#1360 Fix allowed_mentions use in Message::_reply
  src/model/channel/message.rs
Labels: fix, model

#1367 fix(client): Check existing `Http` application_id when creating `Client`
  src/client/mod.rs
Labels: client, fix, http
