Repository serenity-rs/serenity, pull requests merged in 2021-07, with the labels that each got.

#1356 Clarify slash commands implementation
  examples/e14_slash_commands/src/main.rs
  src/builder/create_application_command.rs
  src/builder/create_application_command_permission.rs
  src/client/event_handler.rs
  src/http/client.rs
  src/model/event.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/interactions.rs
Labels: builder, enhancement, examples, model

#1408 Use ratelimiter when sending files in messages and webhooks
  src/http/client.rs
  src/http/mod.rs
  src/http/multipart.rs
  src/http/ratelimiting.rs
  src/http/request.rs
Labels: fix, http

#1418 Fix select menu fields which might not be present
  src/model/interactions.rs
Labels: fix, model

#1343 Support stage instance
  src/builder/create_stage_instance.rs
  src/builder/edit_stage_instance.rs
  src/builder/mod.rs
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/http/client.rs
  src/http/routing.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/channel/mod.rs
  src/model/event.rs
  src/model/id.rs
Labels: builder, discord feature, enhancement, http, model

#1420 Add Guild::stage_instances
  src/cache/mod.rs
  src/model/guild/mod.rs
  src/utils/mod.rs
Labels: enhancement, model

#1422 Move workspace up to repo root, instead of under examples
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  Cargo.toml
  Makefile.toml
  examples/Cargo.toml
  examples/README.md
  examples/e01_basic_ping_bot/src/main.rs
  examples/e02_transparent_guild_sharding/src/main.rs
  examples/e03_struct_utilities/src/main.rs
  examples/e04_message_builder/src/main.rs
  examples/e05_command_framework/src/main.rs
  examples/e06_sample_bot_structure/src/commands/math.rs
  examples/e06_sample_bot_structure/src/commands/meta.rs
  examples/e06_sample_bot_structure/src/commands/owner.rs
  examples/e06_sample_bot_structure/src/main.rs
  examples/e07_env_logging/src/main.rs
  examples/e08_shard_manager/src/main.rs
  examples/e09_create_message_builder/src/main.rs
  examples/e10_collectors/src/main.rs
  examples/e12_global_data/src/main.rs
  examples/e13_parallel_loops/src/main.rs
Labels: ci, enhancement

#1419 Lazily clone structs only when collector filters are actually matched
  src/client/bridge/gateway/shard_runner.rs
  src/collector/component_interaction_collector.rs
  src/collector/message_collector.rs
  src/collector/mod.rs
  src/collector/reaction_collector.rs
Labels: client, collector, enhancement

#1417 Separate interaction stuctures per kind
  examples/e14_slash_commands/src/main.rs
  src/builder/create_application_command.rs
  src/builder/create_application_command_permission.rs
  src/builder/create_components.rs
  src/client/bridge/gateway/shard_runner.rs
  src/client/event_handler.rs
  src/collector/component_interaction_collector.rs
  src/http/client.rs
  src/model/channel/message.rs
  src/model/error.rs
  src/model/event.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/interactions/application_command.rs
  src/model/interactions/message_component.rs
  src/model/interactions/mod.rs
  src/model/interactions/ping.rs
  src/model/utils.rs
Labels: breaking change, builder, client, collector, enhancement, examples, http, model

#1421 Add Cache::channel_messages_field
  src/cache/mod.rs
Labels: cache, enhancement

#1424 Apply automatic clippy fixes
  examples/e05_command_framework/src/main.rs
  examples/e10_collectors/src/main.rs
  examples/e14_slash_commands/src/main.rs
  src/builder/create_components.rs
  src/client/bridge/gateway/shard_manager.rs
  src/client/dispatch.rs
  src/collector/mod.rs
  src/error.rs
  src/framework/standard/args.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/mod.rs
  src/framework/standard/parse/map.rs
  src/framework/standard/parse/mod.rs
  src/gateway/shard.rs
  src/http/client.rs
  src/http/mod.rs
  src/http/ratelimiting.rs
  src/http/request.rs
  src/model/event.rs
  src/model/guild/member.rs
  src/model/utils.rs
  src/model/webhook.rs
  src/utils/mod.rs
  voice-model/src/event/tests.rs
Labels: client, collector, enhancement, fix, framework, gateway, http, model, utils, voice

#1426 Adds the necessary derive traits to use match with UserPublicFlags struct
  src/model/user.rs
Labels: enhancement, model

#1427 Add Event methods to get related user, guild, channel, and message IDs
  src/model/event.rs
Labels: enhancement, model

#1434 Stop running clippy in the CI workflow
  .github/workflows/ci.yml
Labels: ci, enhancement

#1435 Mention the type of event that failed to deserialise
  src/model/event.rs
Labels: enhancement, model

#1436 Fix EditMessage::suppress_embeds(false)
  src/builder/edit_message.rs
Labels: builder, fix

#1438 Add flags to MessageUpdateEvent
  src/model/event.rs
Labels: enhancement, fix, model

#1442 Allow sending files when creating and editing followup messages
  src/http/client.rs
  src/model/interactions/application_command.rs
Labels: builder, enhancement, fix, http

#1429 Create a generic EventCollector
  Cargo.toml
  examples/e10_collectors/src/main.rs
  src/client/bridge/gateway/shard_messenger.rs
  src/client/bridge/gateway/shard_runner.rs
  src/client/bridge/gateway/shard_runner_message.rs
  src/collector/error.rs
  src/collector/event_collector.rs
  src/collector/mod.rs
  src/error.rs
  src/model/event.rs
Labels: enhancement, model

#1445 Add `USE_EXTERNAL_STICKERS` permission and audit log support for stickers.
  src/http/client.rs
  src/model/guild/guild_id.rs
  src/model/permissions.rs
Labels: breaking change, discord feature, http, model

#1448 Return EmojiIdentifierParseError as Err instead of ()
  src/model/misc.rs
Labels: breaking change, enhancement, model

#1446 Fix broken GuildChannel `await_reply` functionality
  src/model/channel/guild_channel.rs
  src/model/channel/mod.rs
Labels: collector, docs, fix, model

#1449 Make GuildChannel::send_message work in threads
  src/model/channel/guild_channel.rs
Labels: fix, model

#1458 Fix deserialisation of `PresenceUser`'s `discriminator` field
  src/model/gateway.rs
  src/model/utils.rs
Labels: fix, model

#1451 Fix serde on Integration for the IntegrationUpdate event
  src/model/guild/integration.rs
Labels: breaking change, fix, model
