Repository serenity-rs/serenity, pull requests merged in 2021-08, with the labels that each got.

#1456 Make Message::channel fall back to HTTP
  src/model/channel/message.rs
Labels: breaking change, enhancement, model

#1450 Add number to ApplicationCommandOption
  src/builder/create_application_command.rs
  src/model/interactions/application_command.rs
  src/model/utils.rs
Labels: discord feature, enhancement, model

#1447 Include Discord's error explanations in Display impl
  src/http/error.rs
Labels: enhancement, http

#1461 Add cache-settings to client-builder.
  src/client/mod.rs
Labels: cache, client, enhancement

#1380 Redesign/rename Parse trait and add support for most applicable model types
  src/utils/argument_convert/_template.rs
  src/utils/argument_convert/channel.rs
  src/utils/argument_convert/emoji.rs
  src/utils/argument_convert/guild.rs
  src/utils/argument_convert/member.rs
  src/utils/argument_convert/message.rs
  src/utils/argument_convert/mod.rs
  src/utils/argument_convert/role.rs
  src/utils/argument_convert/user.rs
  src/utils/mod.rs
  src/utils/parse.rs
Labels: enhancement, utils

#1470 Bump to 0.10.9
  CHANGELOG.md
  Cargo.toml
Labels: enhancement

#1472 Add `ContextMenuCommand` message type
  src/model/channel/message.rs
Labels: enhancement, discord feature

#1473 Rename `ApplicationCommand` message type to `ChatInputCommand`
  src/model/channel/message.rs
Labels: enhancement, discord feature, breaking change

#1471 Guarantee the `MessageComponentInteraction::message` to not be partial
  src/collector/component_interaction_collector.rs
  src/model/event.rs
  src/model/interactions/message_component.rs
Labels: enhancement, model, breaking change, collector

#1460 Support context menus
  src/builder/create_application_command.rs
  src/model/id.rs
  src/model/interactions/application_command.rs
  src/model/utils.rs
Labels: enhancement, discord feature, model, builder

#1406 Add a set_component method to respective builders
  src/builder/create_interaction_response.rs
  src/builder/create_interaction_response_followup.rs
  src/builder/create_message.rs
Labels: enhancement, builder

#1481 Add path to http-errors
  src/http/error.rs
Labels: enhancement, http

#1479 Undocumented `#[required_permissions(perms)]` requirements
  command_attr/src/lib.rs
  examples/e05_command_framework/src/main.rs
Labels: enhancement, docs, framework, examples
