Repository serenity-rs/serenity, pull requests merged in 2021-02, with the labels that each got.

#1210 Update comments in the 7th example to mention `tracing`
  examples/e07_env_logging/src/main.rs
Labels: examples, fix

#1208 Add new fields for the `Member` model
  src/model/event.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/misc.rs
  src/model/voice.rs
  src/utils/mod.rs
Labels: discord feature, enhancement, model

#1194 Update the contributing guide to reflect the state of the project
  CONTRIBUTING.md
Labels: enhancement

#1211 Simple docs grammar fix
  src/framework/standard/configuration.rs
Labels: fix, framework

#1214 Conditionally instantiate `WebSocketConfig` to fix tokio 0.2 compilation
  src/internal/ws_impl.rs
Labels: fix, gateway

#1216 Use vectors for passing permissions in the builders' documentation
  src/builder/create_channel.rs
  src/builder/edit_channel.rs
Labels: docs, enhancement

#1217 Fixed the invalid hyperlink
  src/client/mod.rs
Labels: docs, fix

#1215 Update to `tracing` 0.1.23
  Cargo.toml
  examples/e06_sample_bot_structure/Cargo.toml
  examples/e07_env_logging/Cargo.toml
Labels: dependencies, enhancement

#1221 documented lacking_conditions wrong_channel
  command_attr/src/lib.rs
Labels: docs, enhancement, framework

#1222 Bump dependencies to build with minimal versions
  .github/workflows/ci.yml
  Cargo.toml
Labels: enhancement

#1205 Handle nested sub-commands in help
  src/framework/standard/help_commands.rs
Labels: docs, fix, framework

#1209 Add clippy lint for denying missing error documentation
  src/client/bridge/gateway/shard_messenger.rs
  src/framework/standard/args.rs
  src/gateway/shard.rs
  src/http/client.rs
  src/http/ratelimiting.rs
  src/http/typing.rs
  src/lib.rs
  src/model/channel/channel_category.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/channel/private_channel.rs
  src/model/channel/reaction.rs
  src/model/event.rs
  src/model/guild/emoji.rs
  src/model/guild/guild_id.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/guild/role.rs
  src/model/interactions.rs
  src/model/invite.rs
  src/model/user.rs
  src/model/webhook.rs
  src/utils/mod.rs
Labels: client, docs, enhancement, framework, gateway, http, model

#1230 [MessageCollector] fix typo in doc
  src/collector/message_collector.rs
Labels: docs, fix

#1228 Update `async-tungstenite` to 0.13
  Cargo.toml
Labels: breaking change, dependencies

#1231 Capture sub-commands and aliases in `similar_command`
  src/framework/standard/help_commands.rs
Labels: enhancement, framework

#1232 Preserve documentation comments for the help command
  command_attr/src/lib.rs
  command_attr/src/structures.rs
  command_attr/src/util.rs
Labels: command_attr, fix, framework

#1233 Ignore Missing Cache Items on Permission Checks
  src/model/application.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/channel/reaction.rs
  src/model/channel/sticker.rs
  src/model/error.rs
  src/model/gateway.rs
  src/model/guild/mod.rs
  src/model/guild/premium_tier.rs
  src/model/interactions.rs
  src/model/invite.rs
  src/model/utils.rs
Labels: fix, model, utils

#1240 Remove `Box` indirection on `framework`.
  src/client/bridge/gateway/shard_manager.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/client/bridge/gateway/shard_runner.rs
  src/client/dispatch.rs
  src/client/mod.rs
Labels: breaking change, enhancement, framework

#1241 add ChannelFollowAdd to MessageType enum.
  src/model/channel/message.rs
Labels: enhancement, model

#1239 docs: Add note on Guild presences field for requiring guild presences intent
  src/model/guild/mod.rs
Labels: docs, model

#1243 add new MessageTypes to serde enum_number macro
  src/model/channel/message.rs
Labels: discord feature, enhancement, model

#1242 Check if Private Channel Before Returning `NotAuthor`
  src/model/channel/message.rs
  src/model/error.rs
Labels: fix, model

#1245 Rename `#[doc]` attributes to `#[description]` for groups
  command_attr/src/lib.rs
  command_attr/src/structures.rs
Labels: command_attr, enhancement, fix, framework

#1244 Skip the `Available`-Segment in Help if Empty
  src/framework/standard/help_commands.rs
Labels: enhancement, fix, framework
