Repository serenity-rs/serenity, pull requests merged in 2021-09, with the labels that each got.

#1482 Fix missing field `pack_id` decode error
  src/model/channel/sticker.rs
Labels: fix, model

#1475 Impl from owned Datetime for Timestamp
  examples/e09_create_message_builder/Cargo.toml
  examples/e09_create_message_builder/src/main.rs
  src/builder/create_embed.rs
Labels: enhancement, builder, examples

#1463 Make `CreateApplicationCommandPermissions` public
  src/builder/create_application_command_permission.rs
  src/builder/mod.rs
Labels: fix, builder

#1489 Fallback to Member parsing if user not in cache in ArgumentConvert
  src/utils/argument_convert/user.rs
Labels: enhancement, utils

#1474 Add get guild active threads
  src/http/client.rs
  src/http/routing.rs
  src/model/channel/channel_id.rs
  src/model/channel/mod.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
Labels: enhancement, discord feature, model, http

#1490 Add `ApplicationCommand::version` field support
  src/model/id.rs
  src/model/interactions/application_command.rs
Labels: enhancement, discord feature, model

#1491 Added new invite fields.
  src/builder/create_invite.rs
  src/model/invite.rs
Labels: enhancement, model, builder

#1496 Fix MessageBuilder documentation
  src/utils/message_builder.rs
Labels: docs, fix, utils

#1499 Fix clippy warnings
  src/http/multipart.rs
  src/http/request.rs
  src/model/event.rs
  src/utils/argument_convert/user.rs
Labels: enhancement, model, http, utils

#1501 Support application webhooks
  src/model/webhook.rs
Labels: enhancement, discord feature, model

#1498 Replace some instance's of `match` with `matches!` macro
  voice-model/src/close_code.rs
  voice-model/src/event/tests.rs
Labels: enhancement, voice

#1476 Add a simple dashboard example.
  .github/workflows/ci.yml
  Cargo.toml
  Makefile.toml
  examples/README.md
  examples/e15_simple_dashboard/Cargo.toml
  examples/e15_simple_dashboard/Makefile.toml
  examples/e15_simple_dashboard/src/main.rs
Labels: enhancement, examples

#1497 Replace instances of `tokio::spawn` with `spawn_named`
  src/client/bridge/gateway/shard_manager.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/client/dispatch.rs
  src/framework/standard/structures/buckets.rs
  src/http/typing.rs
  src/internal/mod.rs
  src/internal/tokio.rs
Labels: enhancement, framework, client, gateway

#1502 Fix: spawn_named gives type error
  src/internal/tokio.rs
Labels: fix

#1508 Gateway transport compression
  Cargo.toml
  examples/e01_basic_ping_bot/Cargo.toml
  src/client/bridge/gateway/shard_runner.rs
  src/error.rs
  src/gateway/mod.rs
  src/gateway/shard.rs
  src/gateway/ws_client_ext.rs
  src/internal/inflater.rs
  src/internal/mod.rs
  src/internal/ws_impl.rs
  src/json.rs
  src/model/invite.rs
  src/model/webhook.rs
Labels: enhancement, gateway, breaking change

#1503 Better CI caching
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
Labels: enhancement, ci

#1515 Add thread editing
  src/builder/edit_thread.rs
  src/builder/mod.rs
  src/http/client.rs
  src/http/routing.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
Labels: enhancement, model, builder, http
