Repository serenity-rs/serenity, pull requests merged in 2021-01, with the labels that each got.

#1169 Fix Path of Interactions Response
  src/http/routing.rs
Labels: fix, http

#1168 Fix local ratelimit bug
  src/http/ratelimiting.rs
Labels: fix, http

#1167 Document VoiceGatewayManager interface
  src/client/bridge/voice/mod.rs
Labels: docs, voice

#1161 Update to tokio 1.0 and reqwest 0.11
  Cargo.toml
  examples/e01_basic_ping_bot/Cargo.toml
  examples/e02_transparent_guild_sharding/Cargo.toml
  examples/e03_struct_utilities/Cargo.toml
  examples/e04_message_builder/Cargo.toml
  examples/e05_command_framework/Cargo.toml
  examples/e06_sample_bot_structure/Cargo.toml
  examples/e07_env_logging/Cargo.toml
  examples/e08_shard_manager/Cargo.toml
  examples/e08_shard_manager/src/main.rs
  examples/e09_create_message_builder/Cargo.toml
  examples/e10_collectors/Cargo.toml
  examples/e11_gateway_intents/Cargo.toml
  examples/e12_global_data/Cargo.toml
  examples/e13_parallel_loops/Cargo.toml
  examples/e13_parallel_loops/src/main.rs
  src/cache/mod.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/client/mod.rs
  src/collector/message_collector.rs
  src/collector/reaction_collector.rs
  src/framework/standard/mod.rs
  src/http/ratelimiting.rs
  src/http/typing.rs
Labels: breaking change, dependencies, enhancement, gateway, http

#1170 Remove unnecessary `cfg!`s
  src/http/ratelimiting.rs
Labels: enhancement, http

#1171 Remove `deprecated`-items
  src/client/mod.rs
  src/model/guild/member.rs
  src/model/guild/role.rs
Labels: breaking change, enhancement

#1146 Bump to 0.10.0
  CHANGELOG.md
  Cargo.toml
  command_attr/Cargo.toml
  voice-model/Cargo.toml
Labels: enhancement

#1176 Bump the required version of the command_attr crate
  Cargo.toml
Labels: dependencies, fix

#1177 Bump to 0.9.4
  CHANGELOG.md
  Cargo.toml
Labels: enhancement

#1178 Bump to 0.10.1
  CHANGELOG.md
  Cargo.toml
Labels: enhancement

#1179 Fix doc_cfg attributes for the `unstable_discord_api` feature
  src/client/event_handler.rs
  src/http/client.rs
  src/http/routing.rs
  src/model/event.rs
  src/model/mod.rs
  src/model/prelude.rs
Labels: client, docs, fix, http, model

#1180 Add Cargo-features for `tokio` version `0.2`
  Cargo.toml
  README.md
  build.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/collector/message_collector.rs
  src/collector/reaction_collector.rs
  src/error.rs
  src/framework/standard/mod.rs
  src/gateway/shard.rs
  src/http/client.rs
  src/http/ratelimiting.rs
  src/http/typing.rs
  src/internal/ws_impl.rs
  src/lib.rs
Labels: dependencies, enhancement

#1182 Bump to 0.10.2
  CHANGELOG.md
  Cargo.toml
Labels: enhancement

#1181 Update to async-tungstenite 0.12
  Cargo.toml
  src/internal/ws_impl.rs
Labels: breaking change, dependencies

#1185 Fix e05_command_framework example owner_check
  examples/e05_command_framework/src/main.rs
Labels: examples, fix

#1175 Builders and Implementations For Interaction Response
  src/builder/create_interaction_response.rs
  src/builder/create_interaction_response_followup.rs
  src/builder/edit_interaction_response.rs
  src/builder/mod.rs
  src/model/interactions.rs
Labels: builder, discord feature, enhancement, model

#1187 Ignore the `msg` parameter when creating a tracing span
  src/framework/standard/mod.rs
Labels: enhancement, framework

#1189 Allow users to reuse `Http` when building the `Client`
  src/client/mod.rs
Labels: client, enhancement

#1196 Fix slash command choices
  src/builder/create_interaction.rs
Labels: builder, fix

#1199 Fix token logging from run:action:resume:send_resume
  src/gateway/ws_client_ext.rs
Labels: fix, gateway

#1200 Fix WebSocketGatewayClientExt::send_chunk_guild to not get disconnected by Discord's gateway
  src/gateway/ws_client_ext.rs
Labels: fix, gateway

#1201 Enable log feature in tracing
  Cargo.toml
Labels: dependencies, enhancement

#1207 event.rs: reverted removal of type for Embeds in MessageUpdateEvent
  src/model/event.rs
Labels: fix, model

#1203 Add clippy lint for denying usage of `unwrap()`
  src/builder/create_allowed_mentions.rs
  src/builder/create_interaction.rs
  src/builder/create_message.rs
  src/cache/mod.rs
  src/client/mod.rs
  src/collector/message_collector.rs
  src/collector/reaction_collector.rs
  src/constants.rs
  src/framework/standard/mod.rs
  src/framework/standard/parse/mod.rs
  src/http/error.rs
  src/http/ratelimiting.rs
  src/lib.rs
  src/model/channel/mod.rs
  src/model/channel/reaction.rs
  src/model/event.rs
  src/model/guild/audit_log.rs
  src/model/guild/mod.rs
  src/model/interactions.rs
  src/model/misc.rs
  src/model/user.rs
  src/utils/mod.rs
Labels: enhancement

#1202 Add CI jobs for tokio 0.2 and the `unstable_discord_api` feature
  .github/workflows/ci.yml
Labels: ci, enhancement
