Repository serenity-rs/serenity, pull requests merged in 2021-04, with the labels that each got.

#1276 feat(model): Add `rtc_region` and `video_quality_mode` guildchannel fields
  src/cache/mod.rs
  src/model/channel/guild_channel.rs
  src/model/channel/mod.rs
  src/model/misc.rs
  src/utils/mod.rs
Labels: discord feature, model

#1267 Allow editing and deleting messages from webhooks
  src/builder/edit_webhook_message.rs
  src/builder/mod.rs
  src/http/client.rs
  src/http/routing.rs
  src/model/webhook.rs
Labels: discord feature, enhancement, http, model

#1265 Update `EditGuild` to match current Discord API
  src/builder/edit_guild.rs
Labels: builder, discord feature, docs, enhancement

#1275 feat: Add support for stage channels
  src/builder/edit_voice_state.rs
  src/builder/mod.rs
  src/http/client.rs
  src/http/routing.rs
  src/model/channel/guild_channel.rs
  src/model/channel/mod.rs
  src/model/permissions.rs
  src/model/voice.rs
Labels: discord feature, http

#1277 Bump to 0.10.5
  CHANGELOG.md
  Cargo.toml
  command_attr/Cargo.toml
Labels: enhancement

#1278 Adds a space in a example of CreateEmbed
  src/builder/create_embed.rs
Labels: builder, docs, fix

#1271 Update mention_channels documentation with constraints
  src/framework/standard/structures/check.rs
  src/model/channel/message.rs
  src/model/channel/reaction.rs
Labels: docs, enhancement, model

#1284 Remove useless `mut` modifiers in builder code
  src/builder/create_interaction_response.rs
  src/builder/edit_interaction_response.rs
Labels: builder, fix

#1285 Added watching status, finally
  src/model/gateway.rs
Labels: discord feature, enhancement, gateway, model

#1281 rephrase documentation for accuracy
  examples/e05_command_framework/src/main.rs
Labels: docs, examples, fix

#1286 Added the invite reminder system message and flag
  src/builder/edit_guild.rs
  src/framework/standard/structures/check.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/channel/reaction.rs
  src/model/guild/mod.rs
  src/model/guild/system_channel.rs
Labels: builder, discord feature, enhancement, model

#1287 Add content_type field to Attachment
  src/model/channel/attachment.rs
Labels: discord feature, enhancement, model

#1288 Add voice status to the MemberUpdate event
  src/model/event.rs
Labels: discord feature, enhancement, model

#1266 feat: Add Discord API proxy support
  src/http/client.rs
  src/http/error.rs
  src/http/ratelimiting.rs
  src/http/request.rs
Labels: enhancement, http

#1237 simd-json feature flag
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  Cargo.toml
  README.md
  src/builder/create_allowed_mentions.rs
  src/builder/create_channel.rs
  src/builder/create_embed.rs
  src/builder/create_interaction.rs
  src/builder/create_interaction_response.rs
  src/builder/create_interaction_response_followup.rs
  src/builder/create_invite.rs
  src/builder/create_message.rs
  src/builder/edit_channel.rs
  src/builder/edit_guild.rs
  src/builder/edit_interaction_response.rs
  src/builder/edit_member.rs
  src/builder/edit_message.rs
  src/builder/edit_profile.rs
  src/builder/edit_role.rs
  src/builder/edit_voice_state.rs
  src/builder/edit_webhook_message.rs
  src/builder/execute_webhook.rs
  src/cache/cache_update.rs
  src/cache/mod.rs
  src/client/event_handler.rs
  src/error.rs
  src/gateway/mod.rs
  src/gateway/ws_client_ext.rs
  src/http/client.rs
  src/http/error.rs
  src/internal/prelude.rs
  src/internal/ws_impl.rs
  src/json.rs
  src/lib.rs
  src/model/channel/channel_category.rs
  src/model/channel/channel_id.rs
  src/model/channel/embed.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/event.rs
  src/model/gateway.rs
  src/model/guild/audit_log.rs
  src/model/guild/emoji.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/interactions.rs
  src/model/user.rs
  src/model/webhook.rs
  src/utils/custom_message.rs
  src/utils/mod.rs
Labels: builder, dependencies, enhancement, gateway, http, model, utils

#1293 Type check the return type of the body of async functions
  command_attr/src/lib.rs
Labels: command_attr, enhancement, framework

#1296 Update `README.md` Discord Guild Badge
  README.md
Labels: docs

#1294 Add role tags
  src/model/guild/role.rs
  src/model/misc.rs
  src/utils/mod.rs
Labels: discord feature, enhancement, model

#1298 Fix custom misspelling in ActivityType
  src/model/gateway.rs
Labels: docs, fix, model

#1283 Support all interactions features
  .github/workflows/ci.yml
  examples/Cargo.toml
  examples/e14_slash_commands/Cargo.toml
  examples/e14_slash_commands/Makefile.toml
  examples/e14_slash_commands/src/main.rs
  src/builder/create_application_command.rs
  src/builder/create_application_command_permission.rs
  src/builder/create_interaction_response.rs
  src/builder/edit_interaction_response.rs
  src/builder/mod.rs
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/client/mod.rs
  src/http/client.rs
  src/http/routing.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/channel/partial_channel.rs
  src/model/event.rs
  src/model/guild/guild_id.rs
  src/model/guild/integration.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/id.rs
  src/model/interactions.rs
  src/model/permissions.rs
  src/model/utils.rs
Labels: breaking change, builder, ci, client, discord feature, enhancement, examples, http, model

#1299 Remove debug tool
  src/model/interactions.rs
Labels: enhancement, model

#1303 Silence `dead_code` lint for `ClientBuilder::token`
  src/client/mod.rs
Labels: client, enhancement

#1301 Avoid cloning messages if the framework feature is disabled
  src/client/dispatch.rs
Labels: client, enhancement, framework

#1300 Support member field on message reaction add event
  src/model/channel/message.rs
  src/model/channel/reaction.rs
  src/model/guild/member.rs
Labels: discord feature, enhancement, model

#1307 Default to the `Unknown` variant for new model types
  src/constants.rs
  src/internal/macros.rs
  src/model/application.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/channel/sticker.rs
  src/model/gateway.rs
  src/model/guild/integration.rs
  src/model/guild/mod.rs
  src/model/guild/premium_tier.rs
  src/model/interactions.rs
  src/model/webhook.rs
Labels: enhancement, model

#1310 Better errors display
  src/http/error.rs
  src/http/mod.rs
  src/http/utils.rs
Labels: enhancement, http

#1306 Support all guild fields : welcome screen, rules channel, nsfw and more
  src/builder/edit_guild.rs
  src/builder/edit_guild_welcome_screen.rs
  src/builder/edit_guild_widget.rs
  src/builder/mod.rs
  src/cache/mod.rs
  src/http/client.rs
  src/http/routing.rs
  src/model/guild/guild_id.rs
  src/model/guild/guild_preview.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/guild/system_channel.rs
  src/utils/mod.rs
Labels: builder, discord feature, enhancement, http, model

#1313 Consider group restrictions when displaying command availability
  src/framework/standard/help_commands.rs
Labels: fix, framework

#1309 Support mentionable application command option type
  src/model/interactions.rs
  src/model/utils.rs
Labels: discord feature, enhancement, model
