Repository serenity-rs/serenity, pull requests merged in 2022-06, with the labels that each got.

#1909 Fix clippy warnings
  src/builder/create_interaction_response.rs
  src/framework/standard/help_commands.rs
  src/http/routing.rs
  src/model/channel/message.rs
  src/model/user.rs
  src/utils/message_builder.rs
Labels: enhancement, framework, model, builder, http, utils

#1931 Fix compile errors in builder when model disabled
  .github/workflows/ci.yml
  src/builder/create_message.rs
  src/builder/create_scheduled_event.rs
  src/builder/edit_scheduled_event.rs
  src/builder/execute_webhook.rs
Labels: fix, builder, ci

#1921 Slash command localization
  examples/e14_slash_commands/src/main.rs
  src/builder/create_application_command.rs
  src/model/application/command.rs
Labels: enhancement, discord feature, model, builder, examples

#1934 Avoid cloning member out of cache in Guild::member
  src/model/guild/mod.rs
Labels: enhancement, model, breaking change

#1935 De-duplicate cache -> http logic from Message::member
  src/model/channel/message.rs
Labels: enhancement, model

#1936 Clean up previous changes to cache
  examples/e05_command_framework/src/main.rs
  src/builder/create_invite.rs
  src/cache/mod.rs
  src/client/dispatch.rs
  src/model/user.rs
Labels: enhancement, model, client, builder, cache, breaking change, examples

#1937 refactor: remove references from `ShardManagerOptions`
  src/client/bridge/gateway/shard_manager.rs
  src/client/mod.rs
Labels: enhancement, client, breaking change

#1941 Introduce a separate data type for autocomplete interactions
  src/model/application/interaction/application_command.rs
  src/model/application/interaction/autocomplete.rs
Labels: enhancement, model, breaking change

#1947 Reduce int size for days param of prune_count methods
  src/http/client.rs
  src/http/routing.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
Labels: enhancement, model, http, breaking change

#1946 Clean and optimise message_builder.rs
  src/utils/message_builder.rs
Labels: enhancement, utils, breaking change

#1945 Remove unused allowed clippy warnings or fix them
  src/framework/standard/parse/mod.rs
  src/model/channel/message.rs
  src/model/channel/reaction.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/utils/argument_convert/role.rs
  src/utils/argument_convert/user.rs
Labels: enhancement, framework, model, utils

#1943 Move allow for clippy::unused_self to only trigger of it
  src/lib.rs
  src/model/channel/private_channel.rs
Labels: enhancement, model

#1949 Fix unnecessary clone in Message::react
  src/model/channel/message.rs
Labels: enhancement, model

#1938 Rework manual deserialization implementations
  src/cache/event.rs
  src/cache/mod.rs
  src/client/bridge/gateway/shard_runner.rs
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/gateway/ws.rs
  src/model/application/component.rs
  src/model/application/interaction/application_command.rs
  src/model/application/interaction/autocomplete.rs
  src/model/application/interaction/message_component.rs
  src/model/application/interaction/mod.rs
  src/model/application/interaction/modal.rs
  src/model/channel/mod.rs
  src/model/channel/reaction.rs
  src/model/event.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/permissions.rs
  src/model/utils.rs
Labels: model, client, cache, gateway

#1948 Fix clippy warnings caused by #1921
  src/builder/create_application_command.rs
Labels: fix, builder

#1939 Remove duplication in handle_event
  src/client/dispatch.rs
Labels: enhancement, client

#1956 Fix typo in the `EditGuild::discovery_splash` field
  src/builder/edit_guild.rs
Labels: fix, builder

#1954 Remove unused maps
  src/model/channel/channel_category.rs
  src/model/channel/guild_channel.rs
Labels: enhancement, model

#1961 Fix needless_pass_by_value caused by new ToString usage
  src/builder/create_application_command.rs
Labels: enhancement, builder, breaking change

#1963 Swap out storing &[u8] to Vec<u8> in Request
  src/http/client.rs
  src/http/ratelimiting.rs
  src/http/request.rs
Labels: enhancement, http, breaking change

#1970 Remove `kind` from the interaction types
  src/model/application/interaction/application_command.rs
  src/model/application/interaction/autocomplete.rs
  src/model/application/interaction/message_component.rs
  src/model/application/interaction/modal.rs
  src/model/application/interaction/ping.rs
Labels: enhancement, model, breaking change

#1971 Typo in doc
  examples/e02_transparent_guild_sharding/src/main.rs
Labels: fix, examples

#1972 Remove unneeded `#[repr(u8)]` attributes
  src/model/application/interaction/application_command.rs
Labels: enhancement, model

#1965 Add missing fields serenity::model::application types
  src/model/application/command.rs
  src/model/application/interaction/application_command.rs
  src/model/application/interaction/autocomplete.rs
  src/model/application/interaction/message_component.rs
  src/model/application/interaction/mod.rs
  src/model/application/interaction/modal.rs
  src/model/application/interaction/ping.rs
Labels: enhancement, discord feature, model

#1975 Use `Self` in enum matches
  command_attr/src/attributes.rs
  command_attr/src/structures.rs
  command_attr/src/util.rs
  src/client/error.rs
  src/error.rs
  src/framework/standard/args.rs
  src/gateway/error.rs
  src/http/error.rs
  src/http/mod.rs
  src/model/application/component.rs
  src/model/application/interaction/mod.rs
  src/model/channel/attachment_type.rs
  src/model/channel/mod.rs
  src/model/error.rs
  src/model/event.rs
  src/model/guild/audit_log.rs
  src/model/guild/audit_log/change.rs
  src/model/guild/guild_id.rs
  src/model/guild/role.rs
  src/model/webhook.rs
  src/utils/argument_convert/role.rs
Labels: enhancement, framework, model, client, http, utils, gateway, command_attr

#1976 Add missing `member` field to `MessageInteraction`
  src/model/application/interaction/mod.rs
Labels: enhancement, discord feature, model, breaking change

#1977 Rename `Permissions::USE_SLASH_COMMANDS` to `USE_APPLICATION_COMMANDS`
  src/model/permissions.rs
Labels: enhancement, model, breaking change

#1979 De-duplicate base64 encoding + data:image/png;base64
  src/builder/create_scheduled_event.rs
  src/builder/edit_role.rs
  src/builder/edit_scheduled_event.rs
  src/model/channel/channel_id.rs
  src/model/webhook.rs
  src/utils/mod.rs
Labels: enhancement, model, builder, utils

#1983 Use `indexmap` 1.8.2 for the MSRV build job
  .github/workflows/ci.yml
Labels: fix, ci

#1982 Fix clippy warnings & errors for all features enabled
  src/http/ratelimiting.rs
  src/model/timestamp.rs
Labels: enhancement, fix, model, http

#1985 Fix some typos
  src/collector/event_collector.rs
  src/gateway/error.rs
  src/http/client.rs
  src/model/channel/reaction.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/webhook.rs
  src/utils/content_safe.rs
  voice-model/src/payload/speaking.rs
  voice-model/src/protocol_data.rs
Labels: docs, fix, voice, model, http, utils, gateway, collector

#1987 Fix missing serde(rename = "type")
  src/builder/create_components.rs
Labels: fix, builder

#1988 fixing e13 intents
  examples/e13_parallel_loops/src/main.rs
Labels: fix, examples

#1981 Remove usage of json! macro from websocket message sending
  src/gateway/ws.rs
Labels: enhancement, gateway

#1989 Reduce the usage of value in CreateComponents
  src/builder/create_components.rs
  src/model/channel/reaction.rs
Labels: enhancement, model, builder

#1991 Reuse edit_member in GuildId methods
  src/model/guild/guild_id.rs
Labels: enhancement, model

#1990 Use custom enum for Nonce instead of Value
  src/cache/mod.rs
  src/model/channel/message.rs
  src/utils/custom_message.rs
Labels: enhancement, model, cache, utils, breaking change

#1993 Add proper builders for Webhook
  src/builder/create_webhook.rs
  src/builder/edit_webhook.rs
  src/builder/mod.rs
  src/http/client.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/webhook.rs
Labels: enhancement, model, builder, http, breaking change

#1994 Fixing e12 count
  examples/e12_global_data/src/main.rs
Labels: fix, examples

#1996 Use CacheRef for CurrentUser
  src/builder/edit_profile.rs
  src/cache/mod.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/reaction.rs
  src/model/user.rs
Labels: enhancement, model, builder, cache, breaking change

#1932 Deduplicate a lot of the collector module
  src/collector/component_interaction_collector.rs
  src/collector/event_collector.rs
  src/collector/macros.rs
  src/collector/message_collector.rs
  src/collector/mod.rs
  src/collector/modal_interaction_collector.rs
  src/collector/reaction_collector.rs
Labels: enhancement, collector

#1999 Unify `derive` & `#[non_exhaustive]` attributes for number enums
  src/model/application.rs
  src/model/application/command.rs
  src/model/application/component.rs
  src/model/application/interaction/mod.rs
  src/model/connection.rs
  src/model/gateway.rs
  src/model/guild/integration.rs
  src/model/guild/premium_tier.rs
  src/model/guild/scheduled_event.rs
Labels: enhancement, model, breaking change

#1984 Rework shard types
  examples/e08_shard_manager/src/main.rs
  src/cache/event.rs
  src/cache/mod.rs
  src/client/bridge/gateway/mod.rs
  src/client/bridge/gateway/shard_manager.rs
  src/client/bridge/gateway/shard_messenger.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/client/bridge/gateway/shard_runner.rs
  src/client/bridge/voice/mod.rs
  src/client/context.rs
  src/client/dispatch.rs
  src/client/mod.rs
  src/gateway/shard.rs
  src/gateway/ws.rs
  src/model/gateway.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/invite.rs
  src/utils/mod.rs
Labels: enhancement, model, client, cache, utils, gateway, breaking change, examples

#2002 Attempt to fix lifetime bug around `CustomisedHelpData`
  src/framework/standard/help_commands.rs
Labels: fix, framework

#2014 Remove `Shard` prefix in ShardInfo logging
  src/gateway/shard.rs
  src/gateway/ws.rs
Labels: enhancement, gateway

#2017 Make Member::edit in-place
  src/model/guild/member.rs
Labels: enhancement, model, breaking change

#2009 Remove `InterMessage::Json`
  src/client/bridge/gateway/shard_runner.rs
  src/gateway/mod.rs
Labels: enhancement, client, gateway, breaking change

#2010 fixing say command
  examples/e05_command_framework/src/main.rs
Labels: fix, examples

#2018 feat: support setting presence when identifying
  src/client/bridge/gateway/shard_manager.rs
  src/client/bridge/gateway/shard_messenger.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/client/mod.rs
  src/gateway/shard.rs
  src/gateway/ws.rs
Labels: enhancement, client, gateway, breaking change

#2006 Add webhook example
  examples/README.md
  examples/e18_webhook/Cargo.toml
  examples/e18_webhook/Makefile.toml
  examples/e18_webhook/src/main.rs
Labels: enhancement, examples

#2004 documenting e16
  examples/e16_sqlite_database/src/main.rs
Labels: enhancement, docs, examples

#2023 Use `GenericId` for the `AuditLogEntry::target_id` field
  src/model/guild/audit_log.rs
Labels: enhancement, model, breaking change

#2028 Fix "missing field `discriminator`" serde error for presence updates
  src/model/gateway.rs
  src/model/user.rs
Labels: enhancement, fix, model

#2026 Enable `Invite::expires_at` field
  src/model/invite.rs
Labels: enhancement, discord feature, model

#2030 Fix guild delete return type
  src/http/client.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
Labels: fix, model, http, breaking change
