Repository serenity-rs/serenity, pull requests merged in 2022-12, with the labels that each got.

#2298 Add missing forum fields to guild channel
  src/cache/mod.rs
  src/model/channel/guild_channel.rs
  src/model/channel/mod.rs
  src/model/id.rs
  src/model/mention.rs
  src/utils/content_safe.rs
Labels: enhancement, discord feature, model, cache, utils, breaking change

#2307 Fix scheduled event
  examples/testing/src/model_type_sizes.rs
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/model/event.rs
Labels: fix, model, client, breaking change, examples

#2308 Remove `CacheAndHttp`
  src/client/bridge/gateway/shard_manager.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/client/bridge/gateway/shard_runner.rs
  src/client/mod.rs
  src/http/mod.rs
  src/lib.rs
  src/prelude.rs
Labels: enhancement, client, http, breaking change

#2309 Make collector API backwards compatible
  examples/e10_collectors/src/main.rs
  examples/e17_message_components/src/main.rs
  examples/testing/src/main.rs
  src/builder/quick_modal.rs
  src/collector.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/user.rs
Labels: enhancement, model, builder, breaking change, examples

#2310 Flatten crate::model::application
  examples/e14_slash_commands/src/commands/attachmentinput.rs
  examples/e14_slash_commands/src/commands/id.rs
  examples/e14_slash_commands/src/commands/numberinput.rs
  examples/e14_slash_commands/src/commands/ping.rs
  examples/e14_slash_commands/src/commands/welcome.rs
  examples/e14_slash_commands/src/main.rs
  examples/e19_interactions_endpoint/src/main.rs
  examples/testing/src/main.rs
  examples/testing/src/model_type_sizes.rs
  src/builder/bot_auth_parameters.rs
  src/builder/create_application_command.rs
  src/builder/create_application_command_permission.rs
  src/builder/create_components.rs
  src/builder/quick_modal.rs
  src/client/event_handler.rs
  src/framework/standard/parse/mod.rs
  src/http/client.rs
  src/lib.rs
  src/model/application/command.rs
  src/model/application/command_interaction.rs
  src/model/application/component_interaction.rs
  src/model/application/interaction.rs
  src/model/application/mod.rs
  src/model/application/modal_interaction.rs
  src/model/application/ping_interaction.rs
  src/model/channel/message.rs
  src/model/event.rs
  src/model/guild/guild_id.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/prelude.rs
  src/model/user.rs
Labels: enhancement, framework, model, client, builder, http, breaking change, examples

#2313 Fix Rust 1.66 clippy lints on `current`
  src/client/mod.rs
  src/model/guild/member.rs
  src/model/timestamp.rs
Labels: enhancement, model, client

#2315 Bump MSRV to Rust 1.66
  .github/workflows/ci.yml
  Cargo.toml
  README.md
Labels: enhancement, breaking change, ci

#2318 Fix channel type in CreateChannel
  src/builder/create_channel.rs
Labels: fix, builder

#2320 Fix nightly clippy
  command_attr/src/attributes.rs
  command_attr/src/lib.rs
  command_attr/src/structures.rs
  command_attr/src/util.rs
  examples/e01_basic_ping_bot/src/main.rs
  examples/e02_transparent_guild_sharding/src/main.rs
  examples/e03_struct_utilities/src/main.rs
  examples/e04_message_builder/src/main.rs
  examples/e05_command_framework/src/main.rs
  examples/e08_shard_manager/src/main.rs
  examples/e09_create_message_builder/src/main.rs
  examples/e10_collectors/src/main.rs
  examples/e11_gateway_intents/src/main.rs
  examples/e12_global_data/src/main.rs
  examples/e13_parallel_loops/src/main.rs
  examples/e14_slash_commands/src/main.rs
  examples/e15_simple_dashboard/src/main.rs
  examples/e16_sqlite_database/src/main.rs
  examples/e17_message_components/src/main.rs
  examples/e19_interactions_endpoint/src/main.rs
  examples/testing/src/main.rs
  src/builder/quick_modal.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/framework/standard/args.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/mod.rs
  src/framework/standard/parse/mod.rs
  src/gateway/shard.rs
  src/http/ratelimiting.rs
  src/model/application/component.rs
  src/model/application/component_interaction.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/utils/mod.rs
Labels: enhancement, framework, model, client, builder, http, utils, gateway, command_attr, examples

#2317 fix incorrect api url for get_channel
  src/http/routing.rs
Labels: fix, http

#2323 Hotfix proxy support
  src/http/request.rs
Labels: fix, http
