Repository serenity-rs/serenity, pull requests merged in 2022-11, with the labels that each got.

#2257 Add support for multiple event handlers
  examples/testing/src/main.rs
  src/client/bridge/gateway/shard_manager.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/client/bridge/gateway/shard_runner.rs
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/client/mod.rs
Labels: enhancement, client, breaking change, examples

#2260 Make label on Button optional again
  examples/e17_message_components/src/main.rs
  examples/testing/src/main.rs
  src/builder/create_components.rs
  src/model/application/component.rs
Labels: enhancement, model, builder, breaking change, examples

#2270 Rework Framework trait
  src/client/bridge/gateway/shard_manager.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/client/bridge/gateway/shard_runner.rs
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/client/mod.rs
  src/framework/mod.rs
  src/framework/standard/mod.rs
Labels: enhancement, framework, client, breaking change

#2268 Remove nougat
  Cargo.toml
  src/collector/base_filter.rs
  src/collector/component_interaction_collector.rs
  src/collector/event_collector.rs
  src/collector/message_collector.rs
  src/collector/mod.rs
  src/collector/modal_interaction_collector.rs
  src/collector/reaction_collector.rs
Labels: enhancement, breaking change, dependencies, collector

#2266 fix NotAuthor error when deleting messages
  src/model/channel/message.rs
Labels: fix, model

#2265 Add ergonomic view helpers to Interaction
  src/model/application/interaction/mod.rs
Labels: enhancement, model

#2273 Add Reaction Remove Emoji event
  examples/testing/src/main.rs
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/model/event.rs
Labels: enhancement, model, client, examples

#2272 Fix simd_json serialization
  examples/testing/src/main.rs
  src/http/client.rs
Labels: fix, http, examples

#2271 Fix clippy warnings
  command_attr/src/lib.rs
  examples/e10_collectors/src/main.rs
  src/cache/mod.rs
  src/client/context.rs
  src/client/dispatch.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/mod.rs
  src/http/mod.rs
  src/http/routing.rs
  src/model/channel/guild_channel.rs
  src/model/channel/mod.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/utils.rs
  src/utils/content_safe.rs
  src/utils/message_builder.rs
Labels: fix, framework, model, client, cache, http, utils, command_attr, examples

#2261 Avoid cloning entire cache fields by adding ReadOnlyMapRef
  src/cache/mod.rs
  src/cache/wrappers.rs
Labels: enhancement, cache, breaking change

#2244 Flatten http module
  src/builder/bot_auth_parameters.rs
  src/builder/create_message.rs
  src/client/event_handler.rs
  src/http/client.rs
  src/http/error.rs
  src/http/mod.rs
  src/http/ratelimiting.rs
  src/http/utils.rs
Labels: enhancement, client, builder, http, breaking change

#2263 Hide hasher implementation behind newtype
  src/cache/mod.rs
  src/cache/wrappers.rs
Labels: enhancement, cache, breaking change

#2240 Rewrite collectors
  Cargo.toml
  examples/e10_collectors/src/main.rs
  examples/e17_message_components/src/main.rs
  examples/testing/src/main.rs
  src/builder/bot_auth_parameters.rs
  src/builder/create_message.rs
  src/builder/quick_modal.rs
  src/cache/mod.rs
  src/cache/wrappers.rs
  src/client/bridge/gateway/mod.rs
  src/client/bridge/gateway/shard_messenger.rs
  src/client/bridge/gateway/shard_runner.rs
  src/client/bridge/gateway/shard_runner_message.rs
  src/client/context.rs
  src/client/event_handler.rs
  src/collector.rs
  src/collector/base_collector.rs
  src/collector/base_filter.rs
  src/collector/component_interaction_collector.rs
  src/collector/error.rs
  src/collector/event_collector.rs
  src/collector/macros.rs
  src/collector/message_collector.rs
  src/collector/mod.rs
  src/collector/modal_interaction_collector.rs
  src/collector/reaction_collector.rs
  src/error.rs
  src/gateway/mod.rs
  src/http/client.rs
  src/http/error.rs
  src/http/mod.rs
  src/http/ratelimiting.rs
  src/http/utils.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/user.rs
Labels: enhancement, model, client, builder, cache, http, gateway, breaking change, examples, collector

#2280 Properly escape all reactions
  src/http/client.rs
  src/model/channel/reaction.rs
Labels: enhancement, model, http

#2281 feat(UserPublicFlags): Add `ACTIVE_DEVELOPER`
  src/model/user.rs
Labels: enhancement, discord feature, model

#2283 Make RawHandler-only dispatches still cache GuildUpdate events
  src/client/dispatch.rs
Labels: enhancement, client

#2287 Use #[serde(remote = "Self")] to simplify serde impls
  src/model/application/interaction/application_command.rs
  src/model/application/interaction/message_component.rs
  src/model/application/interaction/mod.rs
  src/model/application/interaction/modal.rs
  src/model/channel/guild_channel.rs
  src/model/channel/mod.rs
  src/model/channel/reaction.rs
  src/model/event.rs
  src/model/guild/audit_log/mod.rs
  src/model/guild/member.rs
  src/model/guild/partial_guild.rs
  src/model/guild/role.rs
  src/model/guild/welcome_screen.rs
  src/model/permissions.rs
  src/model/utils.rs
  src/model/voice.rs
  voice-model/src/speaking_state.rs
Labels: enhancement, voice, model

#2286 Make create_thread doc alias
  src/model/channel/channel_id.rs
Labels: enhancement, docs, model

#2285 Miscellaneous http refactoring
  examples/testing/src/main.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/client/mod.rs
  src/http/client.rs
  src/http/ratelimiting.rs
  src/http/request.rs
  src/model/guild/guild_id.rs
Labels: enhancement, model, client, http, breaking change, examples

#2290 Add `defer_ephemeral` helper functions
  src/model/application/interaction/message_component.rs
  src/model/application/interaction/modal.rs
Labels: enhancement, model

#2293 Add back lost special deserialization behavior
  src/model/application/interaction/application_command.rs
  src/model/application/interaction/message_component.rs
  src/model/application/interaction/modal.rs
  src/model/guild/partial_guild.rs
Labels: fix, model

#2291 Make all remaining builder fields private
  src/builder/create_interaction_response.rs
  src/builder/get_messages.rs
Labels: enhancement, builder, breaking change

#2294 Replace `moka` cache crate with `mini-moka` for fewer dependencies
  Cargo.toml
  src/cache/mod.rs
Labels: enhancement, cache, breaking change, dependencies

#2295 Actually call Framework::init() and add ShardManager::intents()
  Cargo.toml
  src/client/bridge/gateway/shard_manager.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/client/mod.rs
Labels: enhancement, client, breaking change

#2297 Add serenity::all module
  src/lib.rs
Labels: enhancement

#2296 Deny broken intra-doc links in CI
  .github/workflows/ci.yml
Labels: enhancement, ci

#2299 Remove the unnecessary comma
  examples/e08_shard_manager/src/main.rs
Labels: enhancement, examples
