Repository serenity-rs/serenity, pull requests merged in 2022-09, with the labels that each got.

#2113 Don't discard deserialization error when Discord error JSON cannot be decoded
  src/http/error.rs
Labels: enhancement, http

#2114 Implement AsRef<Cache> and AsRef<Http> for CacheAndHttp
  src/lib.rs
Labels: enhancement

#2115 Lookup user by ID globally in ArgumentConvert impl
  src/utils/argument_convert/user.rs
Labels: enhancement, utils

#2122 Fix missing await in sample code
  src/client/mod.rs
Labels: docs, fix, client

#2126 Remove misleading sentence in docs
  src/builder/create_embed.rs
Labels: docs, fix, builder

#2131 Fix order of "direct message" and "server messages"
  command_attr/src/lib.rs
Labels: fix, command_attr

#2130 Implicitly set `BucketBuilder::await_ratelimits` to 1 upon `BucketBuilder::delay_action` being set
  src/framework/standard/structures/buckets.rs
Labels: fix, framework

#2124 Fix inaccessible guild scheduled event fields
  src/model/event.rs
Labels: fix, model

#2129 Add Discord doc links to almost all model types
  src/constants.rs
  src/http/client.rs
  src/model/application.rs
  src/model/application/command.rs
  src/model/application/oauth.rs
  src/model/channel/attachment.rs
  src/model/channel/channel_category.rs
  src/model/channel/embed.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/channel/partial_channel.rs
  src/model/channel/private_channel.rs
  src/model/channel/reaction.rs
  src/model/channel/sticker.rs
  src/model/connection.rs
  src/model/event.rs
  src/model/gateway.rs
  src/model/guild/audit_log.rs
  src/model/guild/automod.rs
  src/model/guild/emoji.rs
  src/model/guild/guild_preview.rs
  src/model/guild/integration.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/guild/premium_tier.rs
  src/model/guild/role.rs
  src/model/guild/scheduled_event.rs
  src/model/guild/system_channel.rs
  src/model/guild/welcome_screen.rs
  src/model/id.rs
  src/model/invite.rs
  src/model/misc.rs
  src/model/permissions.rs
  src/model/prelude.rs
  src/model/sticker/mod.rs
  src/model/sticker/sticker_item.rs
  src/model/sticker/sticker_pack.rs
  src/model/user.rs
  src/model/voice.rs
  src/model/webhook.rs
Labels: enhancement, model, http

#2132 Respect backslash in standard_framework quote parsing
  src/framework/standard/args.rs
Labels: enhancement, framework

#2133 Voice channels are now text-based
  src/model/channel/guild_channel.rs
Labels: enhancement, discord feature, model

#2134 Remove workaround for deserialization error in Scheduled Event endpoints
  src/http/utils.rs
Labels: enhancement, http

#2135 Simplify e17, add more comments, add emoji example
  examples/e17_message_components/src/main.rs
Labels: enhancement, examples

#2137 Fall back to hardcoded gateway URL on get_gateway error
  src/client/mod.rs
Labels: fix, client

#2136 Add EventHandler::ratelimit
  src/client/event_handler.rs
  src/client/mod.rs
  src/http/ratelimiting.rs
Labels: enhancement, client, http

#2141 Clarify MSRV requirements in README.md
  README.md
Labels: enhancement, docs

#2143 Mention shuttle.rs in the Projects extending Serenity section
  README.md
Labels: enhancement, docs

#2148 Don't claim that the default channel ID equals guild ID
  src/model/channel/guild_channel.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
Labels: docs, fix, model

#2149 Change channel/role position and bitrate type to u32
  src/builder/edit_role.rs
  src/http/client.rs
  src/model/channel/guild_channel.rs
  src/model/channel/mod.rs
  src/model/guild/audit_log/change.rs
  src/model/guild/guild_id.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/guild/role.rs
Labels: fix, model, builder, http

#2150 Fix CacheHttp docs
  src/http/mod.rs
Labels: docs, fix, http

#2152 Move "does not work on ephemeral" to interaction delete
  src/model/application/interaction/application_command.rs
  src/model/application/interaction/message_component.rs
  src/model/application/interaction/modal.rs
Labels: enhancement, docs, model

#2153 Add docs redirection HTML from /serenity to /serenity/current
  index.html
Labels: enhancement, docs

#2155 Expose Shard::handle_event
  src/gateway/shard.rs
Labels: enhancement, gateway

#2156 Add note to reaction_users that emoji name is required
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
Labels: enhancement, docs, model

#2144 Don't change EventHandler signatures depending on cache
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/internal/macros.rs
Labels: enhancement, client, cache, breaking change

#2154 Add more fields to MessageUpdateEvent
  src/cache/event.rs
  src/model/event.rs
Labels: enhancement, model, cache

#2157 Add #2117-proposed MSRV policy to README.md
  README.md
Labels: enhancement, docs

#2158 Fix CreateEmbed::timestamp docs and example
  src/builder/create_embed.rs
Labels: docs, fix, builder

#2159 Mention Guilds gateway intents required in voice_state_update
  src/client/event_handler.rs
Labels: docs, fix, client

#2160 Fix deprecation and clippy warnings
  command_attr/src/attributes.rs
  command_attr/src/lib.rs
  command_attr/src/structures.rs
  src/builder/create_application_command_permission.rs
  src/builder/mod.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/structures/mod.rs
  src/http/error.rs
  src/model/application.rs
  src/model/channel/mod.rs
  src/model/gateway.rs
  src/model/guild/audit_log/change.rs
  src/model/guild/automod.rs
  src/model/guild/emoji.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
Labels: enhancement, fix, framework, model, builder, http, command_attr

#2161 Don't consider guild emojis as mentions
  src/model/mention.rs
  src/utils/content_safe.rs
Labels: enhancement, model, utils, breaking change

#2164 Add EventHandler::shards_ready
  src/cache/event.rs
  src/cache/mod.rs
  src/client/dispatch.rs
  src/client/event_handler.rs
Labels: enhancement, client, cache, gateway

#2165 e14: Put each command into its own file
  examples/e14_slash_commands/src/commands/attachmentinput.rs
  examples/e14_slash_commands/src/commands/id.rs
  examples/e14_slash_commands/src/commands/mod.rs
  examples/e14_slash_commands/src/commands/numberinput.rs
  examples/e14_slash_commands/src/commands/ping.rs
  examples/e14_slash_commands/src/commands/welcome.rs
  examples/e14_slash_commands/src/commands/wonderful_command.rs
  examples/e14_slash_commands/src/main.rs
Labels: enhancement, examples

#2162 Remove parse_token
  src/utils/mod.rs
  src/utils/token.rs
Labels: enhancement, utils, breaking change

#2171 shuttle url change
  README.md
Labels: enhancement, docs

#2176 Fix MSRV CI by pinning more dependencies
  .github/workflows/ci.yml
Labels: fix, ci

#2174 Band-aid fix `unused_async` errors
  src/client/context.rs
  src/model/channel/channel_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/user.rs
Labels: fix, model, client

#2166 Make CreateButton and Button more type-safe
  examples/e17_message_components/src/main.rs
  src/builder/create_components.rs
  src/json.rs
  src/model/application/component.rs
Labels: enhancement, model, builder, breaking change, examples

#2178 Unify length overflow checks for builders
  src/builder/create_embed.rs
  src/builder/create_interaction_response.rs
  src/builder/create_interaction_response_followup.rs
  src/builder/create_message.rs
  src/builder/edit_interaction_response.rs
  src/builder/edit_message.rs
  src/builder/edit_webhook_message.rs
  src/builder/execute_webhook.rs
  src/utils/mod.rs
Labels: builder, utils

#2175 Fix behavior of `Guild::default_channel_guaranteed`
  src/model/guild/mod.rs
Labels: fix, model

#2127 Simplify CreateAllowedMentions API
  src/builder/create_allowed_mentions.rs
  src/builder/mod.rs
  src/model/channel/message.rs
Labels: enhancement, model, builder, breaking change

#2172 Fix http and gateway feature
  Cargo.toml
  src/builder/create_scheduled_event.rs
  src/builder/create_webhook.rs
  src/builder/edit_profile.rs
  src/builder/edit_role.rs
  src/builder/edit_scheduled_event.rs
  src/builder/edit_webhook.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/client/bridge/gateway/shard_runner_message.rs
  src/gateway/mod.rs
  src/gateway/shard.rs
  src/gateway/ws.rs
  src/http/client.rs
  src/internal/mod.rs
  src/internal/tokio.rs
  src/model/application/command.rs
  src/model/application/interaction/application_command.rs
  src/model/application/interaction/message_component.rs
  src/model/application/interaction/modal.rs
  src/model/channel/attachment_type.rs
  src/model/channel/mod.rs
  src/model/channel/private_channel.rs
  src/model/channel/reaction.rs
  src/prelude.rs
  src/utils/mod.rs
Labels: enhancement, model, client, builder, http, utils, gateway, breaking change

#2185 GatewayIntents::default() = non_privileged(), like docs say
  src/model/gateway.rs
Labels: fix, model

#2183 Deny rustdoc lints only in CI
  .github/workflows/docs.yml
  src/lib.rs
Labels: enhancement, ci

#2179 Keep embeds in EditInteractionResponse by default
  examples/testing/Cargo.toml
  examples/testing/Makefile.toml
  examples/testing/src/main.rs
  src/builder/edit_interaction_response.rs
Labels: enhancement, builder, examples

#2186 Support interactions endpoint URL
  .github/workflows/ci.yml
  Cargo.toml
  Makefile.toml
  examples/e19_interactions_endpoint/Cargo.toml
  examples/e19_interactions_endpoint/Makefile.toml
  examples/e19_interactions_endpoint/src/main.rs
  src/interactions_endpoint.rs
  src/lib.rs
Labels: enhancement, discord feature, examples, ci

#2189 Fix clippy warnings
  command_attr/src/lib.rs
  src/client/context.rs
  src/client/dispatch.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/mod.rs
  src/http/mod.rs
  src/http/routing.rs
  src/model/application/interaction/application_command.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/utils.rs
  src/utils/content_safe.rs
  src/utils/message_builder.rs
Labels: enhancement, framework, model, client, http, utils, command_attr

#2167 Deny Clippy warnings in CI
  .github/workflows/lint.yml
  examples/e16_sqlite_database/src/main.rs
  src/collector/component_interaction_collector.rs
  src/collector/event_collector.rs
  src/collector/message_collector.rs
  src/collector/mod.rs
  src/collector/modal_interaction_collector.rs
  src/collector/reaction_collector.rs
  src/lib.rs
  src/model/guild/guild_id.rs
  src/model/guild/partial_guild.rs
  src/model/guild/role.rs
  src/model/invite.rs
  src/model/prelude.rs
Labels: enhancement, model, examples, ci, collector
