Repository serenity-rs/serenity, pull requests merged in 2022-01, with the labels that each got.

#1650 Replace manual (de)serialization for single field gateway events
  src/model/event.rs
Labels: enhancement, model

#1649 Move `parse_webhook_url` to `utils` module
  src/http/client.rs
  src/utils/mod.rs
Labels: enhancement, utils

#1655 Replace (de)serialization implementation of bitflags with a macro
  src/internal/macros.rs
  src/model/channel/message.rs
  src/model/gateway.rs
  src/model/guild/member.rs
  src/model/guild/system_channel.rs
  src/model/interactions/mod.rs
  src/model/user.rs
Labels: enhancement, model

#1654 Replace manual deserialization of `RoleTags`
  src/model/guild/role.rs
  src/model/utils.rs
Labels: enhancement, model

#1652 Separate `Webhook::edit` into three separate methods
  src/builder/execute_webhook.rs
  src/model/webhook.rs
Labels: enhancement, model, builder, breaking change

#1661 Deserialize `Permissions` without an extra `String` allocation
  src/model/permissions.rs
Labels: enhancement, model

#1659 Remove more superfluous link reference definitions
  src/builder/bot_auth_parameters.rs
  src/builder/create_application_command_permission.rs
  src/builder/create_thread.rs
  src/builder/edit_voice_state.rs
  src/cache/mod.rs
  src/client/error.rs
  src/client/mod.rs
  src/framework/standard/help_commands.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/private_channel.rs
  src/model/gateway.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/interactions/application_command.rs
  src/model/invite.rs
  src/model/user.rs
  src/utils/mod.rs
Labels: enhancement, framework, model, client, builder, cache, utils

#1469 Add user `banner` and `accent_color` fields
  src/cache/mod.rs
  src/model/channel/mod.rs
  src/model/misc.rs
  src/model/user.rs
  src/utils/custom_message.rs
  src/utils/mod.rs
Labels: enhancement, discord feature, model, utils

#1663 Implement locale and guild_locale
  src/model/interactions/application_command.rs
  src/model/interactions/autocomplete.rs
  src/model/interactions/message_component.rs
Labels: enhancement, model

#1664 Add GitHub Actions workflow for labeling pull requests
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: enhancement, ci

#1668 Fix ID type deserialization from signed integers
  src/model/id.rs
Labels: fix, model

#1666 Replace `GuildStatus` with `UnavailableGuild` in the ready event
  src/cache/mod.rs
  src/client/event_handler.rs
  src/model/event.rs
  src/model/gateway.rs
  src/model/guild/mod.rs
Labels: enhancement, model, client, breaking change

#1662 Use the `bitflags!` macro instead of the undocumented macro
  command_attr/src/structures.rs
  src/model/channel/message.rs
  src/model/gateway.rs
  src/model/guild/member.rs
  src/model/guild/system_channel.rs
  src/model/interactions/mod.rs
  src/model/permissions.rs
  src/model/user.rs
Labels: enhancement, model, breaking change, command_attr

#1669 Remove workaround for serde_json's `arbitrary_precision` feature
  Cargo.toml
  src/model/id.rs
Labels: enhancement, model, dependencies

#1665 Add `ExecuteWebhook::allowed_mentions` method
  src/builder/execute_webhook.rs
Labels: enhancement, builder

#1670 Improve the download of `Attachment`s by calling `Bytes::to_vec`
  src/model/channel/attachment.rs
Labels: enhancement, model

#1671 Derive `Default` trait for all bitflags types
  src/model/channel/message.rs
  src/model/gateway.rs
  src/model/guild/member.rs
  src/model/interactions/mod.rs
  src/model/permissions.rs
  src/model/user.rs
Labels: enhancement, model

#1673 Mark the `model::guild::Region` enum as deprecated
  src/model/guild/mod.rs
Labels: fix, model

#1672 Move the implementations of `CacheUpdate` into the `cache::event` module
  src/cache/event.rs
  src/cache/mod.rs
  src/model/event.rs
Labels: enhancement, model, cache

#1674 Improve usage of the `api!` macro
  src/http/routing.rs
  src/model/guild/guild_id.rs
Labels: enhancement, http

#1675 Change the return type of `Route::stage_instances` to `&'static str`
  src/http/routing.rs
Labels: enhancement, http, breaking change

#1677 Express all example crates as workspace members with a wildcard
  Cargo.toml
  examples/README.md
Labels: enhancement, examples

#1678 Update the notice about the max value for the "per user" ratelimit
  src/builder/edit_channel.rs
Labels: enhancement, builder

#1679 fixed typo in `examples/e12_global_data/src/main.rs`
  examples/e12_global_data/src/main.rs
Labels: fix, examples

#1680 Deprecate `slow_mode_rate`/`rate_limit` methods and field
  examples/e05_command_framework/src/main.rs
  src/builder/create_channel.rs
  src/builder/edit_channel.rs
  src/model/channel/guild_channel.rs
Labels: enhancement, model, builder, examples

#1682 Add support for enabling slowmode on thread creation
  src/builder/create_thread.rs
Labels: enhancement, discord feature, builder

#1681 add some doc alias'
  src/builder/edit_member.rs
  src/model/guild/member.rs
Labels: enhancement, model, builder

#1686 Suppress deprecation warning for the use of `Region`
  src/builder/edit_guild.rs
Labels: fix, builder

#1687 Mark the `model::guild::GuildStatus` enum as deprecated
  src/model/event.rs
  src/model/gateway.rs
  src/model/guild/mod.rs
Labels: enhancement, model

#1689 Implement missing fields, methods, endpoints, and other values that are documented
  src/builder/create_components.rs
  src/builder/create_embed.rs
  src/builder/create_message.rs
  src/builder/edit_message.rs
  src/builder/edit_role.rs
  src/builder/edit_thread.rs
  src/builder/execute_webhook.rs
  src/client/bridge/gateway/intents.rs
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/http/client.rs
  src/http/routing.rs
  src/internal/mod.rs
  src/internal/prelude.rs
  src/model/application.rs
  src/model/channel/attachment.rs
  src/model/channel/channel_id.rs
  src/model/channel/mod.rs
  src/model/event.rs
  src/model/gateway.rs
  src/model/guild/mod.rs
  src/model/guild/role.rs
  src/model/interactions/application_command.rs
  src/model/interactions/autocomplete.rs
  src/model/interactions/message_component.rs
  src/model/interactions/mod.rs
  src/model/interactions/ping.rs
  src/model/invite.rs
  src/model/misc.rs
  src/model/user.rs
  src/utils/mod.rs
Labels: enhancement, discord feature, model, client, builder, http, utils

#1688 Bump to 0.10.10
  CHANGELOG.md
  Cargo.toml
  command_attr/Cargo.toml
  voice-model/Cargo.toml
Labels: enhancement, voice, command_attr

#1683 Replace the use of `DateTime<Utc>` with a newtype struct `Timestamp`
  .github/workflows/ci.yml
  Cargo.toml
  README.md
  src/builder/create_embed.rs
  src/builder/edit_member.rs
  src/builder/edit_voice_state.rs
  src/builder/mod.rs
  src/cache/mod.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/channel/private_channel.rs
  src/model/event.rs
  src/model/guild/integration.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/id.rs
  src/model/invite.rs
  src/model/mod.rs
  src/model/timestamp.rs
  src/model/user.rs
  src/model/voice.rs
  src/utils/custom_message.rs
  src/utils/mod.rs
Labels: enhancement, model, builder, cache, utils, breaking change, ci

#1693 Fix `e09_create_message_builder` when the `time` feature is enabled
  examples/e09_create_message_builder/src/main.rs
Labels: fix, examples

#1692 Use the internal `bitflags!` macro for `ApplicationFlags`
  src/model/application.rs
Labels: enhancement, model

#1694 Use the `is_false` function from the `model::utils` module
  src/internal/mod.rs
  src/internal/prelude.rs
  src/model/channel/attachment.rs
  src/model/channel/mod.rs
Labels: enhancement, model

#1691 Remove deprecated fields, gateway events, endpoints and traits
  examples/e05_command_framework/src/main.rs
  src/builder/edit_guild.rs
  src/cache/event.rs
  src/cache/mod.rs
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/http/client.rs
  src/http/routing.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/channel/mod.rs
  src/model/event.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/misc.rs
  src/utils/argument_convert/mod.rs
  src/utils/mod.rs
Labels: model, client, builder, cache, http, utils, examples

#1698 Fix lifetime definitions for builders with attachments
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/channel/private_channel.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/user.rs
Labels: fix, model

#1696 Fix clippy warnings
  examples/e17_message_components/src/main.rs
  src/builder/edit_role.rs
  src/client/bridge/gateway/shard_runner.rs
  src/collector/event_collector.rs
  src/framework/standard/args.rs
  src/http/multipart.rs
  src/model/guild/member.rs
  src/model/interactions/mod.rs
  src/utils/argument_convert/role.rs
  src/utils/argument_convert/user.rs
  src/utils/message_builder.rs
Labels: enhancement, framework, model, client, builder, http, utils, examples, collector

#1699 Replace levenshtein implementation with the `levenshtein` crate
  Cargo.toml
  src/framework/standard/help_commands.rs
Labels: enhancement, framework, dependencies

#1700 Fix unused import & function warnings for certain feature combinations
  src/framework/standard/help_commands.rs
  src/framework/standard/parse/mod.rs
  src/json.rs
  src/model/utils.rs
Labels: fix, framework, model

#1701 Fix & deny intra-doc links to private items
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  command_attr/src/lib.rs
  src/cache/mod.rs
Labels: enhancement, fix, cache, command_attr, ci

#1703 Remove the unused `Component` enum
  src/model/error.rs
  src/model/interactions/message_component.rs
Labels: enhancement, model

#1702 Deserialize Discord's status page responses with an interim struct
  src/http/client.rs
Labels: enhancement, http
