Repository serenity-rs/serenity, pull requests merged in 2022-10, with the labels that each got.

#2200 Test JSON instead of serde tokens
  Cargo.toml
  src/internal/macros.rs
  src/json.rs
  src/model/application/interaction/application_command.rs
  src/model/guild/audit_log/change.rs
  src/model/guild/audit_log/utils.rs
  src/model/guild/role.rs
  src/model/id.rs
  src/model/permissions.rs
  src/model/user.rs
Labels: enhancement, model, dependencies

#2194 Add cached messages to channel_delete event handler
  src/cache/event.rs
  src/cache/mod.rs
  src/client/dispatch.rs
  src/client/event_handler.rs
Labels: client, cache

#2197 Replace usage of `CacheAndHttp` in dispatch with `Context`
  src/client/bridge/gateway/shard_runner.rs
  src/client/context.rs
  src/client/dispatch.rs
Labels: client

#2199 Bump MSRV to Rust 1.64 and raise edition to 2021
  .github/workflows/ci.yml
  Cargo.toml
  README.md
  clippy.toml
  rustfmt.toml
  src/builder/edit_message.rs
  src/model/error.rs
Labels: enhancement, model, builder, breaking change, ci

#2201 Fix interactions_endpoint docs
  src/interactions_endpoint.rs
Labels: docs, fix

#2206 Use stable Rust for docs CI instead of pinned nightly
  .github/workflows/docs.yml
Labels: enhancement, ci

#2204 Actually include all types in model::prelude and make inline
  src/model/prelude.rs
  src/model/sticker.rs
  src/model/sticker/sticker_id.rs
  src/model/sticker/sticker_item.rs
  src/model/sticker/sticker_pack.rs
Labels: enhancement, docs, model

#2208 MSRV-related cleanup
  Cargo.toml
  command_attr/src/lib.rs
  src/builder/create_sticker.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/parse/mod.rs
  src/http/client.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/id.rs
  src/utils/argument_convert/channel.rs
  src/utils/argument_convert/guild.rs
  src/utils/argument_convert/user.rs
  src/utils/mod.rs
Labels: framework, model, builder, http, utils, command_attr

#2209 Use macro and serde-derive to shrink audit_log/change.rs
  src/model/guild/audit_log/change.rs
Labels: enhancement, model

#2211 Simplify serde (de)serialization implementations and remove serde-value dependency
  Cargo.toml
  src/model/application/interaction/application_command.rs
  src/model/guild/automod.rs
Labels: enhancement, model, dependencies

#2212 Cleanup dependencies
  Cargo.toml
  examples/testing/src/main.rs
  src/http/client.rs
  src/model/timestamp.rs
Labels: enhancement, model, http, dependencies, examples

#2207 Use nightly Rust for docs, to use doc_auto_cfg
  .github/workflows/docs.yml
Labels: fix, ci

#2205 Box big model type fields
  examples/testing/src/main.rs
  examples/testing/src/model_type_sizes.rs
  src/model/application/interaction/application_command.rs
  src/model/application/interaction/message_component.rs
  src/model/application/interaction/modal.rs
  src/model/channel/message.rs
  src/utils/custom_message.rs
Labels: enhancement, model, utils, breaking change, examples

#2173 refactor(ClientBuilder): replace `Future` impl with `IntoFuture`
  src/client/mod.rs
Labels: enhancement, client, breaking change

#2214 Add missing Message fields
  examples/testing/Cargo.toml
  examples/testing/Makefile.toml
  examples/testing/src/main.rs
  src/cache/mod.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/gateway.rs
  src/model/mention.rs
  src/model/user.rs
  src/utils/content_safe.rs
  src/utils/custom_message.rs
Labels: enhancement, model, cache, utils, examples

#2215 Implement Default for some model types and shorten tests
  Cargo.toml
  src/cache/mod.rs
  src/internal/macros.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/channel/private_channel.rs
  src/model/colour.rs
  src/model/gateway.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/premium_tier.rs
  src/model/guild/role.rs
  src/model/id.rs
  src/model/mention.rs
  src/model/timestamp.rs
  src/model/user.rs
  src/utils/content_safe.rs
  src/utils/custom_message.rs
Labels: enhancement, model, cache, utils

#2203 Simplify dispatch
  src/client/bridge/gateway/shard_runner.rs
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/client/mod.rs
Labels: enhancement, client, breaking change

#2218 Use inline formatting
  src/builder/get_messages.rs
  src/framework/standard/args.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/structures/check.rs
  src/gateway/shard.rs
  src/http/client.rs
  src/http/error.rs
  src/http/multipart.rs
  src/http/routing.rs
  src/model/channel/message.rs
  src/model/channel/reaction.rs
  src/model/user.rs
  src/model/webhook.rs
  src/utils/message_builder.rs
  src/utils/mod.rs
Labels: enhancement, framework, model, builder, http, utils, gateway

#2216 Fix embeds being cleared
  src/builder/create_interaction_response.rs
Labels: enhancement, builder, breaking change

#2217 Implement custom_ids filter for CollectorBuilder
  src/collector/component_interaction_collector.rs
  src/collector/macros.rs
  src/collector/modal_interaction_collector.rs
Labels: enhancement, collector

#2221 Add `tokio` to the list of dependencies for the README's example
  README.md
Labels: enhancement, docs

#2225 Use `pub use X::*` in builder/mod.rs
  src/builder/create_application_command.rs
  src/builder/edit_guild_welcome_screen.rs
  src/builder/mod.rs
Labels: enhancement, builder

#2223 Add `defer_ephemeral` helper function
  src/model/application/interaction/application_command.rs
Labels: enhancement, model

#2227 Make CreateActionRow an enum
  examples/e17_message_components/src/main.rs
  examples/testing/src/main.rs
  src/builder/create_components.rs
  src/json.rs
  src/model/application/component.rs
Labels: enhancement, model, builder, breaking change, examples

#2219 Reduce extra clones in the http module
  examples/e10_collectors/src/main.rs
  src/http/client.rs
  src/http/multipart.rs
  src/http/request.rs
  src/http/routing.rs
  src/model/channel/reaction.rs
Labels: enhancement, model, http, examples

#2228 Make CreateInteractionResponse an enum
  examples/e14_slash_commands/src/main.rs
  examples/e17_message_components/src/main.rs
  examples/e19_interactions_endpoint/src/main.rs
  examples/testing/src/main.rs
  examples/testing/src/model_type_sizes.rs
  src/builder/create_attachment.rs
  src/builder/create_interaction_response.rs
  src/model/application.rs
  src/model/application/interaction/application_command.rs
  src/model/application/interaction/message_component.rs
  src/model/application/interaction/mod.rs
  src/model/application/interaction/modal.rs
Labels: enhancement, model, builder, breaking change, examples

#2210 Add CacheSettings::{time_to_live, cache_guilds, cache_channels, cache_users}
  examples/testing/Cargo.toml
  src/cache/event.rs
  src/cache/mod.rs
  src/cache/settings.rs
  src/client/dispatch.rs
  src/client/mod.rs
  src/lib.rs
Labels: enhancement, client, cache, breaking change, examples

#2226 Replace CreateComponents with Vec<CreateActionRow>
  examples/e17_message_components/src/main.rs
  examples/testing/src/main.rs
  src/builder/create_components.rs
  src/builder/create_interaction_response.rs
  src/builder/create_interaction_response_followup.rs
  src/builder/create_message.rs
  src/builder/edit_interaction_response.rs
  src/builder/edit_message.rs
  src/builder/edit_webhook_message.rs
  src/builder/execute_webhook.rs
Labels: enhancement, builder, breaking change, examples

#2224 Implement new select menu types
  examples/e17_message_components/src/main.rs
  examples/testing/Cargo.toml
  examples/testing/src/main.rs
  src/builder/create_components.rs
  src/model/application/component.rs
  src/model/application/interaction/message_component.rs
Labels: enhancement, model, builder, breaking change, examples

#2230 Move `#[must_use]` to struct definition for CreateGuildWelcomeChannel
  src/builder/edit_guild_welcome_screen.rs
Labels: enhancement, builder

#2231 Deduplicate CommandOption definition in builder
  src/builder/create_application_command.rs
Labels: enhancement, builder

#2232 Shorten type names
  examples/e14_slash_commands/src/commands/attachmentinput.rs
  examples/e14_slash_commands/src/commands/id.rs
  examples/e14_slash_commands/src/commands/numberinput.rs
  examples/e14_slash_commands/src/commands/ping.rs
  examples/e14_slash_commands/src/commands/welcome.rs
  examples/e14_slash_commands/src/commands/wonderful_command.rs
  examples/e14_slash_commands/src/main.rs
  examples/e17_message_components/src/main.rs
  examples/e19_interactions_endpoint/src/main.rs
  examples/testing/src/main.rs
  examples/testing/src/model_type_sizes.rs
  src/builder/create_application_command.rs
  src/builder/create_application_command_permission.rs
  src/builder/edit_automod_rule.rs
  src/builder/edit_interaction_response.rs
  src/client/bridge/gateway/shard_runner.rs
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/collector/component_interaction_collector.rs
  src/collector/mod.rs
  src/http/client.rs
  src/http/routing.rs
  src/model/application/command.rs
  src/model/application/interaction/application_command.rs
  src/model/application/interaction/message_component.rs
  src/model/application/interaction/mod.rs
  src/model/channel/message.rs
  src/model/event.rs
  src/model/guild/audit_log.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
Labels: enhancement, model, client, builder, http, breaking change, examples, collector

#2242 Fix unused_mut warning
  src/client/dispatch.rs
Labels: fix, client

#2243 Don't make ButtonStyle required argument
  examples/e17_message_components/src/main.rs
  examples/testing/src/main.rs
  src/builder/create_components.rs
Labels: enhancement, builder, breaking change, examples

#2234 Rename ModalSubmit to Modal
  examples/testing/src/model_type_sizes.rs
  src/client/bridge/gateway/shard_runner.rs
  src/collector/mod.rs
  src/collector/modal_interaction_collector.rs
  src/model/application/interaction/mod.rs
  src/model/application/interaction/modal.rs
  src/model/event.rs
Labels: enhancement, model, client, breaking change, examples, collector

#2235 Shorten interaction method names
  examples/e14_slash_commands/src/main.rs
  examples/e17_message_components/src/main.rs
  examples/testing/src/main.rs
  src/model/application/interaction/application_command.rs
  src/model/application/interaction/message_component.rs
  src/model/application/interaction/modal.rs
Labels: enhancement, model, breaking change, examples

#2233 Add .button() and .select_menu() builder convenience methods
  examples/e17_message_components/src/main.rs
  examples/testing/src/main.rs
  src/builder/create_interaction_response.rs
  src/builder/create_interaction_response_followup.rs
  src/builder/create_message.rs
  src/builder/edit_interaction_response.rs
  src/builder/edit_message.rs
  src/builder/edit_webhook_message.rs
  src/builder/execute_webhook.rs
  src/builder/mod.rs
Labels: enhancement, builder, examples

#2256 Fix loop_errors
  examples/testing/src/main.rs
  src/http/utils.rs
Labels: enhancement, fix, http, examples

#2254 Remove create_autocomplete_response
  src/model/application/interaction/application_command.rs
Labels: fix, model, breaking change

#2253 Use foo/mod.rs instead of foo.rs everywhere
  src/model/application/mod.rs
  src/model/guild/audit_log/mod.rs
Labels: enhancement, model

#2252 Don't duplicate the Timestamp API
  src/model/timestamp.rs
Labels: enhancement, model

#2247 Remove unstable_discord_api from forum channels
  src/model/channel/mod.rs
Labels: enhancement, model

#2245 Remove builder->utils feature dependency
  Cargo.toml
  src/builder/create_attachment.rs
  src/builder/create_embed.rs
  src/builder/edit_guild.rs
  src/http/client.rs
  src/model/guild/mod.rs
  src/utils/mod.rs
Labels: enhancement, model, builder, http, utils

#2246 Make absolute ratelimits a runtime config instead of feature
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  CONTRIBUTING.md
  Cargo.toml
  src/http/ratelimiting.rs
  src/lib.rs
Labels: enhancement, http, breaking change, ci
