Repository serenity-rs/serenity, pull requests merged in 2022-07, with the labels that each got.

#2025 Add new `app_permissions` field for interactions
  src/model/application/interaction/application_command.rs
  src/model/application/interaction/autocomplete.rs
  src/model/application/interaction/message_component.rs
  src/model/application/interaction/mod.rs
  src/model/application/interaction/modal.rs
Labels: enhancement, discord feature, model

#2033 Remove superfluous link reference definitions for `crate::Error`
  src/framework/standard/args.rs
  src/gateway/shard.rs
  src/http/client.rs
  src/http/ratelimiting.rs
  src/http/typing.rs
  src/model/application/command.rs
  src/model/application/interaction/application_command.rs
  src/model/application/interaction/autocomplete.rs
  src/model/application/interaction/message_component.rs
  src/model/application/interaction/modal.rs
  src/model/channel/attachment.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/invite.rs
  src/model/sticker/mod.rs
  src/model/user.rs
  src/model/webhook.rs
Labels: enhancement, docs, framework, model, http, gateway

#2034 Replace `json::from_number` with `into()`
  src/http/client.rs
  src/json.rs
  src/model/application/interaction/mod.rs
  src/model/channel/reaction.rs
  src/model/utils.rs
Labels: enhancement, model, http

#2037 bump moka
  Cargo.toml
Labels: enhancement, dependencies

#2031 Merge application command & autocomplete interactions
  examples/e14_slash_commands/src/main.rs
  src/model/application/interaction/application_command.rs
  src/model/application/interaction/autocomplete.rs
  src/model/application/interaction/mod.rs
  src/model/utils.rs
Labels: enhancement, model, breaking change, examples

#2036 Switch to `tokio-tungstenite`
  Cargo.toml
  src/client/bridge/gateway/shard_messenger.rs
  src/client/bridge/gateway/shard_runner.rs
  src/client/bridge/gateway/shard_runner_message.rs
  src/error.rs
  src/gateway/error.rs
  src/gateway/mod.rs
  src/gateway/shard.rs
  src/gateway/ws.rs
Labels: enhancement, client, gateway, breaking change, dependencies

#2042 Use try_from and into as serde attributes
  src/model/channel/mod.rs
Labels: enhancement, model

#2032 Fix timestamp having fallible From impl
  src/builder/create_embed.rs
  src/lib.rs
  src/model/channel/embed.rs
  src/model/timestamp.rs
Labels: enhancement, model, builder, breaking change

#2046 Add name for "Manage Events" permission
  src/model/permissions.rs
Labels: fix, model

#2019 Cleanup dispatch and unnecessary clones in client
  Cargo.toml
  examples/e05_command_framework/src/main.rs
  examples/e08_shard_manager/src/main.rs
  examples/e15_simple_dashboard/src/main.rs
  src/client/bridge/gateway/shard_manager.rs
  src/client/bridge/gateway/shard_manager_monitor.rs
  src/client/bridge/gateway/shard_messenger.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/client/bridge/gateway/shard_runner.rs
  src/client/dispatch.rs
  src/client/mod.rs
  src/gateway/shard.rs
  src/lib.rs
Labels: client, gateway, examples

#1950 Make standard framework configurable at runtime
  Cargo.toml
  README.md
  examples/e05_command_framework/src/main.rs
  examples/e06_sample_bot_structure/src/main.rs
  examples/e07_env_logging/src/main.rs
  examples/e10_collectors/src/main.rs
  examples/e12_global_data/src/main.rs
  examples/e15_simple_dashboard/src/main.rs
  src/framework/mod.rs
  src/framework/standard/configuration.rs
  src/framework/standard/mod.rs
Labels: enhancement, framework, breaking change, examples

#2040 Deduplicate Filter in collector
  Cargo.toml
  src/client/bridge/gateway/shard_runner.rs
  src/collector/base_filter.rs
  src/collector/component_interaction_collector.rs
  src/collector/event_collector.rs
  src/collector/message_collector.rs
  src/collector/mod.rs
  src/collector/modal_interaction_collector.rs
  src/collector/reaction_collector.rs
  src/lib.rs
Labels: client, collector

#2035 Add support for `Auto Moderation` feature
  src/builder/edit_automod_rule.rs
  src/builder/mod.rs
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/http/client.rs
  src/http/routing.rs
  src/model/event.rs
  src/model/gateway.rs
  src/model/guild/audit_log.rs
  src/model/guild/audit_log/change.rs
  src/model/guild/automod.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/id.rs
Labels: enhancement, discord feature, model, client, builder, http

#2058 Temporarily fix GuildChannel::message_count in a non-breaking way
  src/model/channel/guild_channel.rs
Labels: fix, model

#2060 Fix deserialization error introduced in 0a53345.
  src/model/channel/guild_channel.rs
Labels: fix, model

#2061 Fix clippy warnings and apply next patches to new code
  src/builder/edit_automod_rule.rs
  src/http/client.rs
  src/model/application/interaction/mod.rs
  src/model/guild/automod.rs
  src/model/guild/guild_id.rs
Labels: enhancement, model, builder, http

#2065 Remove unnecessary generics
  src/model/application/interaction/application_command.rs
  src/model/application/interaction/message_component.rs
  src/model/application/interaction/modal.rs
Labels: fix, model

#2067 Make select menu values optional to fix deserialization of msg component interactions
  src/model/application/component.rs
Labels: fix, model

#2069 Fix some builders returning unsendable Futures
  src/builder/create_channel.rs
  src/builder/create_scheduled_event.rs
  src/builder/create_sticker.rs
  src/builder/edit_guild.rs
  src/builder/edit_role.rs
  src/builder/edit_scheduled_event.rs
  src/utils/mod.rs
Labels: fix, builder, utils

#2073 Move Colour to utils and remove feature guards
  command_attr/src/structures.rs
  src/builder/create_embed.rs
  src/builder/edit_role.rs
  src/builder/execute_webhook.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/structures/mod.rs
  src/model/channel/embed.rs
  src/model/colour.rs
  src/model/guild/member.rs
  src/model/guild/role.rs
  src/model/mention.rs
  src/model/mod.rs
  src/model/prelude.rs
  src/model/user.rs
  src/utils/content_safe.rs
  src/utils/mod.rs
Labels: enhancement, framework, model, builder, utils, breaking change, command_attr

#2072 Guild CacheRef kick function fix
  src/model/guild/member.rs
Labels: fix, model

#2077 Deprecate modifying command application permissions in bulk
  src/builder/create_application_command_permission.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
Labels: enhancement, model, builder

#2064 Reduce unknown event log to debug level
  src/client/dispatch.rs
Labels: enhancement, client

#2078 Remove unneeded and deprecated application commands builders.
  examples/e14_slash_commands/src/main.rs
  src/builder/create_application_command.rs
  src/builder/create_application_command_permission.rs
  src/builder/mod.rs
  src/model/application/command.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
Labels: enhancement, model, builder, breaking change, examples
