Repository serenity-rs/serenity, pull requests merged in 2022-08, with the labels that each got.

#2076 Simplify timestamp.rs implementations
  src/model/timestamp.rs
Labels: enhancement, model

#2081 Remove #[must_use] from Typing::stop
  src/http/typing.rs
Labels: enhancement, http

#2083 Stop using serde_json in http with simd-json enabled
  Cargo.toml
  src/http/client.rs
  src/http/error.rs
  src/json.rs
Labels: enhancement, http

#2082 Rewrite automod tests from serde_test to comparing json
  src/model/guild/automod.rs
Labels: enhancement, model

#2086 Remove CreateSelectMenuOptions builder
  examples/e17_message_components/src/main.rs
  src/builder/create_components.rs
  src/builder/mod.rs
Labels: enhancement, builder, breaking change, examples

#2084 Swap to FxHash instead of default Hasher
  Cargo.toml
  src/cache/mod.rs
Labels: enhancement, cache

#2090 Fix unused async warnings
  examples/e13_parallel_loops/src/main.rs
  src/client/context.rs
  src/model/channel/channel_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/user.rs
Labels: enhancement, model, client, examples

#2087 Enforce required fields for builders
  examples/e03_struct_utilities/src/main.rs
  examples/e05_command_framework/src/main.rs
  examples/e09_create_message_builder/src/main.rs
  examples/e13_parallel_loops/src/main.rs
  examples/e14_slash_commands/src/main.rs
  examples/e17_message_components/src/main.rs
  examples/e18_webhook/src/main.rs
  src/builder/add_member.rs
  src/builder/bot_auth_parameters.rs
  src/builder/create_allowed_mentions.rs
  src/builder/create_application_command.rs
  src/builder/create_application_command_permission.rs
  src/builder/create_channel.rs
  src/builder/create_components.rs
  src/builder/create_embed.rs
  src/builder/create_interaction_response.rs
  src/builder/create_interaction_response_followup.rs
  src/builder/create_invite.rs
  src/builder/create_message.rs
  src/builder/create_scheduled_event.rs
  src/builder/create_stage_instance.rs
  src/builder/create_sticker.rs
  src/builder/create_thread.rs
  src/builder/create_webhook.rs
  src/builder/edit_automod_rule.rs
  src/builder/edit_channel.rs
  src/builder/edit_guild.rs
  src/builder/edit_guild_welcome_screen.rs
  src/builder/edit_guild_widget.rs
  src/builder/edit_interaction_response.rs
  src/builder/edit_member.rs
  src/builder/edit_message.rs
  src/builder/edit_profile.rs
  src/builder/edit_role.rs
  src/builder/edit_scheduled_event.rs
  src/builder/edit_stage_instance.rs
  src/builder/edit_sticker.rs
  src/builder/edit_thread.rs
  src/builder/edit_voice_state.rs
  src/builder/edit_webhook.rs
  src/builder/edit_webhook_message.rs
  src/builder/execute_webhook.rs
  src/builder/get_messages.rs
  src/framework/standard/help_commands.rs
  src/model/application/command.rs
  src/model/application/interaction/application_command.rs
  src/model/application/interaction/message_component.rs
  src/model/application/interaction/modal.rs
  src/model/channel/channel_category.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/guild/guild_id.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/mention.rs
  src/model/sticker/mod.rs
  src/model/user.rs
  src/model/webhook.rs
Labels: enhancement, framework, model, builder, breaking change, examples

#2096 Fix e15 compilation by pinning `notify` to 5.0.0-pre.14
  examples/e15_simple_dashboard/Cargo.toml
Labels: fix, dependencies, examples

#2100 Fix `BucketBuilder::delay_action` being poorly documented
  src/framework/standard/structures/buckets.rs
Labels: enhancement, docs, framework

#2104 Use fallback endpoints in `Webhook::{edit,delete}` if no token is set
  src/builder/edit_webhook.rs
  src/http/client.rs
  src/model/webhook.rs
Labels: enhancement, model, builder, http, breaking change

#2108 Remove needless borrows of `impl AsRef<Http>` and `impl CacheHttp`
  src/builder/create_message.rs
  src/model/channel/channel_category.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/private_channel.rs
  src/model/channel/reaction.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/sticker/mod.rs
  src/model/sticker/sticker_item.rs
  src/utils/mod.rs
Labels: enhancement, model, builder, utils

#2106 Change some model methods to take `&self` instead of `self`
  src/model/channel/guild_channel.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
Labels: enhancement, model, breaking change

#2105 Add missing audit log reason support to Http and relevant builders
  src/builder/create_channel.rs
  src/builder/create_invite.rs
  src/builder/create_scheduled_event.rs
  src/builder/create_stage_instance.rs
  src/builder/create_sticker.rs
  src/builder/create_thread.rs
  src/builder/create_webhook.rs
  src/builder/edit_automod_rule.rs
  src/builder/edit_channel.rs
  src/builder/edit_guild.rs
  src/builder/edit_guild_welcome_screen.rs
  src/builder/edit_guild_widget.rs
  src/builder/edit_member.rs
  src/builder/edit_role.rs
  src/builder/edit_scheduled_event.rs
  src/builder/edit_stage_instance.rs
  src/builder/edit_sticker.rs
  src/builder/edit_thread.rs
  src/builder/edit_webhook.rs
  src/http/client.rs
  src/model/channel/channel_category.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/guild/emoji.rs
  src/model/guild/guild_id.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/guild/role.rs
  src/model/invite.rs
  src/model/sticker/mod.rs
  src/model/sticker/sticker_id.rs
  src/model/webhook.rs
Labels: enhancement, discord feature, model, builder, http, breaking change

#2109 Make AutocompleteChoice constructable
  src/builder/create_interaction_response.rs
Labels: fix, builder, breaking change

#2111 Elide lifetimes on model methods
  src/model/channel/channel_id.rs
  src/model/guild/guild_id.rs
  src/model/invite.rs
Labels: enhancement, model
