Repository serenity-rs/serenity, pull requests merged in 2022-04, with the labels that each got.

#1803 Add missing `webhook.get_message`
  src/http/client.rs
  src/http/routing.rs
  src/model/webhook.rs
Labels: enhancement, model, http

#1811 Remove kind check for sending webhook components
  src/model/webhook.rs
Labels: enhancement, model

#1786 feat(Intents): Add GUILD_MESSAGES as privileged.
  src/client/bridge/gateway/intents.rs
Labels: enhancement, client

#1812 Remove the unused `client::Extras` struct
  src/client/extras.rs
  src/client/mod.rs
Labels: enhancement, client, breaking change

#1810 Simplify the hidden preparation code in doc examples
  src/cache/mod.rs
  src/model/channel/guild_channel.rs
  src/model/channel/mod.rs
  src/model/guild/emoji.rs
  src/model/user.rs
  src/utils/content_safe.rs
  src/utils/message_builder.rs
Labels: enhancement, docs, model, cache, utils

#1814 Add users argument to content_safe
  examples/e05_command_framework/src/main.rs
  src/utils/content_safe.rs
Labels: utils, examples

#1815 refactor(ClientBuilder): use `Option` in more places
  src/client/mod.rs
Labels: enhancement, docs, client, breaking change

#1816 Document that MESSAGE_CONTENT is now privileged
  src/client/mod.rs
  src/model/gateway.rs
Labels: docs, fix, model, client

#1818 Make ArgumentConvert non cache feature compatible
  src/utils/argument_convert/_template.rs
  src/utils/argument_convert/channel.rs
  src/utils/argument_convert/emoji.rs
  src/utils/argument_convert/guild.rs
  src/utils/argument_convert/member.rs
  src/utils/argument_convert/role.rs
  src/utils/argument_convert/user.rs
  src/utils/mod.rs
Labels: enhancement, utils

#1819 Fix parsing interaction with DM channel argument
  src/model/channel/partial_channel.rs
Labels: fix, model, breaking change

#1821 Clean up `Guild::member_named` to use `utils::parse_user_tag`
  src/model/guild/mod.rs
  src/utils/argument_convert/mod.rs
  src/utils/mod.rs
Labels: enhancement, model, utils

#1804 Make chrono a default optional feature
  .github/workflows/ci.yml
  Cargo.toml
  README.md
  src/model/timestamp.rs
Labels: enhancement, model, breaking change, ci

#1813 Place temporary caching functionality under a separate feature flag
  Cargo.toml
  README.md
  src/cache/mod.rs
  src/model/channel/channel_id.rs
  src/model/user.rs
Labels: enhancement, model, cache, breaking change

#1824 Remove the store channel type from `Channel` deserialization
  src/model/channel/mod.rs
Labels: fix, model

#1823 Change matches where the match expression is a bool to be more idiomatic
  src/model/interactions/modal.rs
Labels: enhancement, model

#1827 Reduce size of the `ResolvedTarget` enum variants
  src/model/interactions/application_command.rs
Labels: enhancement, model, breaking change

#1826 Deserialize the interaction data's `target_id` unconditionally
  src/model/interactions/application_command.rs
Labels: enhancement, model

#1825 Add new "Directory" channel type
  src/model/channel/mod.rs
Labels: enhancement, discord feature, model

#1832 Fix serenity not building with `tokio_unstable`
  Cargo.toml
  README.md
  src/internal/tokio.rs
Labels: enhancement

#1834 chore: remove `_marker` features
  Cargo.toml
  build.rs
  src/error.rs
  src/gateway/shard.rs
  src/http/client.rs
  src/internal/ws_impl.rs
Labels: enhancement, http, gateway, breaking change

#1835 refactor: remove `update_cache_timeout` from `CacheAndHttp`
  src/client/mod.rs
  src/lib.rs
Labels: enhancement, client, breaking change

#1833 Add new command data field `guild_id`
  src/model/interactions/application_command.rs
Labels: enhancement, discord feature, model

#1836 refactor: prefer "URL" over "URI"
  src/client/bridge/gateway/shard_queuer.rs
  src/client/mod.rs
  src/constants.rs
  src/http/ratelimiting.rs
  src/http/routing.rs
Labels: enhancement, docs, client, http, breaking change

#1830 Fix clippy warnings suggested by `clippy::pedantic`
  command_attr/src/attributes.rs
  command_attr/src/lib.rs
  command_attr/src/util.rs
  src/builder/bot_auth_parameters.rs
  src/builder/create_interaction_response.rs
  src/builder/create_interaction_response_followup.rs
  src/builder/create_message.rs
  src/builder/execute_webhook.rs
  src/cache/event.rs
  src/client/bridge/gateway/shard_manager.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/client/bridge/gateway/shard_runner.rs
  src/client/dispatch.rs
  src/client/mod.rs
  src/framework/standard/args.rs
  src/framework/standard/configuration.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/mod.rs
  src/framework/standard/parse/map.rs
  src/framework/standard/parse/mod.rs
  src/framework/standard/structures/buckets.rs
  src/gateway/shard.rs
  src/gateway/ws_client_ext.rs
  src/http/client.rs
  src/http/ratelimiting.rs
  src/http/routing.rs
  src/http/utils.rs
  src/model/channel/attachment_type.rs
  src/model/channel/message.rs
  src/model/channel/private_channel.rs
  src/model/channel/reaction.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/user.rs
  src/model/utils.rs
  src/model/webhook.rs
  src/utils/argument_convert/channel.rs
  src/utils/argument_convert/message.rs
  src/utils/argument_convert/role.rs
  src/utils/content_safe.rs
  src/utils/message_builder.rs
  src/utils/mod.rs
Labels: enhancement, framework, model, client, builder, cache, http, utils, gateway, command_attr

#1837 Add build job to test the `native-tls` backend
  .github/workflows/ci.yml
Labels: enhancement, ci

#1772 feat: set `Http::application_id` in ready event handler
  src/client/bridge/gateway/shard_queuer.rs
  src/client/mod.rs
  src/gateway/shard.rs
  src/http/client.rs
  src/http/error.rs
Labels: client, http, gateway

#1838 Fix compilation error
  src/client/mod.rs
Labels: fix, client

#1842 refactor: remove unused `found_group_prefix` parameter
  src/framework/standard/help_commands.rs
Labels: enhancement, framework

#1845 Remove the `Error::Rustls` enum variant
  src/error.rs
  src/internal/ws_impl.rs
Labels: enhancement, breaking change

#1839 Remove redundant `ClientBuilder::application_id` field
  src/client/mod.rs
Labels: enhancement, client

#1844 Update documentation around webhook components
  src/builder/edit_webhook_message.rs
  src/builder/execute_webhook.rs
Labels: enhancement, docs, builder

#1841 feat: lift unnecessary `CacheHttp` requirements
  src/framework/standard/help_commands.rs
  src/model/guild/member.rs
Labels: enhancement, framework, model, breaking change

#1840 refactor(Http): simplify constructor functions
  examples/e05_command_framework/src/main.rs
  examples/e06_sample_bot_structure/src/main.rs
  examples/e10_collectors/src/main.rs
  src/builder/create_channel.rs
  src/builder/create_message.rs
  src/builder/edit_channel.rs
  src/builder/edit_guild.rs
  src/builder/edit_role.rs
  src/builder/execute_webhook.rs
  src/builder/get_messages.rs
  src/client/bridge/gateway/shard_manager.rs
  src/client/mod.rs
  src/gateway/shard.rs
  src/http/client.rs
  src/http/ratelimiting.rs
  src/http/typing.rs
  src/lib.rs
  src/model/channel/channel_category.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/channel/private_channel.rs
  src/model/guild/guild_id.rs
  src/model/interactions/application_command.rs
  src/model/user.rs
  src/model/webhook.rs
Labels: enhancement, model, client, builder, http, gateway, breaking change, examples

#1850 Fix minor issues with doc comments & examples
  src/client/bridge/gateway/shard_messenger.rs
  src/gateway/shard.rs
  src/http/client.rs
  src/model/guild/guild_id.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/interactions/application_command.rs
  src/model/interactions/modal.rs
  src/model/user.rs
  src/utils/colour.rs
  src/utils/message_builder.rs
Labels: docs, fix, model, client, http, utils, gateway

#1849 Update methods and properties in `Permissions`
  src/builder/create_channel.rs
  src/builder/edit_channel.rs
  src/framework/standard/parse/mod.rs
  src/http/client.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/invite.rs
  src/model/permissions.rs
  src/model/user.rs
Labels: enhancement, framework, model, builder, http, breaking change

#1847 Remove the `Error::Num` enum variant
  src/error.rs
Labels: enhancement, breaking change

#1855 Fix a docstring in `http/routing.rs`
  src/http/routing.rs
Labels: docs, fix, http

#1774 Bump to 0.11.0
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.toml
  README.md
  command_attr/Cargo.toml
  src/lib.rs
Labels: enhancement, command_attr

#1860 Update .git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: enhancement

#1862 Deny broken and private intra doc links
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  src/lib.rs
Labels: enhancement, ci

#1863 Fix unused import and deny unused items
  src/lib.rs
  src/model/misc.rs
Labels: enhancement, model

#1864 Remove deprecated `audit_log` re-exports and types
  src/model/guild/audit_log.rs
  src/model/guild/mod.rs
Labels: enhancement, model, breaking change

#1865 impl From<Guild> for PartialGuild
  src/model/guild/partial_guild.rs
Labels: enhancement, model

#1867 Use `AttachmentType::data` in `EditRole::icon`
  src/builder/edit_role.rs
Labels: enhancement, builder

#1868 Add function for interaction followup messages to set or unset the ephemeral flag
  src/builder/create_interaction_response_followup.rs
Labels: enhancement, builder

#1870 Optimize guild create & delete event deserialization
  src/model/event.rs
Labels: enhancement, model

#1872 Update `simd-json` to 0.4.14
  Cargo.toml
Labels: fix, dependencies

#1874 Fix lifetimes on interaction response methods
  src/builder/create_interaction_response.rs
  src/model/interactions/application_command.rs
Labels: fix, model, builder

#1873 Add `SUPPRESS_EMBEDS` flag for interaction response messages
  src/model/interactions/mod.rs
Labels: enhancement, discord feature, model

#1878 Use `dashmap` 5.2.0 for the MSRV build job
  .github/workflows/ci.yml
Labels: fix, ci

#1876 Use `Cow` in `utils/content_safe.rs` to save on allocations
  src/utils/content_safe.rs
Labels: enhancement, utils
