Repository serenity-rs/serenity, pull requests merged in 2023-05, with the labels that each got.

#2413 Revert #2335
  src/builder/create_components.rs
Labels: enhancement, builder

#2399 Overhaul command permission builders
  src/builder/create_command_permission.rs
  src/client/event_handler.rs
  src/http/client.rs
  src/model/application/command.rs
  src/model/event.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
Labels: enhancement, model, client, builder, http, breaking change

#2415 Make discriminator optional and non-zero in preparation for new usernames
  src/model/channel/message.rs
  src/model/error.rs
  src/model/gateway.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/user.rs
  src/utils/content_safe.rs
  src/utils/mod.rs
Labels: enhancement, discord feature, model, utils, breaking change

#2418 Change `CurrentUser` to a newtype around `User`.
  src/model/channel/reaction.rs
  src/model/event.rs
  src/model/mention.rs
  src/model/user.rs
Labels: enhancement, model, breaking change

#2422 do not feature gate `MessageUpdateEvent::apply_to_message`
  src/cache/event.rs
  src/model/event.rs
Labels: enhancement, model, cache

#2424 Remove FromStrAndCache and StrExt
  src/cache/mod.rs
  src/model/channel/mod.rs
  src/model/guild/role.rs
Labels: enhancement, model, cache, breaking change

#2423 Make InputText::{label, style} optional
  src/builder/create_components.rs
  src/model/application/component.rs
Labels: enhancement, model, builder, breaking change

#2428 Actually call ChannelUpdate's CacheUpdate implementation and clean up permission calculation a bit
  examples/testing/src/main.rs
  src/cache/event.rs
  src/client/dispatch.rs
  src/framework/standard/mod.rs
  src/model/channel/guild_channel.rs
  src/model/error.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/utils/mod.rs
Labels: enhancement, fix, framework, model, client, cache, utils, breaking change, examples

#2430 Fix GuildUpdateEvent deserialization
  src/client/event_handler.rs
  src/model/event.rs
  src/model/guild/mod.rs
Labels: fix, model, client, breaking change

#2425 Sync builders with Discord API
  examples/testing/src/main.rs
  src/builder/add_member.rs
  src/builder/create_allowed_mentions.rs
  src/builder/create_channel.rs
  src/builder/create_command.rs
  src/builder/create_command_permission.rs
  src/builder/create_components.rs
  src/builder/create_embed.rs
  src/builder/create_forum_post.rs
  src/builder/create_forum_tag.rs
  src/builder/create_interaction_response.rs
  src/builder/create_interaction_response_followup.rs
  src/builder/create_invite.rs
  src/builder/create_message.rs
  src/builder/create_scheduled_event.rs
  src/builder/create_stage_instance.rs
  src/builder/create_sticker.rs
  src/builder/create_thread.rs
  src/builder/create_webhook.rs
  src/builder/edit_automod_rule.rs
  src/builder/edit_channel.rs
  src/builder/edit_guild.rs
  src/builder/edit_guild_welcome_screen.rs
  src/builder/edit_guild_widget.rs
  src/builder/edit_interaction_response.rs
  src/builder/edit_member.rs
  src/builder/edit_message.rs
  src/builder/edit_profile.rs
  src/builder/edit_role.rs
  src/builder/edit_scheduled_event.rs
  src/builder/edit_stage_instance.rs
  src/builder/edit_sticker.rs
  src/builder/edit_thread.rs
  src/builder/edit_voice_state.rs
  src/builder/edit_webhook.rs
  src/builder/edit_webhook_message.rs
  src/builder/execute_webhook.rs
  src/builder/get_messages.rs
  src/builder/mod.rs
  src/model/application/oauth.rs
  src/model/channel/embed.rs
  src/model/channel/mod.rs
Labels: enhancement, discord feature, model, builder, examples

#2429 Clean up `serenity::model::prelude`
  src/gateway/bridge/shard_runner_message.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/reaction.rs
  src/model/colour.rs
  src/model/guild/automod.rs
  src/model/guild/role.rs
  src/model/mod.rs
  src/model/prelude.rs
  src/utils/argument_convert/guild.rs
  src/utils/argument_convert/mod.rs
Labels: enhancement, model, utils, gateway, breaking change

#2432 Fix `gruop_dm` -> `group_dm` typo
  src/model/channel/mod.rs
Labels: fix, model

#2433 Don't claim that the default text channel's ID equals the guild ID
  src/model/channel/guild_channel.rs
Labels: docs, fix, model

#2436 Wrap `RatelimitingKind` in `Option` and remove its `None` variant
  src/http/routing.rs
Labels: enhancement, http

#2441 Replace `Route::ApplicationGuildCommand*` with `Route::GuildCommand*`
  src/http/client.rs
  src/http/routing.rs
Labels: enhancement, http, breaking change

#2442 Import `std::sync::Arc` in `shard_messenger.rs`
  src/gateway/bridge/shard_messenger.rs
  src/gateway/bridge/shard_runner.rs
Labels: enhancement, gateway

#2443 Include all Message fields in MessageUpdateEvent
  src/model/event.rs
Labels: enhancement, model, breaking change

#2446 Rename parameter `users` to `roles` in `CreateAllowedMentions::roles`
  src/builder/create_allowed_mentions.rs
Labels: enhancement, builder

#2445 Turn generic params with `IntoIterator` bounds into `impl IntoIterator`
  src/builder/create_message.rs
  src/builder/edit_channel.rs
  src/framework/standard/configuration.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/channel/private_channel.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/utils/custom_message.rs
Labels: enhancement, framework, model, builder, utils, breaking change

#2444 Add a way to remove all attachments easily
  src/builder/edit_message.rs
Labels: enhancement, builder

#2448 Update list of permissions supported by `command_attr`
  command_attr/src/structures.rs
Labels: fix, command_attr

#2449 Use files in `Interaction::{create,edit}_followup_message`
  src/model/application/interaction/message_component.rs
  src/model/application/interaction/modal.rs
Labels: fix, model
