Repository serenity-rs/serenity, pull requests merged in 2023-10, with the labels that each got.

#2548 Add support for `default_values` on select menus
  examples/testing/src/main.rs
  src/builder/create_components.rs
Labels: enhancement, discord feature, builder, breaking change, examples

#2551 Return the full data about a thread when it was deleted
  src/client/dispatch.rs
  src/client/event_handler.rs
Labels: enhancement, client, breaking change

#2553 Provide old thread on ThreadUpdate
  src/client/dispatch.rs
  src/client/event_handler.rs
Labels: enhancement, client, cache, breaking change

#2554 Add `WebhookGuild` struct
  src/model/channel/channel_id.rs
  src/model/guild/guild_id.rs
  src/model/webhook.rs
Labels: fix, model, breaking change

#2555 Make ID FromStr implementations consistent
  examples/testing/src/model_type_sizes.rs
  src/model/id.rs
  src/model/misc.rs
Labels: enhancement, model, breaking change, examples

#2556 Make internals of ID private
  examples/testing/src/main.rs
  src/builder/bot_auth_parameters.rs
  src/builder/create_command_permission.rs
  src/framework/standard/parse/mod.rs
  src/http/client.rs
  src/http/routing.rs
  src/model/application/command.rs
  src/model/application/command_interaction.rs
  src/model/channel/channel_id.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/channel/reaction.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/id.rs
  src/model/mention.rs
  src/model/sticker.rs
  src/model/user.rs
  src/model/utils.rs
  src/utils/argument_convert/channel.rs
  src/utils/argument_convert/emoji.rs
  src/utils/argument_convert/guild.rs
  src/utils/argument_convert/member.rs
  src/utils/argument_convert/message.rs
  src/utils/argument_convert/mod.rs
  src/utils/argument_convert/role.rs
  src/utils/argument_convert/user.rs
  src/utils/mod.rs
Labels: enhancement, framework, model, builder, http, utils, breaking change, examples

#2557 Use repr(packed) for ID types
  src/model/id.rs
Labels: enhancement, model, breaking change

#2559 Remove `EventType` enum
  src/model/event.rs
Labels: enhancement, model, breaking change

#2566 Replace uses of `simd-json` feature with `simd_json`
  .github/workflows/ci.yml
  src/error.rs
  src/internal/prelude.rs
  src/json.rs
  src/model/guild/audit_log/change.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
Labels: enhancement, model, ci

#2562 Bump base64
  Cargo.toml
  src/utils/mod.rs
  src/utils/token.rs
Labels: enhancement, utils, dependencies

#2571 Add changelog for 0.11.7
  CHANGELOG.md
Labels: enhancement, docs

#2574 Explicitly mention ID type names in docs and panic messages
  src/model/id.rs
Labels: enhancement, docs, model
