Repository serenity-rs/serenity, pull requests merged in 2023-08, with the labels that each got.

#2493 Add `edit_original_message()` for `MessageComponentInteraction`
  src/model/application/interaction/message_component.rs
Labels: enhancement, discord feature, model

#2499 Add more valid domains for webhooks URL (#2491)
  src/utils/mod.rs
Labels: fix, utils

#2510 Fix ratelimit unit log
  src/http/ratelimiting.rs
Labels: fix, http

#2506 Add missing `set_components()` methods
  src/builder/edit_interaction_response.rs
  src/builder/edit_webhook_message.rs
Labels: enhancement, builder

#2511 Fix being unable to create webhooks on forum channels
  src/builder/create_webhook.rs
Labels: fix, builder

#2504 Implement FromStr for ids
  src/model/id.rs
Labels: enhancement, model

#2519 Make stage channels text-based
  src/model/channel/guild_channel.rs
Labels: fix, model

#2516 Fix Rust 1.72 clippy lints
  src/client/context.rs
  src/client/dispatch.rs
  src/framework/standard/structures/mod.rs
  src/gateway/bridge/shard_runner.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
Labels: enhancement, framework, model, client, gateway

#2521 Bump MSRV to Rust 1.72
  .github/workflows/ci.yml
  Cargo.toml
  README.md
Labels: enhancement, breaking change, ci

#2522 Update tokio-tungstenite to 0.19
  Cargo.toml
  src/gateway/ws.rs
Labels: enhancement, gateway, breaking change, dependencies

#2523 Change Arc<Mutex<ShardManager>> to Arc<ShardManager>
  examples/e05_command_framework/src/main.rs
  examples/e06_sample_bot_structure/src/commands/owner.rs
  examples/e06_sample_bot_structure/src/main.rs
  examples/e08_shard_manager/src/main.rs
  examples/e15_simple_dashboard/src/main.rs
  src/client/mod.rs
  src/gateway/bridge/shard_manager.rs
  src/gateway/bridge/shard_queuer.rs
  src/gateway/bridge/shard_runner.rs
Labels: fix, client, gateway, breaking change, examples
