Repository serenity-rs/serenity, pull requests merged in 2023-07, with the labels that each got.

#2484 Fix broken webhook deserialization
  src/model/webhook.rs
Labels: fix, model

#2482 Format let-else statements
  src/framework/standard/mod.rs
  src/framework/standard/parse/mod.rs
  src/gateway/bridge/shard_manager.rs
  src/gateway/bridge/shard_queuer.rs
  src/http/ratelimiting.rs
  src/model/misc.rs
  src/utils/mod.rs
  src/utils/quick_modal.rs
Labels: enhancement, framework, model, http, utils, gateway

#2487 Implement Get Current User Guild Member endpoint
  src/http/client.rs
  src/http/routing.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
Labels: enhancement, discord feature, model, http

#2495 Bump MSRV to Rust 1.71
  .github/workflows/ci.yml
  README.md
  command_attr/src/lib.rs
Labels: enhancement, breaking change, command_attr, ci

#2496 Fix compilation with just the `http` and `builder` features enabled
  src/builder/create_embed.rs
  src/builder/create_interaction_response.rs
  src/builder/create_interaction_response_followup.rs
  src/builder/create_message.rs
  src/builder/edit_message.rs
  src/builder/edit_role.rs
  src/builder/edit_webhook_message.rs
  src/builder/execute_webhook.rs
  src/builder/mod.rs
  src/http/client.rs
  src/model/channel/message.rs
  src/model/channel/reaction.rs
  src/model/guild/mod.rs
  src/model/user.rs
  src/model/webhook.rs
  src/utils/mod.rs
Labels: fix, model, builder, http, utils
