Repository serenity-rs/serenity, pull requests merged in 2023-03, with the labels that each got.

#2351 Fix clippy lints
  clippy.toml
  command_attr/src/structures.rs
  src/framework/mod.rs
Labels: enhancement, framework, command_attr

#2352 Enable automatic comment wrapping for rustfmt
  command_attr/src/lib.rs
  command_attr/src/structures.rs
  examples/e05_command_framework/src/main.rs
  examples/e12_global_data/src/main.rs
  examples/e16_sqlite_database/src/main.rs
  rustfmt.toml
  src/builder/create_interaction_response.rs
  src/cache/event.rs
  src/cache/mod.rs
  src/framework/standard/args.rs
  src/framework/standard/parse/mod.rs
  src/gateway/shard.rs
  src/http/client.rs
  src/http/ratelimiting.rs
  src/model/application/component_interaction.rs
  src/model/application/modal_interaction.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/channel/mod.rs
  src/model/event.rs
  src/model/guild/guild_id.rs
  src/model/guild/member.rs
  src/utils/mod.rs
Labels: enhancement, framework, model, builder, cache, http, utils, gateway, command_attr, examples

#2353 Upgrade dependencies
  Cargo.toml
  examples/e06_sample_bot_structure/Cargo.toml
  examples/e07_env_logging/Cargo.toml
  examples/e15_simple_dashboard/Cargo.toml
  examples/e16_sqlite_database/Cargo.toml
  examples/e19_interactions_endpoint/Cargo.toml
  examples/testing/Cargo.toml
  src/builder/create_attachment.rs
  src/gateway/ws.rs
  src/json.rs
  voice-model/Cargo.toml
Labels: voice, builder, gateway, breaking change, dependencies, examples

#2350 Make start_typing infallible
  src/http/client.rs
  src/http/typing.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/channel/private_channel.rs
Labels: enhancement, model, http, breaking change

#2355 Fix channal typo
  examples/e05_command_framework/src/main.rs
Labels: fix, examples

#2349 Unwrap .spawn() to support updated tokio task builder API
  src/internal/tokio.rs
Labels: fix

#2357 Add support for creating forum posts
  src/builder/create_forum_post.rs
  src/builder/mod.rs
  src/http/client.rs
  src/http/routing.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
Labels: enhancement, discord feature, model, builder, http

#2360 Remove redundant `ChannelId` in `CreateStageInstance` builder
  src/builder/create_stage_instance.rs
  src/model/channel/channel_id.rs
Labels: enhancement, model, builder, breaking change

#2361 Bump MSRV to Rust 1.68
  .github/workflows/ci.yml
  Cargo.toml
  README.md
Labels: enhancement, breaking change, ci

#2359 Add `CreateThread::invitable`
  src/builder/create_thread.rs
Labels: enhancement, discord feature, builder

#2364 Avoid logging raw bytes in at warn level
  src/gateway/ws.rs
Labels: enhancement, gateway

#2367 Add GuildAuditLogEntryCreate
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/model/event.rs
  src/model/gateway.rs
  src/model/guild/audit_log/change.rs
  src/model/guild/audit_log/mod.rs
Labels: model, client

#2363 Introduce a `Builder` trait
  src/builder/add_member.rs
  src/builder/create_application_command.rs
  src/builder/create_application_command_permission.rs
  src/builder/create_channel.rs
  src/builder/create_forum_post.rs
  src/builder/create_interaction_response.rs
  src/builder/create_interaction_response_followup.rs
  src/builder/create_invite.rs
  src/builder/create_message.rs
  src/builder/create_scheduled_event.rs
  src/builder/create_stage_instance.rs
  src/builder/create_sticker.rs
  src/builder/create_thread.rs
  src/builder/create_webhook.rs
  src/builder/edit_automod_rule.rs
  src/builder/edit_channel.rs
  src/builder/edit_guild.rs
  src/builder/edit_guild_welcome_screen.rs
  src/builder/edit_guild_widget.rs
  src/builder/edit_interaction_response.rs
  src/builder/edit_member.rs
  src/builder/edit_message.rs
  src/builder/edit_profile.rs
  src/builder/edit_role.rs
  src/builder/edit_scheduled_event.rs
  src/builder/edit_stage_instance.rs
  src/builder/edit_sticker.rs
  src/builder/edit_thread.rs
  src/builder/edit_voice_state.rs
  src/builder/edit_webhook.rs
  src/builder/edit_webhook_message.rs
  src/builder/execute_webhook.rs
  src/builder/get_messages.rs
  src/builder/mod.rs
  src/builder/quick_modal.rs
  src/http/client.rs
  src/model/application/command.rs
  src/model/application/command_interaction.rs
  src/model/application/component_interaction.rs
  src/model/application/modal_interaction.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/private_channel.rs
  src/model/guild/guild_id.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/sticker.rs
  src/model/user.rs
  src/model/webhook.rs
Labels: enhancement, model, builder, http, breaking change

#2369 Add `GuildMfa` endpoint
  src/http/client.rs
  src/http/routing.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
Labels: enhancement, discord feature, model, http
