Repository serenity-rs/serenity, pull requests merged in 2023-06, with the labels that each got.

#2454 Include new docs on invite event permissions
  src/model/event.rs
Labels: enhancement, discord feature, docs, model

#2455 Bump MSRV to Rust 1.70
  .github/workflows/ci.yml
  Cargo.toml
  README.md
  command_attr/src/lib.rs
Labels: enhancement, breaking change, command_attr, ci

#2456 Replace `Option::map_or(false, ...)` with `is_some_and(...)`
  examples/e05_command_framework/src/main.rs
  src/cache/wrappers.rs
  src/framework/standard/args.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/mod.rs
  src/model/guild/mod.rs
  src/utils/argument_convert/member.rs
  src/utils/token.rs
Labels: enhancement, framework, model, cache, utils, examples

#2457 Replace `once_cell::sync::OnceCell` with `std::sync::OnceLock`
  Cargo.toml
  src/client/mod.rs
  src/gateway/bridge/shard_manager.rs
  src/gateway/bridge/shard_queuer.rs
Labels: enhancement, client, gateway, breaking change

#2466 Remove `DefaultAvatar` enum
  examples/testing/src/model_type_sizes.rs
  src/model/user.rs
Labels: enhancement, model, breaking change, examples

#2459 Use ShardId everywhere
  examples/e05_command_framework/src/main.rs
  examples/e15_simple_dashboard/src/main.rs
  src/cache/event.rs
  src/cache/mod.rs
  src/client/context.rs
  src/gateway/bridge/event.rs
  src/gateway/bridge/mod.rs
  src/gateway/bridge/shard_manager.rs
  src/gateway/bridge/shard_messenger.rs
  src/gateway/bridge/shard_queuer.rs
  src/gateway/bridge/shard_runner.rs
  src/gateway/shard.rs
  src/model/gateway.rs
  src/model/id.rs
Labels: enhancement, model, client, cache, gateway, breaking change, examples

#2462 Add dedicated type for storing image hashes
  src/builder/edit_guild.rs
  src/builder/edit_role.rs
  src/cache/event.rs
  src/model/application/mod.rs
  src/model/channel/message.rs
  src/model/event.rs
  src/model/gateway.rs
  src/model/guild/audit_log/change.rs
  src/model/guild/guild_preview.rs
  src/model/guild/integration.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/guild/role.rs
  src/model/guild/scheduled_event.rs
  src/model/invite.rs
  src/model/misc.rs
  src/model/user.rs
  src/model/utils.rs
  src/model/webhook.rs
Labels: enhancement, model, builder, cache, breaking change

#2464 Optimise size of model structs
  examples/e05_command_framework/src/main.rs
  src/builder/create_channel.rs
  src/builder/create_components.rs
  src/builder/create_forum_post.rs
  src/builder/create_invite.rs
  src/builder/create_thread.rs
  src/builder/edit_channel.rs
  src/builder/edit_guild.rs
  src/builder/edit_role.rs
  src/builder/edit_thread.rs
  src/cache/event.rs
  src/http/client.rs
  src/model/application/component.rs
  src/model/channel/attachment.rs
  src/model/channel/embed.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/event.rs
  src/model/gateway.rs
  src/model/guild/audit_log/change.rs
  src/model/guild/automod.rs
  src/model/guild/guild_id.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/guild/role.rs
  src/model/invite.rs
  src/model/sticker.rs
Labels: enhancement, model, builder, cache, http, breaking change, examples

#2473 Skip parsing attributes from rustfmt or clippy
  command_attr/src/lib.rs
  command_attr/src/structures.rs
Labels: fix, command_attr

#2471 Fix rustfmt CI
  examples/e05_command_framework/src/main.rs
  src/framework/standard/parse/mod.rs
  src/gateway/bridge/shard_runner.rs
Labels: enhancement, framework, gateway, examples

#2467 Deserialize to ArrayString instead of String for ImageHash
  Cargo.toml
  src/model/misc.rs
Labels: enhancement, model, dependencies

#2477 Change `CreateCommand::{min_length, max_length}` to take `mut self`
  src/builder/create_command.rs
Labels: fix, builder, breaking change

#2472 don't use non-zero integers on model/channel/embed
  src/model/channel/attachment.rs
  src/model/channel/embed.rs
Labels: fix, model, breaking change

#2435 Add a changelog for v0.11.6
  CHANGELOG.md
Labels: enhancement, docs
