Repository serenity-rs/serenity, pull requests merged in 2023-12, with the labels that each got.

#2639 `impl Display for EmojiIdentifier`
  src/model/misc.rs
Labels: enhancement, model

#2640 add `CreateCommandOption::set_sub_options` method
  src/builder/create_command.rs
Labels: enhancement, builder

#2636 Fix `event_handler!` macro syntax
  src/client/event_handler.rs
Labels: enhancement, client

#2621 Add temp cache for messages
  src/cache/mod.rs
  src/model/channel/channel_id.rs
  src/utils/argument_convert/message.rs
Labels: enhancement, model, cache, utils

#2645 Remove deprecated items
  src/collector.rs
  src/http/request.rs
  src/model/channel/guild_channel.rs
  src/model/channel/mod.rs
  src/model/event.rs
  src/model/gateway.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/permissions.rs
  src/model/sticker.rs
  src/utils/argument_convert/channel.rs
  src/utils/argument_convert/member.rs
  src/utils/argument_convert/role.rs
  src/utils/argument_convert/user.rs
  src/utils/mod.rs
Labels: enhancement, model, http, utils, breaking change

#2649 Deprecate RoleId::to_role_cached
  examples/e05_command_framework/src/main.rs
  src/model/channel/message.rs
  src/model/guild/role.rs
  src/utils/content_safe.rs
Labels: enhancement, model, utils, examples

#2648 Deprecate inefficent Emoji helpers
  src/model/guild/emoji.rs
Labels: enhancement, model

#2655 Fix Member::highest_role_info docs
  src/model/guild/member.rs
Labels: docs, fix, model

#2657 Add missing repr(packed) to ForumTagId and RuleId
  src/model/id.rs
Labels: enhancement, model

#2653 Clean up ShardManager/Queuer/Runner
  src/cache/event.rs
  src/cache/mod.rs
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/client/mod.rs
  src/gateway/bridge/mod.rs
  src/gateway/bridge/shard_manager.rs
  src/gateway/bridge/shard_messenger.rs
  src/gateway/bridge/shard_queuer.rs
  src/gateway/bridge/shard_runner.rs
  src/gateway/bridge/voice.rs
  src/gateway/shard.rs
  src/model/gateway.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/id.rs
  src/model/invite.rs
  src/utils/mod.rs
Labels: enhancement, model, client, cache, utils, gateway, breaking change

#2658 Box Message::thread
  src/model/channel/message.rs
  src/model/event.rs
Labels: enhancement, model, breaking change

#2660 Fix FixedString<u8> truncation when multibyte characters push over the limit
  src/model/application/command.rs
  src/model/application/component.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/channel/private_channel.rs
  src/model/guild/automod.rs
  src/model/invite.rs
  src/model/webhook.rs
Labels: fix, model, breaking change

#2665 Encode timestamps in RFC3339
  src/http/client.rs
  src/model/channel/channel_id.rs
Labels: fix, model, http, breaking change

#2668 Switch to i64 in methods associated with CreateCommandOption
  src/builder/create_command.rs
Labels: enhancement, builder, breaking change

#2670 Fix parsing of role add/remove audit log changes
  src/model/guild/audit_log/change.rs
Labels: fix, model

#2662 Get rid of the duplicate users cache
  examples/e05_command_framework/src/main.rs
  src/cache/event.rs
  src/cache/mod.rs
  src/model/gateway.rs
  src/model/user.rs
  src/utils/argument_convert/user.rs
  src/utils/content_safe.rs
Labels: enhancement, model, cache, utils, breaking change, examples

#2675 Use FixedArray and FixedString in model enums
  src/model/application/command_interaction.rs
  src/model/channel/message.rs
  src/model/guild/audit_log/change.rs
Labels: model

#2678 Add unusual_dm_activity_until to Member and PartialMember
  src/cache/event.rs
  src/model/event.rs
  src/model/guild/member.rs
Labels: enhancement, discord feature, model, cache

#2673 Bitpack boolean fields using fancy proc macro
  Cargo.toml
  examples/e05_command_framework/src/main.rs
  src/builder/create_command.rs
  src/builder/edit_role.rs
  src/cache/event.rs
  src/framework/standard/configuration.rs
  src/framework/standard/mod.rs
  src/framework/standard/parse/map.rs
  src/framework/standard/parse/mod.rs
  src/lib.rs
  src/model/application/command.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/channel/reaction.rs
  src/model/connection.rs
  src/model/event.rs
  src/model/gateway.rs
  src/model/guild/emoji.rs
  src/model/guild/integration.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/guild/role.rs
  src/model/mention.rs
  src/model/user.rs
  src/model/voice.rs
  src/utils/content_safe.rs
  src/utils/custom_message.rs
  src/utils/message_builder.rs
Labels: enhancement, framework, model, builder, cache, utils, breaking change, examples
