Repository serenity-rs/serenity, pull requests merged in 2023-09, with the labels that each got.

#2520 Added static_face as variation of face
  src/model/user.rs
Labels: enhancement, model

#2531 Bump bitflags to 2.x
  Cargo.toml
  src/internal/macros.rs
  src/model/permissions.rs
  voice-model/Cargo.toml
  voice-model/src/speaking_state.rs
Labels: enhancement, voice, model, breaking change, dependencies

#2530 Bump dependency versions
  Cargo.toml
  src/gateway/ws.rs
  src/interactions_endpoint.rs
  voice-model/Cargo.toml
Labels: enhancement, voice, gateway, dependencies

#2533 Added additional reaction controls to channel_id and message structs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
Labels: enhancement, model

#2538 Fix clippy
  src/cache/event.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/parse/mod.rs
  src/http/typing.rs
Labels: enhancement, framework, cache, http

#2539 Make icon and unicode_emoji nullable in addition to optional
  src/builder/edit_role.rs
Labels: enhancement, builder, breaking change

#2534 Simplify impl of message component `edit_original_message` helper function
  src/model/application/interaction/message_component.rs
Labels: enhancement, model

#2535 Implement guild ban pagination
  src/http/client.rs
  src/http/mod.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
Labels: enhancement, discord feature, model, http, breaking change

#2543 Fix function signatures for `ChannelId::delete_reactions` and `Message::delete_reaction`
  src/model/channel/channel_id.rs
  src/model/channel/message.rs
Labels: model

#2545 Fix CI on `next`
  command_attr/Cargo.toml
  src/utils/mod.rs
Labels: fix, utils, command_attr, ci

#2547 Mark `model::prelude` types with `#[doc(hidden)]`
  src/model/mod.rs
Labels: enhancement, docs, model
