Repository serenity-rs/serenity, pull requests merged in 2023-04, with the labels that each got.

#2371 Miscellaneous changes
  command_attr/src/structures.rs
  src/builder/create_embed.rs
  src/builder/execute_webhook.rs
  src/framework/standard/help_commands.rs
  src/framework/standard/structures/mod.rs
  src/model/colour.rs
  src/model/gateway.rs
  src/model/mod.rs
Labels: enhancement, framework, model, builder, command_attr

#2356 Fix breaking changes
  src/cache/mod.rs
  src/model/channel/mod.rs
  src/model/gateway.rs
Labels: enhancement, model, cache

#2373 Warn on `clippy::clone_on_ref_ptr`
  src/client/dispatch.rs
  src/client/mod.rs
  src/framework/standard/parse/map.rs
  src/http/client.rs
  src/lib.rs
Labels: enhancement, framework, client, http

#2375 Combine the tiny voice-model/src/payload/*.rs files
  voice-model/src/payload.rs
  voice-model/src/payload/client_connect.rs
  voice-model/src/payload/client_disconnect.rs
  voice-model/src/payload/heartbeat.rs
  voice-model/src/payload/heartbeat_ack.rs
  voice-model/src/payload/hello.rs
  voice-model/src/payload/identify.rs
  voice-model/src/payload/mod.rs
  voice-model/src/payload/ready.rs
  voice-model/src/payload/resume.rs
  voice-model/src/payload/select_protocol.rs
  voice-model/src/payload/session_description.rs
  voice-model/src/payload/speaking.rs
Labels: enhancement, voice

#2377 Prevent double slashes with HTTP proxy
  src/http/request.rs
Labels: fix, http

#2372 Remove ShardManagerMonitor and other gateway cleanup
  src/client/bridge/gateway/event.rs
  src/client/bridge/gateway/mod.rs
  src/client/bridge/gateway/shard_manager.rs
  src/client/bridge/gateway/shard_manager_monitor.rs
  src/client/bridge/gateway/shard_messenger.rs
  src/client/bridge/gateway/shard_queuer.rs
  src/client/bridge/gateway/shard_runner.rs
  src/client/bridge/gateway/shard_runner_message.rs
  src/client/bridge/voice/mod.rs
  src/client/context.rs
  src/client/dispatch.rs
  src/client/mod.rs
  src/gateway/mod.rs
Labels: enhancement, client, gateway, breaking change

#2381 Update feature list in README
  .github/workflows/ci.yml
  Cargo.toml
  README.md
Labels: enhancement, ci

#2380 Move client::bridge into gateway
  examples/e05_command_framework/src/main.rs
  examples/e06_sample_bot_structure/src/main.rs
  examples/e15_simple_dashboard/src/main.rs
  src/builder/quick_modal.rs
  src/client/bridge/mod.rs
  src/client/context.rs
  src/client/event_handler.rs
  src/client/mod.rs
  src/collector.rs
  src/gateway/bridge/event.rs
  src/gateway/bridge/mod.rs
  src/gateway/bridge/shard_manager.rs
  src/gateway/bridge/shard_messenger.rs
  src/gateway/bridge/shard_queuer.rs
  src/gateway/bridge/shard_runner.rs
  src/gateway/bridge/shard_runner_message.rs
  src/gateway/bridge/voice.rs
  src/gateway/mod.rs
  src/gateway/shard.rs
  src/lib.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/user.rs
Labels: enhancement, model, client, builder, gateway, breaking change, examples

#2382 Fix CI badge
  README.md
Labels: fix

#2358 application_command -> command everywhere
  examples/e14_slash_commands/src/main.rs
  examples/testing/src/main.rs
  src/builder/create_command.rs
  src/builder/create_command_permission.rs
  src/builder/mod.rs
  src/client/event_handler.rs
  src/http/client.rs
  src/http/routing.rs
  src/model/application/command.rs
  src/model/application/interaction.rs
  src/model/event.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/permissions.rs
Labels: enhancement, model, client, builder, http, breaking change, examples

#2384 Remove related ID infrastructure
  examples/testing/src/model_type_sizes.rs
  src/model/event.rs
Labels: enhancement, model, breaking change, examples

#2389 Note suppress_embeds race condition in docs
  examples/testing/src/main.rs
  src/builder/edit_message.rs
Labels: enhancement, docs, builder, examples

#2388 Register collectors via shared Mutex instead of channel
  src/client/context.rs
  src/gateway/bridge/shard_messenger.rs
  src/gateway/bridge/shard_queuer.rs
  src/gateway/bridge/shard_runner.rs
  src/gateway/bridge/shard_runner_message.rs
Labels: enhancement, client, gateway, breaking change

#2387 Slight ShardRunner loop cleanup
  src/gateway/bridge/shard_manager.rs
  src/gateway/bridge/shard_runner.rs
  src/gateway/shard.rs
Labels: enhancement, gateway, breaking change

#2385 Support editing a forum's available tags and a forum post's applied tags
  examples/testing/src/main.rs
  src/builder/create_forum_tag.rs
  src/builder/edit_channel.rs
  src/builder/edit_thread.rs
  src/builder/mod.rs
Labels: enhancement, discord feature, builder, examples

#2395 Remove "does not work for ephemeral" from edit_response
  src/model/application/command_interaction.rs
  src/model/application/component_interaction.rs
  src/model/application/modal_interaction.rs
Labels: docs, fix, model

#2397 Make all model types #[non_exhaustive] where it makes sense
  src/model/application/component.rs
  src/model/application/interaction.rs
  src/model/application/mod.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/gateway.rs
  src/model/guild/automod.rs
  src/model/guild/mod.rs
  src/model/guild/scheduled_event.rs
  src/model/guild/welcome_screen.rs
  src/model/misc.rs
  src/utils/mod.rs
Labels: enhancement, model, utils, breaking change

#2393 Sync model structs/enums
  examples/e05_command_framework/src/main.rs
  examples/e06_sample_bot_structure/src/main.rs
  examples/e07_env_logging/src/main.rs
  examples/testing/src/main.rs
  examples/testing/src/model_type_sizes.rs
  src/builder/create_components.rs
  src/builder/create_scheduled_event.rs
  src/builder/edit_scheduled_event.rs
  src/builder/quick_modal.rs
  src/cache/event.rs
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/gateway/bridge/shard_messenger.rs
  src/gateway/bridge/shard_runner.rs
  src/gateway/bridge/shard_runner_message.rs
  src/gateway/mod.rs
  src/gateway/shard.rs
  src/gateway/ws.rs
  src/model/application/command.rs
  src/model/application/command_interaction.rs
  src/model/application/component.rs
  src/model/application/component_interaction.rs
  src/model/application/mod.rs
  src/model/application/modal_interaction.rs
  src/model/application/oauth.rs
  src/model/channel/attachment.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/channel/partial_channel.rs
  src/model/channel/reaction.rs
  src/model/connection.rs
  src/model/event.rs
  src/model/gateway.rs
  src/model/guild/audit_log/mod.rs
  src/model/guild/automod.rs
  src/model/guild/guild_id.rs
  src/model/guild/guild_preview.rs
  src/model/guild/integration.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/guild/premium_tier.rs
  src/model/guild/role.rs
  src/model/guild/scheduled_event.rs
  src/model/guild/system_channel.rs
  src/model/invite.rs
  src/model/mention.rs
  src/model/misc.rs
  src/model/permissions.rs
  src/model/sticker.rs
  src/model/user.rs
  src/model/utils.rs
  src/model/voice.rs
  src/model/webhook.rs
Labels: enhancement, model, client, builder, cache, gateway, breaking change, dependencies, examples

#2401 Wait 1 second before retrying if shard resume fails
  src/gateway/bridge/shard_runner.rs
Labels: fix, gateway

#2391 Add attachments support to the `EditWebhookMessage` endpoint
  src/builder/edit_webhook_message.rs
  src/http/client.rs
Labels: enhancement, discord feature, builder, http, breaking change

#2402 Fix `missing field "waveform"` error
  src/model/channel/attachment.rs
Labels: fix, model

#2404 Update CI
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
Labels: fix, ci

#2374 Move CreateQuickModal to utils
  examples/e14_slash_commands/src/commands/modal.rs
  src/builder/mod.rs
  src/model/application/command_interaction.rs
  src/model/application/component_interaction.rs
  src/utils/mod.rs
  src/utils/quick_modal.rs
Labels: enhancement, model, builder, utils, breaking change, examples
