Repository serenity-rs/serenity, pull requests merged in 2023-11, with the labels that each got.

#2575 Add CreateAttachment.description and EditAttachment
  examples/testing/src/main.rs
  src/builder/create_attachment.rs
  src/builder/create_interaction_response.rs
  src/builder/create_interaction_response_followup.rs
  src/builder/create_message.rs
  src/builder/edit_interaction_response.rs
  src/builder/edit_message.rs
  src/builder/edit_webhook_message.rs
  src/builder/execute_webhook.rs
  src/http/client.rs
  src/http/multipart.rs
Labels: enhancement, builder, http, breaking change, examples

#2578 Remove `PingInteraction::guild_locale` field
  src/model/application/interaction.rs
  src/model/application/ping_interaction.rs
Labels: model, breaking change

#2580 Upgrade simd-json to 0.13
  Cargo.toml
  src/json.rs
Labels: enhancement, dependencies

#2586 Ignore invalid bytes in ImageHash conversion
  src/model/misc.rs
Labels: fix, model, breaking change

#2588 Add missing audit log events
  src/model/guild/audit_log/mod.rs
Labels: enhancement, discord feature, model

#2593 Deprecate `GUILD_BANS` and reword intent docs
  src/model/event.rs
  src/model/gateway.rs
Labels: enhancement, docs, model

#2589 Bump all dependencies
  Cargo.toml
Labels: enhancement, dependencies

#2596 Bump MSRV to Rust 1.74
  .github/workflows/ci.yml
  Cargo.toml
  README.md
Labels: enhancement, breaking change, ci

#2597 Remove unnecessary allows
  src/builder/create_channel.rs
  src/builder/create_message.rs
  src/builder/create_scheduled_event.rs
  src/builder/create_sticker.rs
  src/builder/edit_guild.rs
  src/builder/edit_role.rs
  src/builder/edit_scheduled_event.rs
  src/client/error.rs
  src/utils/mod.rs
Labels: enhancement, client, builder, utils

#2600 feat: Introduce `FormattedTimestamp` and `FormattedTimestampStyle` for improved message timestamp formatting
  src/utils/formatted_timestamp.rs
  src/utils/mod.rs
Labels: utils

#2598 Actually use InteractionResponseFlags
  src/builder/create_interaction_response.rs
Labels: builder

#2602 Remove duplicate channels map
  src/cache/event.rs
  src/cache/mod.rs
  src/utils/argument_convert/channel.rs
  src/utils/content_safe.rs
Labels: enhancement, cache, utils, breaking change

#2594 [Voice Model] Get rid of enum_primitive dep
  voice-model/Cargo.toml
  voice-model/src/close_code.rs
  voice-model/src/lib.rs
Labels: enhancement, voice, dependencies

#2583 Move sending shard shutdown messages into the global shutdown lock
  src/gateway/bridge/shard_manager.rs
Labels: fix, gateway

#2595 Add `CREATE_EVENTS` and `CREATE_GUILD_EXPRESSIONS` permissions
  command_attr/src/structures.rs
  src/builder/create_scheduled_event.rs
  src/builder/create_sticker.rs
  src/builder/edit_scheduled_event.rs
  src/builder/edit_sticker.rs
  src/http/client.rs
  src/model/guild/emoji.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/permissions.rs
  src/model/sticker.rs
Labels: enhancement, docs, model, builder, http, command_attr

#2599 Add MaybeMap::shrink_to_fit and use on unavailable_guilds
  src/cache/wrappers.rs
  src/client/dispatch.rs
Labels: enhancement, client, cache

#2601 Enhance `parse_message_url` Function to Support Multiple Discord Domains
  src/utils/argument_convert/mod.rs
Labels: enhancement, utils

#2603 Remove PrivateChannel from caching and events
  examples/e05_command_framework/src/main.rs
  src/builder/create_invite.rs
  src/builder/create_message.rs
  src/builder/create_stage_instance.rs
  src/builder/create_webhook.rs
  src/builder/edit_channel.rs
  src/builder/edit_stage_instance.rs
  src/builder/edit_voice_state.rs
  src/cache/event.rs
  src/cache/mod.rs
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/framework/standard/mod.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/private_channel.rs
  src/model/channel/reaction.rs
  src/model/event.rs
  src/model/invite.rs
  src/model/user.rs
  src/model/webhook.rs
  src/utils/content_safe.rs
  src/utils/mod.rs
Labels: enhancement, framework, model, client, builder, cache, utils, breaking change, examples

#2606 Remove last usages of clone in Cache that aren't absolutely needed
  src/cache/mod.rs
  src/client/dispatch.rs
  src/model/channel/channel_id.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/utils/argument_convert/message.rs
Labels: enhancement, model, client, cache, utils, breaking change

#2420 Add changelog for 0.12 release
  CHANGELOG.md
Labels: enhancement

#2607 Add a Box around ThreadMember::member
  src/model/guild/member.rs
Labels: enhancement, model, breaking change

#2610 Fix CI
  .github/workflows/ci.yml
  Cargo.toml
  examples/e15_simple_dashboard/src/main.rs
  src/cache/event.rs
  src/cache/mod.rs
  src/client/bridge/gateway/shard_manager.rs
  src/client/dispatch.rs
  src/collector/component_interaction_collector.rs
  src/collector/event_collector.rs
  src/collector/message_collector.rs
  src/collector/modal_interaction_collector.rs
  src/collector/reaction_collector.rs
  src/framework/standard/structures/mod.rs
  src/http/client.rs
  src/http/ratelimiting.rs
  src/http/typing.rs
  src/http/utils.rs
  src/internal/ws_impl.rs
  src/json.rs
  src/model/event.rs
  src/model/guild/emoji.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/guild/role.rs
  src/model/timestamp.rs
  src/model/user.rs
  src/model/voice.rs
  src/model/webhook.rs
  src/utils/token.rs
Labels: fix, framework, model, client, cache, http, utils, examples, ci, collector

#2609 Split ThreadMember into PartialThreadMember and ThreadMember
  src/model/channel/guild_channel.rs
  src/model/guild/member.rs
Labels: enhancement, model, breaking change

#2573 update async-tungstenite
  Cargo.toml
  src/internal/ws_impl.rs
Labels: enhancement, dependencies

#2582 fix faulty checks in `suppress_embeds`
  src/model/channel/message.rs
Labels: fix, model

#2613 Add `Hash` to `Timestamp`'s derive list
  src/model/timestamp.rs
Labels: enhancement, model

#2614 Add `Hash` to `Timestamp`'s derive list (0.12)
  src/model/timestamp.rs
Labels: enhancement, model

#2612 Make `Event::Unknown` wrap `UnknownEvent` again
  src/client/dispatch.rs
  src/model/event.rs
  src/model/utils.rs
Labels: enhancement, model, client, breaking change

#2616 Fix clippy warnings
  command_attr/src/attributes.rs
  examples/e14_slash_commands/src/commands/attachmentinput.rs
  examples/e14_slash_commands/src/commands/id.rs
  src/framework/standard/args.rs
  src/internal/prelude.rs
Labels: enhancement, framework, command_attr, examples

#2592 Add experimental typesize support
  Cargo.toml
  src/cache/mod.rs
  src/cache/settings.rs
  src/cache/wrappers.rs
  src/internal/macros.rs
  src/model/application/command.rs
  src/model/application/command_interaction.rs
  src/model/application/component.rs
  src/model/application/component_interaction.rs
  src/model/application/interaction.rs
  src/model/application/mod.rs
  src/model/application/modal_interaction.rs
  src/model/application/oauth.rs
  src/model/application/ping_interaction.rs
  src/model/channel/attachment.rs
  src/model/channel/channel_id.rs
  src/model/channel/embed.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/channel/partial_channel.rs
  src/model/channel/private_channel.rs
  src/model/channel/reaction.rs
  src/model/colour.rs
  src/model/event.rs
  src/model/gateway.rs
  src/model/guild/audit_log/change.rs
  src/model/guild/audit_log/mod.rs
  src/model/guild/automod.rs
  src/model/guild/emoji.rs
  src/model/guild/integration.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/guild/premium_tier.rs
  src/model/guild/role.rs
  src/model/guild/scheduled_event.rs
  src/model/guild/system_channel.rs
  src/model/guild/welcome_screen.rs
  src/model/id.rs
  src/model/invite.rs
  src/model/misc.rs
  src/model/permissions.rs
  src/model/sticker.rs
  src/model/timestamp.rs
  src/model/user.rs
  src/model/voice.rs
  src/model/webhook.rs
Labels: enhancement, model, cache, dependencies

#2615 Rework builders for framework
  examples/e05_command_framework/src/main.rs
  examples/e06_sample_bot_structure/src/main.rs
  examples/e07_env_logging/src/main.rs
  examples/e10_collectors/src/main.rs
  examples/e12_global_data/src/main.rs
  examples/e15_simple_dashboard/src/main.rs
  src/client/mod.rs
  src/framework/mod.rs
  src/framework/standard/configuration.rs
  src/framework/standard/mod.rs
  src/framework/standard/structures/buckets.rs
Labels: enhancement, framework, client, breaking change, examples

#2617 Replace += &format with write!
  src/http/request.rs
  src/lib.rs
  src/utils/message_builder.rs
Labels: enhancement, http, utils, breaking change

#2622 Implement role addition/removal using dedicated endpoints
  src/model/guild/member.rs
Labels: enhancement, fix, model, breaking change

#2620 Fix README.md minor error
  README.md
Labels: fix

#2627 Fix Channel argument_convert with no cache
  src/utils/argument_convert/channel.rs
Labels: fix, utils

#2623 Use dedicated types for GuildId::audit_logs
  src/http/client.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
Labels: fix, model, http

#2628 Cleanup documentation examples
  src/builder/create_embed.rs
  src/builder/create_invite.rs
  src/builder/edit_message.rs
  src/cache/mod.rs
  src/client/context.rs
  src/client/mod.rs
  src/gateway/bridge/shard_manager.rs
  src/model/channel/attachment.rs
  src/model/channel/guild_channel.rs
  src/model/channel/reaction.rs
  src/model/error.rs
  src/model/guild/emoji.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/user.rs
Labels: enhancement, docs, model, client, builder, cache, gateway

#2626 Remove Context from FullEvent
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/framework/mod.rs
  src/framework/standard/mod.rs
  src/gateway/bridge/shard_runner.rs
  src/internal/macros.rs
Labels: enhancement, framework, client, gateway, breaking change

#2629 Prepare v0.12 for publishing
  CHANGELOG.md
  Cargo.toml
  README.md
  voice-model/Cargo.toml
Labels: enhancement, voice

#2633 Remove wrong information in CreateButton constructor
  src/builder/create_components.rs
Labels: enhancement, docs, builder

#2637 Fix serenity version in lib.rs docstring
  src/lib.rs
Labels: docs, fix
