Repository serenity-rs/serenity, pull requests merged in 2024-12, with the labels that each got.

#3071 Remove unused json.rs file
  src/json.rs
Labels: enhancement

#3077 Specify shared crate metadata at the workspace level
  Cargo.toml
  command_attr/Cargo.toml
  voice-model/Cargo.toml
Labels: enhancement, voice, command_attr

#3070 Add guild_id helper method to interaction to make it easier to extract guild id
  src/model/application/interaction.rs
Labels: enhancement, model

#3081 Fix clippy warning
  src/model/permissions.rs
Labels: enhancement, model

#3083 deprecate Member::distinct
  src/model/guild/member.rs
  src/utils/content_safe.rs
Labels: enhancement, model, utils

#3084 Add newly_created bool to ThreadCreate event
  src/gateway/client/dispatch.rs
  src/gateway/client/event_handler.rs
  src/model/event.rs
Labels: enhancement, discord feature, model, gateway, breaking change
