Repository serenity-rs/serenity, pull requests merged in 2024-04, with the labels that each got.

#2828 Add ShardId::get
  src/model/id.rs
Labels: enhancement, model

#2826 Update request to 0.12
  Cargo.toml
Labels: enhancement, dependencies

#2827 Update base64 to 0.22
  Cargo.toml
Labels: enhancement, discord feature

#2829 Add a temp private channels cache
  src/cache/mod.rs
  src/model/user.rs
Labels: enhancement, model, cache

#2831 Remove documentation referring to read-locks
  src/model/guild/mod.rs
Labels: enhancement, docs, model

#2833 Don't include cache::Settings::time_to_live without temp cache
  src/cache/settings.rs
Labels: enhancement, cache, breaking change

#2832 Add resume_gateway_url support
  src/gateway/shard.rs
Labels: enhancement, discord feature, gateway

#2834 Add Http::default_allowed_mentions
  src/builder/create_interaction_response.rs
  src/builder/create_interaction_response_followup.rs
  src/builder/create_message.rs
  src/builder/edit_message.rs
  src/builder/edit_webhook_message.rs
  src/builder/execute_webhook.rs
  src/http/client.rs
Labels: enhancement, builder, http

#2830 Add support for the bulk ban endpoint
  src/http/client.rs
  src/http/routing.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/utils.rs
Labels: enhancement, discord feature, model, http

#2809 Correct docs for `UserId::to_user`
  src/model/user.rs
Labels: docs, fix, model

#2837 Fix new clippy warnings
  src/http/routing.rs
  src/model/colour.rs
  src/model/guild/audit_log/mod.rs
Labels: model, http

#2839 No longer update topic on VoiceChannelStatusUpdate
  src/cache/event.rs
Labels: cache

#2842 system flags
  src/model/guild/audit_log/change.rs
Labels: model

#2844 Use CreateAttachment for EditGuild.banner()
  src/builder/edit_guild.rs
Labels: builder

#2845 Fix the WebhookUpdate event
  src/model/event.rs
Labels: model

#2846 Fix AuditLogEntry::user_id
  src/model/guild/audit_log/mod.rs
Labels: model

#2838 Deprecate non-existent PresencesReplace event
  examples/testing/src/model_type_sizes.rs
  src/cache/event.rs
  src/cache/mod.rs
  src/cache/settings.rs
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/model/event.rs
Labels: enhancement, model, client, cache, examples

#2849 Remove multiple event handler support
  examples/e01_basic_ping_bot/src/main.rs
  examples/e02_transparent_guild_sharding/src/main.rs
  examples/e03_struct_utilities/src/main.rs
  examples/e04_message_builder/src/main.rs
  examples/e05_sample_bot_structure/src/main.rs
  examples/e06_env_logging/src/main.rs
  examples/e07_shard_manager/src/main.rs
  examples/e08_create_message_builder/src/main.rs
  examples/e09_collectors/src/main.rs
  examples/e10_gateway_intents/src/main.rs
  examples/e11_global_data/src/main.rs
  examples/e12_parallel_loops/src/main.rs
  examples/e13_sqlite_database/src/main.rs
  examples/e14_message_components/src/main.rs
  examples/testing/src/main.rs
  src/cache/mod.rs
  src/client/context.rs
  src/client/dispatch.rs
  src/client/event_handler.rs
  src/client/mod.rs
  src/gateway/bridge/shard_manager.rs
  src/gateway/bridge/shard_queuer.rs
  src/gateway/bridge/shard_runner.rs
  src/model/channel/attachment.rs
  src/model/channel/guild_channel.rs
  src/model/error.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/user.rs
Labels: enhancement, model, client, cache, gateway, breaking change, examples

#2851 Use RwLock for active collectors collection
  Cargo.toml
  src/collector.rs
  src/gateway/bridge/mod.rs
  src/gateway/bridge/shard_messenger.rs
  src/gateway/bridge/shard_runner.rs
Labels: enhancement, gateway, breaking change, dependencies

#2852 Provide old presence data on update
  examples/e10_gateway_intents/src/main.rs
  src/cache/event.rs
  src/client/dispatch.rs
  src/client/event_handler.rs
Labels: enhancement, client, cache, breaking change, examples

#2853 Adds a way to ignore specific events
  src/client/event_handler.rs
  src/gateway/bridge/shard_runner.rs
Labels: enhancement, client, gateway
