Repository serenity-rs/serenity, pull requests merged in 2024-06, with the labels that each got.

#2885 fix typo in `Attachment` docs
  src/model/channel/attachment.rs
Labels: docs, fix, model

#2880 Add changelog for 0.12.2
  CHANGELOG.md
Labels: enhancement

#2886 Fix typo
  src/model/channel/channel_id.rs
Labels: model

#2888 Add into_inner for CreateEmbed's wrapped Embed field
  src/builder/create_embed.rs
Labels: enhancement, builder

#2891 Support new Guild Incident message types
  src/model/channel/message.rs
Labels: model

#2894 Deprecate MessageId::link_ensured
  src/model/channel/message.rs
Labels: enhancement, model

#2893 Fix deserialization of burst_colours on MessageReaction
  src/model/channel/message.rs
  src/model/channel/reaction.rs
  src/model/utils.rs
Labels: model

#2898 Remove deprecated link_ensured method
  src/model/channel/message.rs
Labels: model

#2895 Add GuildId param to ChannelId::to_channel
  examples/e04_message_builder/src/main.rs
  examples/testing/src/main.rs
  src/model/channel/channel_id.rs
  src/model/channel/message.rs
  src/model/channel/reaction.rs
  src/model/webhook.rs
  src/utils/argument_convert/channel.rs
Labels: model, utils, examples

#2897 Clean up Message::reply
  src/model/channel/message.rs
Labels: enhancement, model

#2903 Fix clippy::manual_pattern_char_comparison
  src/utils/content_safe.rs
Labels: utils

#2906 Fix CreateAttachment documentation to describe as struct
  src/builder/create_attachment.rs
Labels: builder

#2907 Workaround Rust Analyzer issues with CacheRef
  src/cache/mod.rs
Labels: cache

#2908 Bump the GH checkout action from v3 to v4
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
Labels: enhancement, ci
