Repository serenity-rs/serenity, pull requests merged in 2024-02, with the labels that each got.

#2749 Take Arc<Http> in ClientBuilder::new_with_http
  Cargo.toml
  src/client/mod.rs
  src/http/ratelimiting.rs
Labels: enhancement, client, http, breaking change, dependencies

#2761 Update nightly version to fix broken nightly detection
  .github/workflows/ci.yml
  examples/e16_sqlite_database/.sqlx/query-597707a72d1ed8eab0cb48a3bef8cdb981362e089a462fa6d156b27b57468678.json
  examples/e16_sqlite_database/.sqlx/query-7636fc64c882305305814ffb66676ef09a92d3f1d46021b94ded4e9c073775d1.json
  examples/e16_sqlite_database/.sqlx/query-8a7bb6fe3b960d1d10bc8442bb1494f2c758dd890293c313811a8c4acb8edaeb.json
  examples/e16_sqlite_database/.sqlx/query-90153b8cd85a905a1d5557ad4eb190e9be4cf55d7308973d74cb180cd2323f8a.json
  examples/e16_sqlite_database/Cargo.toml
  examples/e16_sqlite_database/sqlx-data.json
Labels: fix, examples, ci

#2759 Remove duplicate content_safe implementation
  src/model/channel/message.rs
Labels: enhancement, model

#2757 Simplify the message cache
  src/cache/event.rs
  src/cache/mod.rs
  src/client/event_handler.rs
Labels: enhancement, client, cache, breaking change, command_attr

#2755 Upgrade to small-fixed-array 0.4
  Cargo.toml
  src/cache/event.rs
  src/gateway/mod.rs
  src/http/client.rs
  src/http/error.rs
  src/model/application/command_interaction.rs
  src/model/application/component.rs
  src/model/channel/mod.rs
  src/model/channel/reaction.rs
  src/model/guild/audit_log/change.rs
  src/model/guild/mod.rs
  src/model/user.rs
  src/utils/content_safe.rs
  src/utils/message_builder.rs
  src/utils/quick_modal.rs
  tests/test_reaction.rs
Labels: enhancement, model, cache, http, utils, gateway, breaking change

#2762 Remove outdated comment
  src/gateway/bridge/shard_runner.rs
Labels: enhancement, gateway

#2750 Avoid HashMap in ShardQueue
  src/gateway/bridge/shard_queuer.rs
Labels: enhancement, gateway

#2765 Switch to a generic type argument for `ClientBuilder::data`
  examples/e11_global_data/src/main.rs
  src/client/mod.rs
Labels: enhancement, client, breaking change, examples

#2766 Fix VoiceServerUpdate::guild_id being wrapped in Option
  src/gateway/bridge/shard_runner.rs
  src/model/event.rs
Labels: enhancement, model, gateway, breaking change

#2767 Improve MessageBuilder to fit with other builders
  src/utils/message_builder.rs
Labels: enhancement, utils, breaking change

#2768 Fill message cache with ChannelId::messages and ChannelId::pins
  src/builder/get_messages.rs
  src/cache/mod.rs
  src/http/mod.rs
  src/model/channel/channel_id.rs
Labels: enhancement, model, builder, cache, http, breaking change

#2764 Defer deserialisation of Dispatch to handle errors
  src/gateway/bridge/shard_runner.rs
  src/gateway/shard.rs
  src/gateway/ws.rs
  src/model/event.rs
Labels: model, gateway

#2770 Remove duplicate `external_emojis` accessor
  src/model/permissions.rs
Labels: fix, model, breaking change

#2771 Remove `CreateAttachment::id` field
  src/builder/create_attachment.rs
  src/http/client.rs
  src/http/multipart.rs
Labels: builder, http

#2773 update last_message_id for cache when new message arrives
  src/cache/event.rs
Labels: enhancement, cache

#2777 Add Clone to Interactions Endpoint Verifier
  src/interactions_endpoint.rs
Labels: enhancement

#2679 Add UserPublicFlags::SPAMMER
  src/model/user.rs
Labels: model

#2779 Remove comment about bots not being able to send stickers
  src/model/sticker.rs
Labels: enhancement, docs, model

#2778 Add changelog for 0.12.1
  CHANGELOG.md
Labels: enhancement, docs
