Repository serenity-rs/serenity, pull requests merged in 2024-10, with the labels that each got.

#2968 Allowed embeds to be optional in followup messages
  src/builder/create_interaction_response_followup.rs
Labels: builder

#2985 Swap Vec<T> for Cow<[T]> in CreateActionRow::Buttons
  src/builder/create_components.rs
  src/builder/mod.rs
Labels: enhancement, builder, breaking change

#2987 Add builder for Http::get_entitlements
  src/builder/get_entitlements.rs
  src/builder/mod.rs
  src/model/monetization.rs
Labels: enhancement, model, builder

#2989 Backport: Remove more json! usage
  src/builder/create_components.rs
  src/builder/create_interaction_response.rs
  src/http/client.rs
  src/model/application/component_interaction.rs
Labels: enhancement, model, builder, http

#2982 Add support for voice status
  src/builder/edit_channel.rs
  src/http/client.rs
  src/http/routing.rs
Labels: enhancement, discord feature, builder, http

#2992 Replace a serde::Serialize derive with simpler manual serialize
  src/model/channel/mod.rs
Labels: enhancement, model

#2988 Fix clippy warnings
  .github/workflows/lint.yml
  command_attr/src/attributes.rs
  command_attr/src/lib.rs
  src/builder/create_attachment.rs
  src/builder/create_channel.rs
  src/builder/create_components.rs
  src/builder/create_forum_post.rs
  src/builder/create_invite.rs
  src/builder/create_scheduled_event.rs
  src/builder/create_stage_instance.rs
  src/builder/create_sticker.rs
  src/builder/create_thread.rs
  src/builder/create_webhook.rs
  src/builder/edit_automod_rule.rs
  src/builder/edit_channel.rs
  src/builder/edit_guild.rs
  src/builder/edit_guild_welcome_screen.rs
  src/builder/edit_guild_widget.rs
  src/builder/edit_member.rs
  src/builder/edit_profile.rs
  src/builder/edit_role.rs
  src/builder/edit_scheduled_event.rs
  src/builder/edit_stage_instance.rs
  src/builder/edit_sticker.rs
  src/builder/edit_thread.rs
  src/builder/edit_webhook.rs
  src/cache/mod.rs
  src/cache/wrappers.rs
  src/client/context.rs
  src/client/event_handler.rs
  src/client/mod.rs
  src/collector.rs
  src/framework/mod.rs
  src/framework/standard/args.rs
  src/gateway/shard.rs
  src/http/client.rs
  src/http/ratelimiting.rs
  src/model/channel/channel_id.rs
  src/model/channel/embed.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/reaction.rs
  src/model/colour.rs
  src/model/guild/audit_log/utils.rs
  src/model/guild/emoji.rs
  src/model/guild/guild_id.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/guild/role.rs
  src/model/id.rs
  src/model/invite.rs
  src/model/user.rs
  src/model/utils.rs
  src/utils/custom_message.rs
  src/utils/message_builder.rs
  src/utils/quick_modal.rs
  voice-model/src/util.rs
Labels: enhancement, framework, voice, model, client, builder, cache, http, utils, gateway, command_attr, ci

#2959 Document rule for attachment names for proper functioning in embeds
  src/builder/create_embed.rs
Labels: builder

#2997 Replace outdated secrecy library with own impl
  Cargo.toml
  src/gateway/sharding/mod.rs
  src/gateway/sharding/shard_queuer.rs
  src/http/client.rs
  src/http/ratelimiting.rs
  src/internal/prelude.rs
  src/lib.rs
  src/model/utils.rs
  src/model/webhook.rs
  src/secret_string.rs
Labels: model, http, gateway

#2999 Check for lints which change public API
  clippy.toml
  src/gateway/client/event_handler.rs
  src/http/request.rs
  src/lib.rs
  src/model/channel/channel_id.rs
  src/model/channel/message.rs
  src/model/guild/guild_id.rs
  src/model/timestamp.rs
  src/model/webhook.rs
Labels: model, http, gateway

#3000 Stop using serde_json::Value in AutocompleteChoice::value
  examples/testing/src/main.rs
  src/builder/create_interaction_response.rs
Labels: builder, examples

#3002 Lower log level for unexpected WebSocket disconnects
  src/gateway/shard.rs
Labels: enhancement, gateway

#3003 Change `ShardRunner::request_restart`'s return type to nothing
  src/gateway/bridge/shard_runner.rs
Labels: enhancement, gateway

#3004 Remove `Result` from `ShardRunner::recv`'s return type
  src/gateway/bridge/shard_runner.rs
Labels: enhancement, gateway

#3001 Add partial_member_permissions on Guild and PartialGuild
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
Labels: enhancement, model

#3005 Make fields of BulkBanResponse public
  src/http/client.rs
  src/model/guild/mod.rs
Labels: fix, model, http

#3010 feat: Make FullEvent serializeable
  src/gateway/client/event_handler.rs
  src/gateway/sharding/mod.rs
  src/http/mod.rs
  src/http/ratelimiting.rs
  src/model/id.rs
Labels: model, http, gateway
