Repository serenity-rs/serenity, pull requests merged in 2024-07, with the labels that each got.

#2913 Implement From<Button> for CreateButton
  src/builder/create_components.rs
Labels: enhancement, builder

#2914 Add display_name method to user
  src/model/user.rs
Labels: model

#2916 Bump MSRV to Rust 1.79
  README.md
Labels: enhancement, breaking change

#2917 Fix null error in InstallationContextConfig
  src/model/application/mod.rs
Labels: fix, model

#2919 Clean up references on format! macros
  examples/e05_command_framework/src/main.rs
  examples/e10_collectors/src/main.rs
  src/framework/standard/help_commands.rs
  src/model/channel/attachment.rs
Labels: framework, model, examples

#2920 Add support for Application Emojis
  src/client/context.rs
  src/http/client.rs
  src/http/routing.rs
Labels: enhancement, discord feature, client, http

#2905 Add support for premium buttons
  src/builder/create_components.rs
  src/builder/create_interaction_response.rs
  src/model/application/component.rs
  src/model/application/mod.rs
  src/model/monetization.rs
Labels: enhancement, discord feature, model, builder

#2926 Add method to retrieve the Role icon url
  src/model/guild/role.rs
Labels: enhancement, discord feature, model
