Repository serenity-rs/serenity, pull requests merged in 2024-08, with the labels that each got.

#2928 Remove deprecated `CreateInteractionResponse::PremiumRequired` variant
  src/builder/create_interaction_response.rs
Labels: enhancement, builder, breaking change

#2935 Add `OAuth2Token`, `OAuth2TokenRevocation`, and `OAuth2AuthorizationCurrent` to `Route`
  src/http/client.rs
  src/http/routing.rs
Labels: enhancement, discord feature, http

#2945 Remove cache feature gate from (`Partial`)`Guild::member_permissions`
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
Labels: model

#2939 Add missing fields to CurrentApplicationInfo
  src/model/application/mod.rs
Labels: model

#2947 Merge `client` feature/module into `gateway`
  .github/workflows/ci.yml
  Cargo.toml
  build.rs
  examples/e01_basic_ping_bot/Cargo.toml
  examples/e02_transparent_guild_sharding/Cargo.toml
  examples/e03_struct_utilities/Cargo.toml
  examples/e04_message_builder/Cargo.toml
  examples/e05_sample_bot_structure/Cargo.toml
  examples/e06_env_logging/Cargo.toml
  examples/e07_shard_manager/Cargo.toml
  examples/e08_create_message_builder/Cargo.toml
  examples/e09_collectors/Cargo.toml
  examples/e10_gateway_intents/Cargo.toml
  examples/e12_parallel_loops/Cargo.toml
  examples/e13_sqlite_database/Cargo.toml
  examples/e14_message_components/Cargo.toml
  examples/e15_webhook/Cargo.toml
  examples/testing/Cargo.toml
  src/cache/mod.rs
  src/client/error.rs
  src/error.rs
  src/framework/mod.rs
  src/gateway/bridge/event.rs
  src/gateway/bridge/mod.rs
  src/gateway/bridge/shard_runner_message.rs
  src/gateway/client/context.rs
  src/gateway/client/dispatch.rs
  src/gateway/client/event_handler.rs
  src/gateway/client/mod.rs
  src/gateway/mod.rs
  src/gateway/sharding/mod.rs
  src/gateway/sharding/shard_manager.rs
  src/gateway/sharding/shard_messenger.rs
  src/gateway/sharding/shard_queuer.rs
  src/gateway/sharding/shard_runner.rs
  src/gateway/voice.rs
  src/gateway/ws.rs
  src/http/client.rs
  src/http/mod.rs
  src/lib.rs
  src/model/application/command.rs
  src/model/application/command_interaction.rs
  src/model/application/component_interaction.rs
  src/model/channel/attachment.rs
  src/model/error.rs
  src/model/event.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
  src/model/user.rs
  src/prelude.rs
  src/utils/argument_convert/message.rs
  src/utils/content_safe.rs
  src/utils/mod.rs
  src/utils/quick_modal.rs
Labels: enhancement, framework, model, client, cache, http, utils, gateway, breaking change, examples, ci

#2946 Add support for the Get Guild Role endpoint
  src/http/client.rs
  src/model/guild/guild_id.rs
Labels: enhancement, discord feature, model, http

#2953 Remove methods on `ClientBulder` that don't serve a purpose
  src/gateway/client/mod.rs
Labels: enhancement, gateway, breaking change

#2954 Fix and make `edit_role_position` plural
  src/builder/edit_role.rs
  src/http/client.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
Labels: model, builder, http

#2955 Fix model functions using SerializeIter
  src/http/client.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/utils.rs
Labels: fix, model, http, breaking change

#2952 Remove `InternalEventHandler`
  src/gateway/client/dispatch.rs
  src/gateway/client/event_handler.rs
  src/gateway/client/mod.rs
  src/gateway/sharding/shard_manager.rs
  src/gateway/sharding/shard_queuer.rs
  src/gateway/sharding/shard_runner.rs
Labels: enhancement, gateway, breaking change

#2960 Add support for get_sticker_pack_by_id endpoint
  src/http/client.rs
  src/http/routing.rs
  src/model/sticker.rs
Labels: model, http

#2957 Truncate cache if `max_messages` is set to a lower value at runtime
  src/cache/mod.rs
Labels: cache, command_attr

#2962 Update guild member flags
  src/model/guild/member.rs
Labels: model
