Repository serenity-rs/serenity, pull requests merged in 2025-04, with the labels that each got.

#3338 don't validate/replace bearer tokens
  src/secrets.rs
Labels: fix

#3339 fix incorrect CommandPermissionType for `@everyone`.
  src/builder/create_command_permission.rs
Labels: fix, builder

#3336 Remove precise capture clause on `collect` method
  src/collector/mod.rs
Labels: enhancement, collector

#3026 Split GuildThread from GuildChannel
  Cargo.toml
  examples/e12_parallel_loops/src/main.rs
  examples/testing/src/main.rs
  examples/testing/src/model_type_sizes.rs
  src/builder/create_allowed_mentions.rs
  src/builder/create_components.rs
  src/builder/create_embed.rs
  src/builder/create_message.rs
  src/builder/create_scheduled_event.rs
  src/builder/edit_channel.rs
  src/builder/edit_guild_welcome_screen.rs
  src/builder/edit_message.rs
  src/builder/edit_thread.rs
  src/builder/edit_webhook_message.rs
  src/builder/execute_webhook.rs
  src/builder/get_messages.rs
  src/cache/event.rs
  src/cache/mod.rs
  src/collector/mod.rs
  src/gateway/client/dispatch.rs
  src/gateway/client/event_handler.rs
  src/http/client.rs
  src/http/ratelimiting.rs
  src/http/routing.rs
  src/http/typing.rs
  src/model/application/command_interaction.rs
  src/model/application/component_interaction.rs
  src/model/application/modal_interaction.rs
  src/model/channel/channel_id.rs
  src/model/channel/followed_channel.rs
  src/model/channel/guild_channel.rs
  src/model/channel/interaction_channel.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/channel/partial_channel.rs
  src/model/channel/private_channel.rs
  src/model/channel/reaction.rs
  src/model/channel/thread.rs
  src/model/event.rs
  src/model/guild/audit_log/mod.rs
  src/model/guild/automod.rs
  src/model/guild/member.rs
  src/model/guild/mod.rs
  src/model/id.rs
  src/model/mention.rs
  src/model/user.rs
  src/model/webhook.rs
  src/utils/argument_convert/channel.rs
  src/utils/argument_convert/emoji.rs
  src/utils/argument_convert/guild.rs
  src/utils/argument_convert/member.rs
  src/utils/argument_convert/message.rs
  src/utils/argument_convert/mod.rs
  src/utils/argument_convert/role.rs
  src/utils/argument_convert/user.rs
  src/utils/content_safe.rs
  src/utils/custom_message.rs
  src/utils/message_builder.rs
  src/utils/mod.rs
Labels: enhancement, model, builder, cache, http, utils, gateway, breaking change, examples, collector

#3342 Fix out of order cache updates
  src/gateway/client/dispatch.rs
  src/gateway/client/event_handler.rs
  src/gateway/sharding/shard_runner.rs
Labels: enhancement, gateway

#3343 Rework Id -> Channel methods
  examples/testing/src/main.rs
  src/model/channel/channel_id.rs
  src/model/channel/message.rs
  src/model/channel/thread.rs
Labels: model, examples

#3344 Fix channels that should be threads
  src/model/channel/mod.rs
  src/model/channel/thread.rs
  src/model/event.rs
Labels: model

#3345 Fix shard runner info
  Cargo.toml
  examples/e07_shard_manager/src/main.rs
  src/gateway/client/context.rs
  src/gateway/sharding/shard_manager.rs
  src/gateway/sharding/shard_runner.rs
Labels: enhancement, gateway, breaking change, examples

#3322 Change `CreateAttachment` to stream data from disk when possible
  examples/e08_create_message_builder/src/main.rs
  src/builder/create_attachment.rs
  src/builder/create_forum_post.rs
  src/builder/create_interaction_response.rs
  src/builder/create_interaction_response_followup.rs
  src/builder/create_message.rs
  src/builder/create_scheduled_event.rs
  src/builder/create_webhook.rs
  src/builder/edit_guild.rs
  src/builder/edit_interaction_response.rs
  src/builder/edit_message.rs
  src/builder/edit_profile.rs
  src/builder/edit_role.rs
  src/builder/edit_scheduled_event.rs
  src/builder/edit_webhook.rs
  src/builder/edit_webhook_message.rs
  src/builder/execute_webhook.rs
  src/error.rs
  src/http/client.rs
  src/http/error.rs
  src/http/multipart.rs
  src/http/ratelimiting.rs
  src/http/request.rs
  src/model/channel/channel_id.rs
  src/model/guild/mod.rs
  src/model/user.rs
Labels: model, builder, http, examples

#3349 Update extract_map to 0.3
  Cargo.toml
  src/internal/prelude.rs
  src/internal/utils.rs
  src/model/application/command_interaction.rs
  src/model/event.rs
  src/model/guild/partial_guild.rs
Labels: model

#3346 Add missing CacheUpdate implementations
  src/cache/event.rs
  src/gateway/client/dispatch.rs
  src/model/event.rs
  src/model/guild/mod.rs
  src/model/guild/scheduled_event.rs
Labels: enhancement, model, cache, gateway, breaking change

#3352 More followups to Thread Split PR
  src/builder/create_forum_post.rs
  src/builder/create_thread.rs
  src/http/client.rs
  src/model/channel/channel_id.rs
  src/model/channel/message.rs
  src/model/channel/mod.rs
  src/model/channel/thread.rs
  src/model/event.rs
  src/model/guild/audit_log/mod.rs
Labels: fix, model, builder, http

#3340 Use `Acquire`/`Release` ordering for the application ID
  src/http/client.rs
Labels: fix, http
