Repository serenity-rs/serenity, pull requests merged in 2025-06, with the labels that each got.

#3371 Fix clippy warnings/MSRV on current
  .github/workflows/ci.yml
  src/client/mod.rs
  src/framework/standard/parse/mod.rs
  src/gateway/bridge/shard_manager.rs
  src/gateway/bridge/shard_runner.rs
  src/gateway/shard.rs
  src/gateway/ws.rs
  src/http/ratelimiting.rs
  src/http/request.rs
Labels: enhancement, framework, client, http, gateway, ci

#3370 Update CacheUpdate for GuildUpdateEvent
  src/cache/event.rs
Labels: enhancement, cache

#3369 Don't wait for websocket to close on Shard disconnect
  src/gateway/sharding/mod.rs
  src/gateway/sharding/shard_runner.rs
  src/gateway/ws.rs
Labels: fix, gateway

#3377 Fix Ord impl for Role
  src/model/guild/role.rs
Labels: model
