Repository serenity-rs/serenity, pull requests merged in 2025-01, with the labels that each got.

#3087 Fix clippy lints
  src/http/client.rs
  src/internal/macros.rs
  src/model/colour.rs
  src/model/id.rs
  src/model/permissions.rs
Labels: enhancement, model, http

#3090 Deprecate ContentSafeOptions::show_discriminator
  src/utils/content_safe.rs
Labels: enhancement, utils

#3092 Add message_snapshots on Message
  src/model/channel/message.rs
Labels: enhancement, discord feature, model

#3094 Implement `Eq` (and `PartialEq`) for `ActivityData`
  src/gateway/mod.rs
Labels: enhancement, gateway

#3061 Change MessageUpdateEvent to just contain a full Message
  examples/e09_collectors/src/main.rs
  examples/testing/src/main.rs
  src/cache/event.rs
  src/gateway/client/dispatch.rs
  src/gateway/client/event_handler.rs
  src/model/event.rs
Labels: enhancement, model, cache, gateway, breaking change, examples, needs-testing

#3098 Rename `dep_time` dependency to `time`
  Cargo.toml
  src/model/timestamp.rs
Labels: enhancement, model

#3099 Gateway cleanup
  src/constants.rs
  src/gateway/error.rs
  src/gateway/sharding/mod.rs
  src/gateway/sharding/shard_runner.rs
  src/lib.rs
Labels: enhancement, gateway, breaking change
