Repository serenity-rs/serenity, pull requests merged in 2025-02, with the labels that each got.

#3102 Fix disconnections on successful gateway resume
  src/gateway/sharding/shard_runner.rs
Labels: fix, gateway

#3104 Fixed token parsing
  src/secrets.rs
Labels: fix

#3105 Fix Heartbeat gateway event handling
  src/gateway/shard.rs
  src/model/event.rs
Labels: enhancement, discord feature, model, gateway

#3115 Remove deprecated field inside `GatewayEvent::Heartbeat`
  src/gateway/sharding/mod.rs
  src/model/event.rs
Labels: model, gateway

#3114 Avoid temporarily deserializing gateway messages to an untyped enum+map tree
  Cargo.toml
  src/gateway/sharding/mod.rs
  src/gateway/ws.rs
  src/model/event.rs
Labels: enhancement, model, gateway, breaking change

#3108 Merge `ShardQueuer` functionality into `ShardManager`
  examples/e07_shard_manager/src/main.rs
  src/gateway/client/context.rs
  src/gateway/client/mod.rs
  src/gateway/sharding/mod.rs
  src/gateway/sharding/shard_manager.rs
  src/gateway/sharding/shard_messenger.rs
  src/gateway/sharding/shard_queue.rs
  src/gateway/sharding/shard_queuer.rs
  src/gateway/sharding/shard_runner.rs
Labels: enhancement, gateway, breaking change, examples

#3121 Fix ShardQueue batch size bug
  src/gateway/sharding/shard_manager.rs
  src/gateway/sharding/shard_queue.rs
Labels: fix, gateway, breaking change

#3126 Bump MSRV to 1.85 and switch to the 2024 edition
  .github/workflows/ci.yml
  Cargo.toml
  README.md
  examples/e01_basic_ping_bot/Cargo.toml
  examples/e02_transparent_guild_sharding/Cargo.toml
  examples/e03_struct_utilities/Cargo.toml
  examples/e04_message_builder/Cargo.toml
  examples/e05_sample_bot_structure/Cargo.toml
  examples/e06_env_logging/Cargo.toml
  examples/e07_shard_manager/Cargo.toml
  examples/e08_create_message_builder/Cargo.toml
  examples/e08_create_message_builder/src/main.rs
  examples/e09_collectors/Cargo.toml
  examples/e10_gateway_intents/Cargo.toml
  examples/e11_global_data/Cargo.toml
  examples/e11_global_data/src/main.rs
  examples/e12_parallel_loops/Cargo.toml
  examples/e13_sqlite_database/Cargo.toml
  examples/e14_message_components/Cargo.toml
  examples/e15_webhook/Cargo.toml
  examples/e16_interactions_endpoint/Cargo.toml
  rustfmt.toml
  src/builder/create_allowed_mentions.rs
  src/cache/mod.rs
  src/cache/wrappers.rs
  src/collector/mod.rs
  src/collector/quick_modal.rs
  src/error.rs
  src/gateway/client/mod.rs
  src/gateway/sharding/mod.rs
  src/gateway/sharding/shard_manager.rs
  src/gateway/sharding/shard_runner.rs
  src/gateway/ws.rs
  src/http/client.rs
  src/http/ratelimiting.rs
  src/http/request.rs
  src/http/typing.rs
  src/internal/tokio.rs
  src/lib.rs
  src/model/application/component.rs
  src/model/application/interaction.rs
  src/model/channel/guild_channel.rs
  src/model/channel/message.rs
  src/model/channel/reaction.rs
  src/model/event.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/mention.rs
  src/model/mod.rs
  src/model/timestamp.rs
  src/model/voice.rs
  src/prelude.rs
  src/secrets.rs
  src/utils/argument_convert/mod.rs
  src/utils/content_safe.rs
  src/utils/formatted_timestamp.rs
  src/utils/message_builder.rs
  voice-model/benches/de.rs
Labels: enhancement, voice, model, builder, cache, http, utils, gateway, breaking change, examples, ci, collector
