Repository serenity-rs/serenity, pull requests merged in 2025-07, with the labels that each got.

#3381 Add support for editing flags on Webhook/Interaction responses
  src/builder/edit_interaction_response.rs
  src/builder/edit_webhook_message.rs
Labels: enhancement, discord feature, builder

#3380 Add `flags` to `EditWebhookMessage` and `EditInteractionResponse`
  src/builder/edit_interaction_response.rs
  src/builder/edit_message.rs
  src/builder/edit_webhook_message.rs
Labels: enhancement, discord feature, builder

#3384 Fixed missing cache variable with "temp_cache" feature enabled
  src/model/channel/channel_id.rs
  src/model/channel/thread.rs
Labels: fix, model

#3389 Fix clippy
  .github/workflows/ci.yml
  examples/e15_simple_dashboard/src/main.rs
  src/builder/create_interaction_response.rs
Labels: builder, examples, ci

#3390 Add method for obtaining the guild id of a `Channel`
  src/model/channel/mod.rs
Labels: enhancement, model

#3394 Add `get_user_voice_state` endpoint
  src/http/client.rs
  src/model/guild/guild_id.rs
Labels: enhancement, discord feature, model, http

#2956 Add support for new `POLL_RESULT` and `PURCHASE_NOTIFICATION` message types
  src/model/channel/message.rs
Labels: enhancement, discord feature, model

#3395 Add new AutoMod type for quarantined users
  src/model/guild/audit_log/mod.rs
Labels: model, builder, http, examples, ci

#3378 Clean up Result types for WsClient
  src/gateway/sharding/mod.rs
  src/gateway/ws.rs
Labels: gateway

#3053 Remove ArgumentConvert trait and implementations
  src/utils/argument_convert/_template.rs
  src/utils/argument_convert/channel.rs
  src/utils/argument_convert/emoji.rs
  src/utils/argument_convert/guild.rs
  src/utils/argument_convert/member.rs
  src/utils/argument_convert/message.rs
  src/utils/argument_convert/mod.rs
  src/utils/argument_convert/role.rs
  src/utils/argument_convert/user.rs
  src/utils/mod.rs
Labels: enhancement, utils, breaking change

#3399 Directly serialize `CreateSoundboard`
  src/builder/create_soundboard.rs
Labels: enhancement, builder
