Repository serenity-rs/serenity, pull requests merged in 2025-10, with the labels that each got.

#3427 Add support for guild tags, avatar decorations, and nameplates
  src/cache/event.rs
  src/gateway/bridge/shard_queuer.rs
  src/model/application/interaction.rs
  src/model/event.rs
  src/model/gateway.rs
  src/model/guild/member.rs
  src/model/user.rs
Labels: enhancement, discord feature, model, cache, gateway

#3428 Change from `doc_auto_cfg` to `doc_cfg` feature
  src/lib.rs
Labels: docs, fix

#3417 Add after param to get_audit_logs endpoint.
  src/http/client.rs
  src/model/guild/guild_id.rs
Labels: enhancement, discord feature, model, http, breaking change

#3426 Add support for gradient roles
  src/builder/edit_role.rs
  src/model/colour.rs
  src/model/guild/role.rs
Labels: enhancement, discord feature, model, builder

#3415 Create MessageLink struct
  src/model/channel/message.rs
Labels: enhancement, model, breaking change
