Repository serenity-rs/serenity, pull requests merged in 2025-05, with the labels that each got.

#3362 Add support for GET method to Route::GuildBan (#3341)
  src/http/client.rs
  src/model/guild/guild_id.rs
  src/model/guild/mod.rs
  src/model/guild/partial_guild.rs
Labels: enhancement, discord feature, model, http

#3353 Implement ShardManager::get_shutdown_trigger
  src/gateway/client/mod.rs
  src/gateway/sharding/shard_manager.rs
Labels: enhancement, gateway, breaking change

#3357 Solve low hanging fruit causing large future sizes
  src/builder/create_message.rs
  src/http/client.rs
  src/http/multipart.rs
  src/http/ratelimiting.rs
  src/http/request.rs
  src/model/channel/channel_id.rs
  src/model/channel/guild_channel.rs
  src/model/channel/thread.rs
  src/model/user.rs
Labels: enhancement, model, builder, http, breaking change

#3367 Fix clippy warnings from clippy::unwrap_used
  .github/workflows/ci.yml
  Cargo.toml
  src/framework/standard/help_commands.rs
  src/http/request.rs
  src/model/channel/message.rs
  src/model/user.rs
  src/utils/message_builder.rs
Labels: enhancement, framework, model, http, utils, ci

#3355 Always restart if the `WsClient` encounters an error
  src/gateway/sharding/shard_runner.rs
Labels: fix, gateway
